<div *ngIf="showApp">
  <div class="row mb-2">
    <div class="col mt-auto">
      <div class="mtc-title mb-0">Pesquisa de materiais</div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="onFilter()"
          [disabled]="materiaisLoader || searching">
          <i class="fas fa-search"></i>
          <span>Pesquisar</span>
        </button>
      </div>
    </div>
  </div>
  <advanced-filter class="mb-4">
    <form [formGroup]="form">
      <div class="form-row">
        <div class="form-group col-lg-2">
          <label for="codLinha">Linha</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [items]="linhas"
            formControlName="codLinha"
            [virtualScroll]="true"
            placeholder="Selecione..."
            labelForId="codLinha"
            bindLabel="descricao"
            bindValue="id"
            (change)="onChangeLinha($event.id, true)"
            [ngClass]="onFieldError('codLinha') + ' ' + onFieldRequired(form.controls.codLinha)">
          </ng-select>
        </div>
        <div class="form-group col-lg-3">
          <label for="codClasse">Classe</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [items]="filteredClasses"
            formControlName="codClasse"
            [virtualScroll]="true"
            labelForId="codClasse"
            placeholder="Selecione..."
            bindLabel="nomeClasse"
            bindValue="idClasse"
            (change)="onChangeClasse($event.idClasse, true, 'application')">
          </ng-select>
        </div>
        <div class="form-group col-lg-4">
          <label for="codMaterial">Material</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [items]="materiais"
            formControlName="codMaterial"
            [virtualScroll]="true"
            placeholder="Selecione..."
            labelForId="codMaterial"
            bindLabel="codigoDescricaoMaterial"
            bindValue="codigoMaterial"
            [loading]="materiaisLoader"
            loadingText="Carregando...">
          </ng-select>
        </div>
        <div class="form-group col-lg-2">
          <label for="comEstoque">Somente c/ estoque</label>
          <select
            class="form-control custom-select"
            id="comEstoque"
            formControlName="comEstoque"
            [ngClass]="onFieldError('comEstoque') + ' ' + onFieldRequired(form.controls.comEstoque)">
            <option value="0">Exibir todos</option>
            <option value="1">Sim</option>
            <option value="2">Não</option>
          </select>
          <invalid-form-control [show]="onFieldInvalid('comEstoque')" message="Estoque é obrigatório."></invalid-form-control>
        </div>
        <div class="form-group col-lg-1">
          <label for="registros">Registros</label>
          <select
            class="form-control custom-select"
            id="registros"
            formControlName="registros">
            <option>100</option>
            <option>200</option>
            <option>300</option>
          </select>
        </div>
      </div>
    </form>
  </advanced-filter>
  <div *ngIf="dados.length > 0 && !dadosEmpty">
    <div class="row">
      <div class="col my-auto">
        <subtitles [data]="subtitles" [show]="true"></subtitles>
      </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-end">
          <div class="form-group pt-1 mb-0 mr-3">
            <div class="custom-control custom-checkbox">
              <input
               type="checkbox"
               class="custom-control-input"
               id="auto-scroll"
               [(ngModel)]="autoScroll"
               [ngModelOptions]="{ standalone: true }">
              <label class="custom-control-label" for="auto-scroll">
                <span class="mr-1">Auto-scroll</span>
                <ng-template #tooltipAutoScrollTemplate>
                  <p class="text-nowrap mb-0">Habilitar essa opção</p>
                  <p class="text-nowrap mb-0">redireciona para o carrinho</p>
                  <p class="text-nowrap mb-0">ao adicionar um material</p>
                </ng-template>
                <i class="far fa-question-circle" [tooltip]="tooltipAutoScrollTemplate"></i>
              </label>
            </div>
          </div>
          <div class="form-group mb-0">
            <button
              type="button"
              class="btn btn-sm btn-success"
              (click)="onAddMaterial()">
              <i class="fas fa-shopping-cart"></i>
              <span>Adicionar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <custom-table [config]="tableConfig">
          <ng-template #thead let-thead>
            <tr>
              <th
                scope="col"
                class="text-center"
                [ngStyle]="{ width: columSize('disponibilidade') }">
                <btn-icon
                  [icon]="toggleAll ? 'fas fa-check-square' : 'far fa-square'"
                  size="small"
                  (click)="onToggleAll()">
                </btn-icon>
              </th>
              <th
                scope="col"
                class="text-center"
                [ngStyle]="{ width: columSize('codMaterial') }">
                <thead-sorter
                  value="Código"
                  [active]="orderBy == 'codMaterial'"
                  [sort]="orderType"
                  (click)="setOrderBy('codMaterial')">
                </thead-sorter>
              </th>
              <th
                scope="col"
                [ngStyle]="{ width: columSize('nomeMaterial') }">
                <thead-sorter
                  value="Nome do material"
                  [active]="orderBy == 'nomeMaterial'"
                  [sort]="orderType"
                  (click)="setOrderBy('nomeMaterial')">
                </thead-sorter>
              </th>
              <th
                scope="col"
                [ngStyle]="{ width: columSize('nomeLinha') }">
                Linha
              </th>
              <th
                scope="col"
                [ngStyle]="{ width: columSize('nomeDeposito') }">
                Depósito
              </th>
              <th
                scope="col"
                class="text-center"
                [ngStyle]="{ width: columSize('estoqueAtual') }">
                Est. Atual
              </th>
              <th
                scope="col"
                class="text-center"
                [ngStyle]="{ width: columSize('estoqueDisponivel') }">
                Est. Disponível
              </th>
              <th scope="col" [ngStyle]="{ width: columSize('buttons') }"></th>
            </tr>
          </ng-template>
          <ng-template #tbody let-tbody>
            <tr *ngFor="let material of dados; let i = index" [class.table-active]="i == activeRow">
              <td
                class="text-truncate text-center"
                [ngClass]="classStatusBorder(material.disponibilidade)"
                [ngStyle]="{ width: columSize('disponibilidade') }">
                <ng-template #tooltipMaterialSemEstoqueTemplate>
                  <p class="text-nowrap mb-0">Material sem estoque</p>
                </ng-template>
                <btn-icon
                  [icon]="material.checked == 1 ? 'fas fa-check-square' : 'far fa-square'"
                  size="small"
                  [isDisabled]="material.disponibilidade === 1"
                  [tooltip]="tooltipMaterialSemEstoqueTemplate"
                  placement="left"
                  (click)="onCheckMaterial(i, material)">
                </btn-icon>
              </td>
              <td
                class="text-truncate text-center hover"
                [ngStyle]="{ width: columSize('codMaterial') }"
                (click)="onClickMaterial(i, material)">
                {{ material.codMaterial }}
              </td>
              <td
                class="text-truncate hover"
                [ngStyle]="{ width: columSize('nomeMaterial') }"
                (click)="onClickMaterial(i, material)">
                {{ material.nomeMaterial | uppercase }}
              </td>
              <td
                class="text-truncate hover"
                [ngStyle]="{ width: columSize('nomeLinha') }"
                (click)="onClickMaterial(i, material)">
                {{ material.nomeLinha | uppercase }}
              </td>
              <td
                class="text-truncate hover"
                [ngStyle]="{ width: columSize('nomeDeposito') }"
                (click)="onClickMaterial(i, material)">
                {{ material.nomeDeposito | uppercase }}
              </td>
              <td
                class="text-truncate text-center hover"
                [ngStyle]="{ width: columSize('estoqueAtual') }"
                (click)="onClickMaterial(i, material)">
                {{ material.estoqueAtual | number:'1.3-3' }} {{ material.unidade | uppercase }}
              </td>
              <td
                class="text-truncate text-center hover"
                [ngStyle]="{ width: columSize('estoqueDisponivel') }"
                (click)="onClickMaterial(i, material)">
                {{ material.estoqueDisponivel | number:'1.3-3' }} {{ material.unidade | uppercase }}
              </td>
              <td class="text-right" [ngStyle]="{ width: columSize('buttons') }">
                <btn-icon
                  icon="fas fa-warehouse"
                  size="small"
                  class="mr-3"
                  tooltip="Detalhamento do estoque"
                  container="body"
                  (click)="onEstoqueDetalhes(material)">
                </btn-icon>
                <!-- <comercial-ciclo-vendas-cotacoes-formulario-template-button-disponibilidade
                  [index]="i"
                  [codMaterial]="material.codMaterial"
                  [deposito]="{ codDeposito: material.codDeposito, nomeDeposito: material.nomeDeposito, quantidade: material.estoqueAtual, unidade: material.unidade }"
                  (onChange)="onChangeDeposito($event)"
                  (activeRow)="onActiveRow($event)"
                  tooltip="Estoque em outras unidades"
                  container="body">
                </comercial-ciclo-vendas-cotacoes-formulario-template-button-disponibilidade>
                <comercial-ciclo-vendas-cotacoes-formulario-template-button-outros
                  [index]="i"
                  [material]="material"
                  (activeRow)="onActiveRow($event)">
                </comercial-ciclo-vendas-cotacoes-formulario-template-button-outros> -->
              </td>
            </tr>
          </ng-template>
        </custom-table>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="searching === true">
    <div class="col">
      <message
        icon="fas fa-cog fa-spin"
        text="Estamos pesquisando os materiais para você...">
      </message>
    </div>
  </div>
  <div *ngIf="searching === false">
    <div class="row" *ngIf="dadosEmpty && dadosLoaded">
      <div class="col">
        <message
          icon="fas fa-box-open"
          text="Nenhuma informação encontrada">
        </message>
      </div>
    </div>
    <div class="row" *ngIf="dados.length === 0 && !firstSearch">
      <div class="col">
        <message
          icon="fas fa-search"
          text="Preecha os campos acima para pesquisar materiais">
        </message>
      </div>
    </div>
  </div>
</div>
