ul li {
  list-style-type: none;
}

.bgdValueList {
  background-color: #e9ecef;
}

.textUpper {
  font-size: -webkit-xxx-large;
}

.espacamento50 {
  height: 50px;
}

.espacamento20 {
  height: 20px;
}

.espacamento25 {
  height: 25px;
}

.espacamento150 {
  height: 150px;
}

.espacamento250 {
  height: 150px;
}
