<div class="modal-content custom-modal">
    <div class="modal-header">
        <h6 class="modal-title pull-left">Editar datos de cliente </h6>
        <div class="d-flex justify-content-center align-items-center">
            <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="form row">
                <div class="col-md-12">
                    <div class="col mb-0">
                        <label for=""> <strong> DATOS DE CLIENTE </strong> </label>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="mb-0"> <strong> CI </strong></label>
                                        <input type="text" class="form-control"
                                            value="{{datos_cliente.datos_cliente.carnet }}">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="mb-0"> <strong> NIT </strong></label>
                                        <input type="text" class="form-control"
                                            value="{{datos_cliente.datos_cliente.nit }}">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="mb-0 mt-2"> <strong> Nombre completo </strong> </label>
                                        <input type="text" class="form-control"
                                            value="{{datos_cliente.datos_cliente.nombre }}">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="mb-0 mt-2"> <strong> Nombre factura </strong> </label>
                                        <input type="text" class="form-control"
                                            value="{{datos_cliente.datos_cliente.nombre_factura  }}">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="mb-0 mt-2"> <strong> Tipo persona </strong> </label>
                                        <select name="" id="" class="form-control">
                                            <option value="{{ datos_cliente.datos_cliente.id_tipo_persona  }}">{{
                                                datos_cliente.datos_cliente.tipo_persona }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="mb-0 mt-2"> <strong> Email </strong> </label>
                                        <input type="text" class="form-control"
                                            value="{{datos_cliente.datos_cliente.email }}">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="mb-0 mt-2"> <strong>Teléfono </strong> </label>
                                        <input type="text" class="form-control"
                                            value="{{datos_cliente.datos_cliente.telefono }}">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="mb-0 mt-2"> <strong> Celular </strong> </label>
                                        <input type="text" class="form-control"
                                            value="{{datos_cliente.datos_cliente.celular }}">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="mb-0 mt-2"> <strong> Rubro </strong> </label>
                                        <select name="" id="" class="form-control">
                                            <option *ngFor="let cnae of cnaes" [value]="cnae.id_cnae"
                                                [selected]="cnae.id_cnae === datos_cliente.datos_cliente.id_rubro">
                                                {{ cnae.descripcion }}
                                            </option>

                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="mb-0 mt-2"> <strong> Tipo cliente </strong> </label>
                                        <select name="vendedor" class="form-control">
                                            <option *ngFor="let tipo of tipos_clientes" [value]="tipo.id"
                                                [selected]="tipo.id === datos_cliente.datos_cliente.id_tipo_cliente">
                                                {{ tipo.nombre_tipo }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="mb-0 mt-2"> <strong> Vendedor </strong> </label>
                                        <select name="vendedor" class="form-control">
                                            <option *ngFor="let vendedor of vendedoresList" [value]="vendedor.id"
                                                [selected]="vendedor.id === datos_cliente.datos_cliente.id_vendedor">
                                                {{ vendedor.nome }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col mb-0">
                        <label for=""> <strong> DATOS DE CONTACTO </strong> </label>
                    </div>
                    <div style="max-height: 350px; overflow-y: auto;">
                        <div class="form-group col-md-12"
                            *ngFor="let contacto of datos_cliente.datos_contacto; let i = index">
                            <div class="card">
                                <div class="card-body">
                                    <label>Título</label>
                                    <div>
                                        <input [(ngModel)]="contacto.titulo" class="form-control">
                                    </div>
                                    <label>Nombre</label>
                                    <div>
                                        <input [(ngModel)]="contacto.nombre" class="form-control">
                                    </div>
                                    <label>Dirección</label>
                                    <div>
                                        <input [(ngModel)]="contacto.direccion" class="form-control">
                                    </div>
                                    <label>Celular</label>
                                    <div>
                                        <input [(ngModel)]="contacto.celular" class="form-control">
                                    </div>
                                    <label>Teléfono</label>
                                    <div>
                                        <input [(ngModel)]="contacto.telefono" class="form-control">
                                    </div>
                                    <button (click)="eliminarContacto(i)"
                                        class="btn btn-danger mt-2 text-center">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 text-center">
                        <button (click)="agregarContacto()" class="btn btn-primary"
                            [disabled]="datos_cliente.datos_contacto.length >= 5">Agregar Contacto</button>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col mb-0">
                        <label for=""> <strong> DATOS DE UBICACIÓN </strong> </label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            <agm-map [latitude]="latitudPromedio" [longitude]="longitudPromedio" [zoom]="16" (mapClick)="actualizarMapa($event)"
                                class="embed-responsive-item">
                                <agm-marker *ngFor="let ubicacion of datos_cliente.datos_direccion; let i = index"
                                    [latitude]="ubicacion.latitud" [longitude]="ubicacion.longitud"
                                    [iconUrl]="ubicacion.color" (markerClick)="actualizarMarcador(i)"
                                    (markerDragEnd)="actualizarUbicacion(i, $event.coords.lat, $event.coords.lng)">
                                </agm-marker>
                            </agm-map>
                            <div id="map-zoom-control" class="map-control"></div>
                        </div>
                    </div>
                    <div style="max-height: 150px; overflow-y: auto;">
                        <div class="form-group col-md-12"
                            *ngFor="let direccion of datos_cliente.datos_direccion; let i = index">
                            <div class="card">
                                <div class="card-body">
                                    <label>Título</label>
                                    <div>
                                        <input [(ngModel)]="direccion.nombre" class="form-control">
                                    </div>
                                    <label>Ciudad</label>
                                    <div>
                                        <select name="" id="" class="form-control">
                                            <option *ngFor="let ciudad of ciudades" [value]="ciudad.id"
                                                [selected]="ciudad.id === direccion.id_ciudad">
                                                {{ ciudad.nombre_ciudad }}
                                            </option>

                                        </select>
                                    </div>
                                    <label>Dirección</label>
                                    <div>
                                        <input [(ngModel)]="direccion.direccion" class="form-control">
                                    </div>
                                    <button (click)="eliminarUbicacion(i)"
                                        class="btn btn-danger mt-2 text-center">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 text-center">
                        <button (click)="agregarUbicacion()" class="btn btn-primary"
                            [disabled]="datos_cliente.datos_direccion.length >= 5">Agregar Ubicación</button>
                    </div>
                </div>



            </div>
        </div>

    </div>
    <div class="col-md-12">
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onClose()">
                Cancelar
            </button>
            <button type="submit" class="btn btn-success">
                Guardar
            </button>
        </div>
    </div>
</div>