::ng-deep {
    @import 'src/assets/scss/colors.scss';
    @import 'src/assets/scss/variables';
    @import 'src/app/modules/comercial/ciclo-vendas/cotacoes/formulario/formulario.component.scss';

    .nav-tabs {
        border-bottom: none !important;
        align-items: flex-end;
    }

    .nav-tabs .nav-link.active {
        color: #fff;
        background-color: #0008ff;
        border-color: #1235e1; 
        padding-bottom: 6px;
        padding-top: 6px;
    }

    .nav-tabs .nav-link {
        border: 1px solid;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        background-color: #fff;
        border-color: #8e91a0fd; 
        color: #7F849C;
        padding-bottom: 2px;
        padding-top: 2px;
    }

}
table {
    width: 100%;
    border-collapse: collapse;
    /* Otros estilos generales de la tabla */
  }

.table-responsive .custom-table thead {
    background-color: #3498db; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Cambia el color del texto según tus preferencias */
  }