<loader-spinner-full-screen
  *ngIf="loaderFullScreen"
></loader-spinner-full-screen>
<loader-spinner-navbar *ngIf="loaderNavbar"></loader-spinner-navbar>
<app-header appTitle="Cadastro">
  <button
    type="button"
    [disabled]="form.status == 'INVALID'"
    (click)="onSave()"
  >
    Salvar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loaderFullScreen">
  <div class="container">
    <div class="col-md-12">
      <div class="row justify-content-md-center mt-3">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-6">
              <p class="pFont">
                <strong>INTEGRADOR</strong><br />
                {{ Integrador }}
              </p>
            </div>
          </div>
          <form [formGroup]="form" autocomplete="off">
            <div class="form-row">
              <div class="form-group col-lg-6 mb-lg-0">
                <label for="deposito">Depósitos</label>
                <ng-select
                  [searchable]="true"
                  [clearable]="true"
                  [multiple]="true"
                  [items]="depositosFilter"
                  [virtualScroll]="true"
                  [hideSelected]="true"
                  [closeOnSelect]="false"
                  placeholder="Selecione..."
                  bindLabel="NM_DEPO"
                  bindValue="ID"
                  formControlName="depositos"
                  [ngClass]="onFieldRequired('depositos')">
                >
                </ng-select>
                <invalid-form-control [show]="onFieldInvalid('depositos')" message="Depósito é obrigatório."></invalid-form-control>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div
        class="row justify-content-md-center mt-3"
        [hidden]="noResultDepositos"
      >
        <div class="form-group col-md-7">
          <label for="depositosVinculados">Depósitos Vinculados</label>
          <table
            class="table table-sm table-hover border-left border-right border-bottom text-center table-fixed w-100"
          >
            <tbody>
              <tr *ngFor="let item of dadosDepositosAssociados">
                <td class="text-truncate text-left">{{ item.NM_DEPO }}</td>
                <td style="width: 40px;">
                  <button
                    class="btn-icon-sm"
                    style="color: red;"
                    tooltip="Excluir"
                    (click)="onDelete(item)"
                  >
                    <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-body>
