<loader-spinner-full-screen *ngIf="loaderFullScreen"></loader-spinner-full-screen>
<loader-spinner-navbar *ngIf="loaderNavbar"></loader-spinner-navbar>
<app-header appTitle="Painel de decisão de abastecimento">
  <button type="button" [disabled]="form.status === 'INVALID'" (click)="onFilter()">
    Filtrar
  </button>
  <button type="button" (click)="onResetForm()">
    Limpar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loaderFullScreen">
  <advanced-filter>
    <form id="form-abastecimento-painel-decisao-abastecimento" [formGroup]="form">
      <div class="form-row">
        <div class="form-group col-md-3">
            <label for="unidadeAbastecimento">Unidade abastecimento</label>
            <ng-select
            [searchable]="true"
            [clearable]="false"
            [items]="unidades"
            [virtualScroll]="true"
            [multiple]="true"
            [hideSelected]="true"
            [closeOnSelect]="false"
            labelForId="unidade"
            bindLabel="Descricao"
            bindValue="Codigo"
            placeholder="Todas unidades"
            formControlName="unidades"
            >
            </ng-select>
          </div>
        <div class="form-group col-md-3">
          <label for="linha">Linha</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [items]="linhas"
            [virtualScroll]="true"
            [multiple]="true"
            [hideSelected]="true"
            [closeOnSelect]="false"
            maxSelectedItems = 3
            placeholder="Selecione linha"
            bindLabel="linha"
            bindValue="linha"
            formControlName="linhas"
            (change) = "getClasses()"
            [ngClass]="onFieldError('linhas') + ' ' + onFieldRequired('linhas')"
          >
          </ng-select>
          <invalid-form-control
            [show]="onFieldInvalid('linhas')"
            message="Linha é obrigatório.">
          </invalid-form-control>
        </div>
        <div class="form-group col-md-3">
          <label for="classe">Classe</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [items]="classes"
            [virtualScroll]="true"
            [multiple]="true"
            [hideSelected]="true"
            [closeOnSelect]="false"
            maxSelectedItems = 6
            labelForId="classe"
            bindLabel="classeDescricao"
            bindValue="classeId"
            placeholder="Selecione classe"
            formControlName="classes"
            (change) = "getMateriais()"
            [ngClass]="onFieldError('classes') + ' ' + onFieldRequired('classes')"
          >
          </ng-select>
          <invalid-form-control
            [show]="onFieldInvalid('classes')"
            message="Classes é obrigatório.">
          </invalid-form-control>
        </div>
        <div class="form-group col-md-3">
          <label for="ordenacao">Ordenação</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [items]="ordenacao"
            [virtualScroll]="true"
            [hideSelected]="true"
            [closeOnSelect]="false"
            labelForId="ordenacao"
            bindLabel="descricao"
            bindValue="id"
            placeholder="Ordenação"
            formControlName="ordenacao"
          >
          </ng-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="material">Material</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [items]="materiais"
            [virtualScroll]="true"
            [multiple]="true"
            [hideSelected]="true"
            [closeOnSelect]="false"
            maxSelectedItems = 30
            labelForId="material"
            bindLabel="codigoDescricaoMaterial"
            bindValue="codigoMaterial"
            placeholder="Selecione material"
            formControlName="materiais"
          >
          </ng-select>
        </div>
      </div>
    </form>
  </advanced-filter>
  <div class="col-md-12 mb-4">
    <sul-fluminense-cards-materiais></sul-fluminense-cards-materiais>
  </div>
</app-body>
