<div class="modal-content">
  <div class="modal-header">
    <h4 class="mtc-title mb-0 my-auto">#{{ cotacao.nrPedido }} / TROCAR CLIENTE</h4>
    <button type="button" class="close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col">
        <label>Cliente atual</label>
        <p>{{ cotacao.razaoSocial | uppercase }}</p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="codDeposito">Selecione o novo cliente</label>
        <comercial-ciclo-vendas-cotacoes-formulario-template-clientes
          [codCliente]="cotacao.codCliente"
          (onChange)="onChangeCliente($event)">
        </comercial-ciclo-vendas-cotacoes-formulario-template-clientes>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      [disabled]="submittingForm"
      (click)="onClose()">
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="submittingForm"
      (click)="onSubmit()">
      <span *ngIf="!submittingForm">Confirmar</span>
      <span *ngIf="submittingForm">Aguarde</span>
    </button>
  </div>
</div>


