<loader-spinner-full-screen [hidden]="!spinnerFullScreen"></loader-spinner-full-screen>
<loader-spinner-navbar [hidden]="!loaderNavbar"></loader-spinner-navbar>
<app-header [appTitle]="appTitle">
  <button
    (click)="exportarExcel()"
    [disabled]="!noResult"
    >
    Exportar
  </button>
  <button
    [routerLink]="['./tipos-saldos-bancos']"
    >
    Cadastrar Tipos Lançamentos
  </button>
  <button
    [routerLink]="['../novo']"
    >
    Inserir
  </button>
  <button
    (click)="onFilter()"
    >
    Filtrar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree">
  <!-- Início dos Filtros -->
  <advanced-filter #scrollToFilter>
    <form autocomplete="off" [formGroup]="form">
      <div class="form-row justify-content-center">
        <div class="form-group col-md-2">
          <label for="tipo"> Tipos de lancamentos </label>
          <ng-select
            [searchable]="true"
            [clearable]="true"
            [items]="tiposLancamentos"
            [virtualScroll]="true"
            labelForId="tipo"
            bindLabel="DS_BANC_TIPO"
            bindValue="ID_BANC_TIPO"
            placeholder="Selecione..."
            formControlName="ID_BANC_TIPO"
            [ngClass]="onFieldError('ID_BANC_TIPO') + ' ' + onFieldRequired('ID_BANC_TIPO')"
          >
          </ng-select>
          <invalid-form-control
            [show]="onFieldInvalid('ID_BANC_TIPO')"
            message="Tipo de documento é obrigatório.">
          </invalid-form-control>
        </div>
        <div class="form-group col-md-2">
          <label for="tipoLancamentos"> Bancos/Fundos </label>
          <ng-select
            [searchable]="true"
            [clearable]="true"
            [items]="bancos"
            [virtualScroll]="true"
            labelForId="tipoLancamentos"
            bindLabel="DESC_BANCO"
            bindValue="COD_BANCO"
            placeholder="Selecione..."
            formControlName="ID_LANC_BANC"
            [ngClass]="onFieldError('ID_LANC_BANC') + ' ' + onFieldRequired('ID_LANC_BANC')"
          >
          </ng-select>
          <invalid-form-control
            [show]="onFieldInvalid('ID_LANC_BANC')"
            message="Tipo de documento é obrigatório.">
          </invalid-form-control>
        </div>
        <div class="form-group col-md-2">
          <label for="empresa"> Empresas </label>
          <ng-select
            [searchable]="true"
            [clearable]="true"
            [items]="empresas"
            [virtualScroll]="true"
            labelForId="tipoDocumento"
            bindLabel="DESC_EMPR"
            bindValue="COD_EMPR"
            placeholder="Selecione..."
            formControlName="ID_LANC_EMPR"
            [ngClass]="onFieldError('ID_LANC_EMPR') + ' ' + onFieldRequired('ID_LANC_EMPR')"
          >
          </ng-select>
          <invalid-form-control
            [show]="onFieldInvalid('ID_LANC_EMPR')"
            message="Tipo de documento é obrigatório.">
          </invalid-form-control>
        </div>
        <div class="form-group col-md-2">
          <label for="dt_inic"> Data inicial </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
              </span>
            </div>
            <input
            class="form-control"
            id="dt_inic"
            type="text"
            bsDatepicker
            [bsConfig]="bsConfig"
            formControlName="DT_INIC"
            [ngClass]="onFieldError('DT_INIC') + ' ' + onFieldRequired('DT_INIC')"
            >
          </div>
          <invalid-form-control
            [show]="onFieldInvalid('DT_INIC')"
            message="Data inicial é obrigatório.">
          </invalid-form-control>
        </div>
        <div class="form-group col-md-2">
          <label for="dt_fina"> Data final </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
              </span>
            </div>
            <input
            class="form-control"
            id="dt_fina"
            type="text"
            bsDatepicker
            [bsConfig]="bsConfig"
            formControlName="DT_FINA"
            [ngClass]="onFieldError('DT_FINA') + ' ' + onFieldRequired('DT_FINA')"
            >
          </div>
          <invalid-form-control
            [show]="onFieldInvalid('DT_FINA')"
            message="Data final é obrigatório.">
          </invalid-form-control>
        </div>
        <div class="form-group col-md-2">
          <label for="status"> Status </label>
          <ng-select
            [searchable]="true"
            [clearable]="true"
            [items]="status"
            [virtualScroll]="true"
            labelForId="tipo"
            bindLabel="NOME"
            bindValue="COD"
            placeholder="Selecione..."
            formControlName="IN_STAT"
            [ngClass]="onFieldError('IN_STAT') + ' ' + onFieldRequired('IN_STAT')"
          >
          </ng-select>
          <invalid-form-control
            [show]="onFieldInvalid('IN_STAT')"
            message="Tipo de documento é obrigatório.">
          </invalid-form-control>
        </div>
      </div>
    </form>
  </advanced-filter>
  <div class="row">
    <div class="col">
      <subtitles
        [data]="subtitles"
        [show]="noResult">
      </subtitles>
    </div>
  </div>
  <!-- Início da Lista -->
  <div class="row">
    <div [ngClass]="{'col': !showDetailPanel, 'col-8 pr-0': showDetailPanel}">
      <custom-table [config]="tableConfig" [hidden] = "!noResult">
        <ng-template #thead let-thead>
          <tr>
            <th class="text-center" scope="col" style="width: 60px;"> Nr. Lançamento </th>
            <th class="text-center" scope="col" style="width: 100px;"> Tipo Lançamento </th>
            <th class="text-center" scope="col" style="width: 100px;"> Banco/Fundo </th>
            <th class="text-center" scope="col" style="width: 80px;"> Empresa </th>
            <th class="text-center" scope="col" style="width: 80px;" [hidden]="showDetailPanel"> Data de Saldo </th>
            <th class="text-center" scope="col" style="width: 60px;" [hidden]="showDetailPanel"> Valor </th>
            <th class="text-center" style="width:30px" [hidden]="showDetailPanel">Status</th>
            <th class="text-center" style="width:30px" [hidden]="showDetailPanel">Log</th>
            <th class="text-center" style="width:30px" [hidden]="showDetailPanel"></th>
            <th class="text-center" style="width:30px" [hidden]="showDetailPanel"></th>
          </tr>
        </ng-template>
        <ng-template #tbody let-tbody>
          <tr *ngFor="let lista of listas | slice : begin : end; let i = index"
              [ngClass]="{'item-selected':lista.selected}" class="hover text-center">
            <td class="text-center" [ngClass]="{
              'border-success'    : lista.IN_STAT == '1',
              'border-danger'     : lista.IN_STAT == '0'
            }" (click)="openTab(lista); clickEvent(lista)">{{ lista.ID_BANC_SALD }}</td>
            <td class="text-center" (click)="openTab(lista); clickEvent(lista)">{{ lista.DS_BANC_TIPO | uppercase }}</td>
            <td class="text-center" (click)="openTab(lista); clickEvent(lista)">{{ lista.DS_LANC_BANC | uppercase }}</td>
            <td class="text-center" (click)="openTab(lista); clickEvent(lista)">{{ lista.DS_LANC_EMPR | uppercase }}</td>
            <td class="text-center" [hidden]="showDetailPanel" (click)="openTab(lista); clickEvent(lista)">{{ lista.DATA_SALD }}</td>
            <td class="text-end" [hidden]="showDetailPanel" (click)="openTab(lista); clickEvent(lista)">{{ lista.VL_LANC | currency:'BRL' }}</td>
            
            <td class="align-middle px-0" style="width:30px" [hidden]="showDetailPanel">
              <span class="" [tooltip]="lista.IN_STAT == '1' ? 'Inativar' : 'Ativar'" placement="left" container="body">
                <button type="button" class="btn-icon-sm" (click)="openJustificativa(template, lista)">
                  <i [ngClass]="lista.IN_STAT == '1' ? 'fas fa-toggle-on' : 'fas fa-toggle-off'"></i>
                </button>
              </span>
            </td>
            <td class="align-middle px-0" style="width:30px" [hidden]="showDetailPanel">
              <span tooltip="Histórico" placement="left" container="body">
                <button class="btn-icon-sm"  (click)="openLog(lista)">
                  <i class="fas fa-list-ul"></i>
                </button>
              </span>
            </td>
            <td class="align-middle px-0" style="width:30px">
              <span tooltip="Editar" placement="left" container="body">
                <button class="btn-icon-sm" [routerLink]="['./', lista.ID_BANC_SALD]">
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </span>
            </td>
            <td class="align-middle px-0" style="width:30px" [hidden]="showDetailPanel">
              <span tooltip="Duplicar" placement="left" container="body">
                <button class="btn-icon-sm" (click)="onDuplicate(lista)">
                  <i class="fas fa-copy"></i>
                </button>
              </span>
            </td>
          </tr>
        </ng-template>
      </custom-table>
      <div class="mt-3" [hidden]="!noResult">
        Total {{ itemsPerPage*(currentPage - 1) + 1 }} a {{ currentPage*(itemsPerPage) > totalItems ? totalItems : currentPage*(itemsPerPage) }} de {{ totalItems }}
        <pagination
          [maxSize]="10"
          [totalItems]="totalItems"
          [(itemsPerPage)]="itemsPerPage"
          (pageChanged)="onPageChanged($event)"
          [boundaryLinks]="true"
          [(ngModel)]="currentPage"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      </div>
      <empty-result
        message="Nenhuma informação encontrada"
        class="my-3"
        *ngIf="dadosEmpty">
      </empty-result>
    </div>
    <!-- Início da tabela de informações -->
    <div class="col-4" [hidden]="!showDetailPanel">
      <detail-panel [panelTitle]="appTitle">
        <div class="d-flex">
          <div class="col-6 pl-0">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label> Data saldo </label>
                <div class="text-nowrap">{{ item?.DATA_SALD }}</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label> Valor </label>
                <div class="text-nowrap">{{ item?.VL_LANC | currency:'BRL' }}</div>
              </div>
            </div>
          </div>  
          <div class="col-6">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label> Data de inclusão </label>
                <div class="text-nowrap">{{ item?.DATA_INCL }}</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label> Observação </label>
                <div class="text-nowrap">{{ item?.DS_LANC_OBSE }}</div>
              </div>
            </div>
          </div>
        </div>
      </detail-panel>
    </div>
  </div>
  <ng-template #template>
    <form autocomplete="off" [formGroup]="form">
      <div class="modal-header">
        <h6 for="JUSTIFICATIVA"> Justifique sua alteração! </h6>
      </div>
      <div class="modal-body">
        <textarea name="" id="" cols="75" rows="10" formControlName="JUSTIFICATIVA" #JUSTIFICATIVA minlength="10"></textarea>
        <div class="text-right">
          <button  
            type="button" class="btn btn-secondary mr-1" (click)="modalRef.hide()"
            >
            Cancelar 
          </button>
          <button  
            type="button" class="btn btn-primary" (click)="changeType(); modalRef.hide()"
            [disabled]="form.get('JUSTIFICATIVA').status == 'INVALID' || !form.get('JUSTIFICATIVA').value"
            >
            Salvar 
          </button>
        </div>
      </div>
    </form>
  </ng-template>
  <controladoria-lanc-saldos-logs></controladoria-lanc-saldos-logs>
</app-body>

