s<loader-spinner-navbar *ngIf="loadingNavBar"></loader-spinner-navbar>
<loader-spinner-full-screen *ngIf="loading"></loader-spinner-full-screen>
<app-header appTitle="Tipo de Movimentações">
  <button
    type="button"
    [routerLink]="['../novo']">
    Adicionar
  </button>
  <button
    type="button"
    (click)="onFilter()">
    Filtrar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loading">
  <div class="row" #scrollToFilter>
    <div class="col">
      <advanced-filter>
        <form [formGroup]="form" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-lg-2">
              <label for="ID_TECN_INFO_ITEM_ESTO_MOVI_TIPO">ID</label>
              <input
                type="text"
                class="form-control"
                id="ID_TECN_INFO_ITEM_ESTO_MOVI_TIPO"
                formControlName="ID_TECN_INFO_ITEM_ESTO_MOVI_TIPO"
                (keydown.enter)="onFilter()">
            </div>
            <div class="form-group col-lg-4">
              <label for="NM_MOVI_TIPO">Descrição da Movimentação</label>
              <input
                type="text"
                class="form-control"
                id="NM_MOVI_TIPO"
                formControlName="NM_MOVI_TIPO"
                (keydown.enter)="onFilter()">
            </div>
            <div class="form-group col-lg-2">
              <label for="IN_STAT">Situação</label>
              <ng-select
              [searchable]="true"
              [clearable]="true"
              [items]="tipos"
              [virtualScroll]="true"
              labelForId="tipo"
              bindLabel="nome"
              bindValue="cod"
              id="tipo"
              (change)="onFilter()"
              formControlName="IN_STAT"
              placeholder="Selecione..."
            >
              <ng-template ng-option-tmp let-item="item" let-index="index"> {{item.nome}}
              </ng-template>
            </ng-select>
            </div>
          </div>
        </form>
      </advanced-filter>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <subtitles
        [data]="subtitles"
        [show]="!noResult">
      </subtitles>
    </div>
  </div>
  <div class="col-12 p-0" [hidden] = "loading || noResult">
    <div>
      <custom-table  [config]="tableConfig" class="text-center" *ngIf="!noResult">
        <ng-template #thead let-thead>
          <tr>
            <th scope="col">ID </th>
            <th scope="col">Descrição da Movimentação</th>
            <th scope="col" style="width:80px"></th>
          </tr>
        </ng-template>
        <ng-template #tbody let-tbody>
          <tr *ngFor="let tipoMovimentacao of tipoMovimentacoes | slice : begin : end; let i = index">
            <td [ngClass]="tipoMovimentacao.IN_STAT == '1' ? 'border-success' : 'border-danger'">
            {{tipoMovimentacao.ID_TECN_INFO_ESTO_MOVI_TIPO}}
            </td>
            <td>{{ tipoMovimentacao.NM_MOVI_TIPO | uppercase }}</td>
            <td class="align-middle" style="width:70px">
              <span class="mr-3" [tooltip]="tipoMovimentacao.IN_STAT == 1 ? 'Inativar' : 'Ativar'" placement="left" container="body">
                <button type="button" class="btn-icon-sm" (click)="changeType(tipoMovimentacao)">
                  <i [ngClass]="tipoMovimentacao.IN_STAT == '1' ? 'fas fa-toggle-on' : 'fas fa-toggle-off'"></i>
                </button>
              </span>
              <span class="mr-3" tooltip="Editar" placement="left" container="body">
                <button type="button" class="btn-icon-sm" (click)="openRegister(tipoMovimentacao)">
                  <i class="fas fa-edit"></i>
                </button>
              </span>
            </td>
          </tr>
        </ng-template>
      </custom-table><br>
    </div>
    <div>
      Total {{ itemsPerPage*(currentPage - 1) + 1 }} a {{ currentPage*(itemsPerPage) > totalItems ? totalItems : currentPage*(itemsPerPage) }} de {{ totalItems }}
      <pagination
        [maxSize]="10"
        [totalItems]="totalItems"
        (pageChanged)="onPageChanged($event)"
        [(itemsPerPage)]="itemsPerPage"
        [boundaryLinks]="true"
        [(ngModel)]="currentPage"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
      </pagination>
    </div>
  </div>
  <div [hidden]="loading || !noResult" class="text-center d-flex justify-content-center align-items-center" style="height: 80%">
    <empty-result message="Nenhuma informação encontrada"></empty-result>
  </div>
</app-body>