.scroll-regiao-volume {
  height: 550px;
  overflow-y: auto;
  overflow-x: auto;
  max-width: auto;
}

.scroll-relacao-pedidos {
  height: 240px;
  overflow-y: auto;
  overflow-x: auto;
  max-width: auto;
}
