<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Cambiar la contraseña</h4>
    <button type="button" class="close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-row">
        <div class="form-group col-12">
          <label for="senha">Contraseña actual</label>
          <input type="password" class="form-control" id="senha" formControlName="senha"
            autocomplete="new-password"
            [ngClass]="onFieldError('senha') + ' ' + onFieldRequired(form.controls.senha)">
          <invalid-form-control [show]="onFieldInvalid('senha')" message="Contraseña actual es obligatorio.">
          </invalid-form-control>
        </div>
        <div class="form-group col-12">
          <label for="novaSenha">Nueva contraseña</label>
          <input type="password" class="form-control" id="novaSenha" formControlName="novaSenha"
            autocomplete="new-password"
            [ngClass]="onFieldError('novaSenha') + ' ' + onFieldRequired(form.controls.novaSenha)">
          <invalid-form-control [show]="onFieldInvalid('novaSenha')" message="Nueva contraseña es obligatorio.">
          </invalid-form-control>
        </div>
        <div class="form-group col-12">
          <label for="confirmarNovaSenha">Repita la nueva contraseña</label>
          <input type="password" class="form-control" id="confirmarNovaSenha" formControlName="confirmarNovaSenha"
            autocomplete="new-password"
            [ngClass]="onFieldError('confirmarNovaSenha') + ' ' + onFieldRequired(form.controls.confirmarNovaSenha)">
          <invalid-form-control [show]="onFieldInvalid('confirmarNovaSenha')"
            message="Repita nueva contraseña es obligatorio.">
          </invalid-form-control>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="onClose()">
      Cancelar
    </button>
    <button type="button" class="btn btn-primary" (click)="onConfirm()" [disabled]="!form.valid || loading">
      Cambiar contraseña
    </button>
  </div>
</div>