
Body, p, span, h4, h3{
    font-family: arial;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .data {
    text-align: right;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .col {
    flex: 1;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  
  
  td {
    border: 1px solid #000!important;
    padding: 3px;
   // text-align: center;
  }
  
  
  
  input[type='button'] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .header img {
    width: 100px;
    height: auto;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */
  
  
  .custom-modal-content,
  .customer-info,
  .company-info {
    margin-top: 4px;
    //border: 2px solid #ececec;
    border: 2px solid black;
    padding: 10px;
  }
  
  .custom-modal-content2{
    margin-top: 4px;
    //border: 2px solid #ececec;
   /*  border: 2px solid black; */
    padding: 10px;
  }
  
  
  .monterrey-info{
    margin-bottom: 0px;
  
  }
  
  .totalpeso-font{
    font-weight: bold;
   // margin-right: 82px;
  }
  .total {
    margin-top: 0px;
    text-align: right;
    font-weight: bold;
  }
  
  input[type='button'] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .left-div {
    flex: 1;
  }
  
  
  .right-div {
    flex: 1;
    text-align: right;
  }
  
  .smaller-font {
    font-size: 10px;
  }
  
  .tiny-font{
    font-size: 15px;
  }
  
  .medium-font{
    font-size: 20px;
    font-weight: bold;
  }
  
  .cotizacion-font{
    font-size: 30px;
    border-bottom: 3px solid black;
    /* text-decoration: underline; */
    font-weight: bold;
    margin-right: 45px;
    margin-top: 10px;
    margin-left: 5px;
    line-height: 0.9;
  }
  
  
  .descripcion-font {
    font-size: 12px; //10
    white-space: pre-wrap;
    max-width: 200px;
  }
  
  .mensaje-font{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
  }
  
  .custinf-weight{
    font-weight: bold;
  }
  
  .datcotizacion-font{
    font-size: 14px;
    font-weight: 700;
  }
  
  .left-align {
    text-align: left;
  }
  
  .direccion-font{
    font-size: 15px;
    //font-weight: bold;
  }
  
  .entrega-font{
    font-weight: bold;
    font-size: 14px !important;
  }
  
  .negrita-font{
    font-weight: bold;
  }
  
  .upspace{
    margin-top: 10px;
  }
  
  .espaciobot-font{
    margin-bottom: 20px;
  }
  
  .espaciotop-font{
    border-top: 50px;
  }
  
  table tr {
    height: 1px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 380px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .footer-line {
    text-align: center;
    flex: 1;
    position: relative;
  }
  
  .signature-line {
    position: absolute;
    bottom: 40px;
    left: 80px;
    right: 80px;
    border-top: 2px solid #000;
  }
  
  .flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
  }
  
  /* CSS GABI */
  span.span-g{
    font-weight: 400;
    font-size: 15px;
  }
  span.customer-info.custom-modal-content {
    padding: 3px 47px;
  }
  div.info-div p, div.info-div span{
    font-size: 15px;
    margin-bottom: 0;
  }
  div.entrega-font > div.no-bullet {
    margin-bottom: 10px;
  }
  span.customer-info.custom-modal-content {
    display: flex;
    justify-content: space-between;
    padding: 0 12px !important;
  }
  p.totalpeso-font, p.total, span.customer-info{
    font-size: 15px!important;
  }
  #box-value {
    width: 180px ;
  }
  .direccion-font {
    margin-bottom: 0;
    margin-left: 4px;
  }
  
  .box-peso {
    display: flex;
    justify-content: space-between;
  }
  .box-peso span {
    margin-right: 32px;
    font-weight: 600;
  }
  .espacio-dos{
    text-align: center;
    width: 65px;
  }
  
  
  @media screen and (max-width: 1400px) {
  
    .descripcion-font{
      font-size: 10px;
    }
  
  
    .espacio{
      width: 294px;
    }
    .espacio-dos{
      text-align: center;
      width: 55px;
    }
  
    .box-logo{
      margin-right: 40px !important;
    }
    .cotizacion-font {
      font-size: 26px;
      border-bottom: 3px solid black;
      font-weight: bold;
      margin-right: 35px;
      margin-top: 10px;
      margin-left: 5px;
      line-height: 0.9;
  }
  .datcotizacion-font {
    font-weight: 700;
  }
  .info-text {
    margin-right: 0!important;
  }
  table.table{
    font-size: 11px !important;
  }
  
  .mensaje-font{
    font-size: 12px;
  }
  .datcotizacion-font, .info-text span, div.info-div p, div.info-div span, .customer-info.custom-modal-content span{
    font-size: 14px !important;
  }
  .entrega-font {
    font-size: 15px !important;
  }
  .medium-font{
    font-size: 18px;
  }
  #box-value {
    width: 140px !important;
  }
  .box-peso span {
    margin-right: 20px;
    font-weight: 600;
  }
  
  }
  
  /* CSS GABI */
  table.tb-custom th{
    border: 0!important;
  }
  
  table.table thead tr{
    border: 1px solid black;
  }
  
  table.table thead tr th{
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;
  }
  
  .texto{
    font-weight: 700;
    font-size: 14px;
  }
  
  .facturacion-container p {
    display: flex;
    align-items: flex-end;
  }
  
  .dotted-line {
    border-bottom: 1px dotted #878787;
    border-width: 2px;
    flex-grow: 1;
    margin-left: 20px;
  }
  
  
  @media (max-width: 1200px) {
  
    .no-bullet,
    .span-g {
      font-size: 12px !important;
    }
  
      .medium-font {
        font-size: 15px;
      }
    
      .header img {
        width: 100% !important;
        height: auto !important;
      }
    
      .cotizacion-font {
        font-size: 20px;
      }
    
      .box-logo {
        margin-right: 18px !important;
      }
  
  
      }
  
  @media print {
        #contentToConvert {
          width: 210mm;
          height: auto;
        }
      }
  