<div *ngIf="linhas.length > 0 && classes.length > 0">
  <div class="row mb-2">
    <div class="col mt-auto">
      <div class="mtc-title mb-0">Pesquisar por materiais para associação</div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="onFilter()"
          [disabled]="searching === true">
          <i class="fas fa-search"></i>
          <span>Pesquisar</span>
        </button>
      </div>
    </div>
  </div>
  <advanced-filter>
    <form [formGroup]="form" autocomplete="off">
      <div class="form-row">
        <div class="form-group col-lg-6">
          <label for="codLinha">Linha</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [items]="linhas"
            formControlName="codLinha"
            [virtualScroll]="true"
            labelForId="codLinha"
            bindLabel="descricao"
            bindValue="id"
            (change)="onChangeLinha($event.id)">
          </ng-select>
        </div>
        <div class="form-group col-lg-6">
          <label for="codClasse">Classe</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [items]="filteredClasses"
            formControlName="codClasse"
            [virtualScroll]="true"
            labelForId="codClasse"
            bindLabel="nomeClasse"
            bindValue="idClasse"
            (change)="onChangeClasse($event.idClasse)">
          </ng-select>
        </div>
        </div>
        <div class="form-row">
        <div class="form-group col-lg-12">
          <label for="codMaterial">Material</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [items]="materiais"
            formControlName="codMaterial"
            [virtualScroll]="true"
            labelForId="codMaterial"
            bindLabel="codigoDescricaoMaterial"
            bindValue="codigoMaterial"
            [loading]="materiaisLoader"
            loadingText="Carregando...">
          </ng-select>
        </div>
      </div>
    </form>
  </advanced-filter>
  <div *ngIf="materiaisLista.length > 0">
    <div class="row mb-2">
      <div class="col mt-auto">
        <div class="mtc-title mb-0">Seleção de materiais</div>
      </div>
      <div class="col">
        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-sm btn-outline-primary"
            (click)="onAssociarMateriais()"
            [disabled]="searching === true">
            <i class="fas fa-exchange-alt"></i>
            <span>Associar</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <custom-table [config]="tableConfigMateriais">
          <ng-template #thead let-thead>
            <tr>
              <th
                scope="col"
                class="text-center"
                style="width: 5%">
                <btn-icon
                  [icon]="toggleAll ? 'fas fa-check-square' : 'far fa-square'"
                  size="small"
                  (click)="onToggleAll()">
                </btn-icon>
              </th>
              <th scope="col" style="width: 95%">Material</th>
            </tr>
          </ng-template>
          <ng-template #tbody let-tbody>
            <tr *ngFor="let material of materiaisLista; let i = index;">
              <td class="text-center" style="width: 5%">
                <btn-icon
                  [icon]="material.checked == 1 ? 'fas fa-check-square' : 'far fa-square'"
                  size="small"
                  (click)="onCheckMaterial(i, material)">
                </btn-icon>
              </td>
              <td
                class="hover"
                style="width: 95%"
                (click)="onCheckMaterial(i, material)">
                {{ material.codigoDescricaoMaterial | uppercase }}
              </td>
            </tr>
          </ng-template>
        </custom-table>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="searching === true">
    <div class="col">
      <message
        icon="fas fa-cog fa-spin"
        text="Estamos pesquisando os materiais para você...">
      </message>
    </div>
  </div>
  <div *ngIf="searching === false">
    <div class="row" *ngIf="materiaisListaEmpty && materiaisListaLoaded">
      <div class="col">
        <message
          icon="fas fa-box-open"
          text="Nenhuma informação encontrada">
        </message>
      </div>
    </div>
    <div class="row" *ngIf="materiaisLista.length === 0 && !firstSearch">
      <div class="col">
        <message
          icon="fas fa-search"
          text="Preecha os campos acima para pesquisar materiais">
        </message>
      </div>
    </div>
  </div>
</div>
