
.highlight{
  opacity: 0.7;;
}
.dropzone{
  width: 150px;
}
.card,.dropzone{
 transition: .3s;
}

.is-dragging{
  cursor: move;
}

.sobrepor{
  z-index: 2000;
  background: white;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
}

