<loader-spinner-navbar *ngIf="loaderNavbar"></loader-spinner-navbar>
<loader-spinner-full-screen *ngIf="loaderFullScreen"></loader-spinner-full-screen>
<app-header appTitle="Almacenes">
  <!-- <button
    type="button"
    [routerLink]="['../novo']">
    Adicionar
  </button> -->
  <button
    type="button"
    (click)="onFilter()">
    Filtrar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loaderFullScreen">
  <div class="row" #scrollToFilter>
    <div class="col">
      <advanced-filter>
        <form [formGroup]="form" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-lg-4">
              <label for="nomeEscritorio">Nombre de Almacen</label>
              <input
                type="text"
                class="form-control"
                formControlName="nomeEscritorio"
                (keydown.enter)="onFilter()">
            </div>
            <div class="form-group col-lg-4">
              <label for="codReferenteErp">Codigo Almacen</label>
              <input
                type="text"
                class="form-control"
                formControlName="codReferenteErp"
                (keydown.enter)="onFilter()">
            </div>
            <!-- <div class="form-group col-lg-3">
              <label for="codEmpresa">Empresa</label>
              <ng-select
                [searchable]="true"
                [clearable]="false"
                [items]="empresas"
                formControlName="codEmpresa"
                [virtualScroll]="true"
                bindLabel="nomeEmpresa"
                bindValue="idEmpresa">
              </ng-select>
            </div> -->
            <div class="form-group col-lg-3">
              <label for="codSituacao">Situacion</label>
              <select
                class="form-control custom-select"
                id="codSituacao"
                formControlName="codSituacao">
                <option value="0">Todos</option>
                <option value="1">Activos</option>
                <option value="2">Inactivos</option>
              </select>
            </div>
            <div class="form-group col-lg-2">
              <label for="registros">Registros</label>
              <select
                class="form-control"
                id="registros"
                formControlName="registros">
                <option>25</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
                <option>300</option>
              </select>
            </div>
          </div>
        </form>
      </advanced-filter>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <subtitles
        [data]="subtitles"
        [show]="dadosPagination.length > 0 && !dadosEmpty">
      </subtitles>
    </div>
  </div>
  <div class="row">
    <div [ngClass]="{'col': !showDetailPanel, 'col-4 pr-0': showDetailPanel}">
      <custom-table [config]="tableConfig" *ngIf="dadosPagination.length > 0 && !dadosEmpty">
        <ng-template #thead let-thead>
          <tr>
            <th scope="col">Codigo Almacen</th>
            <th scope="col">Almacen</th>
            <!-- <th scope="col" [hidden]="showDetailPanel">Empresa</th> -->
            <th scope="col" [hidden]="showDetailPanel"></th>
          </tr>
        </ng-template>
        <ng-template #tbody let-tbody>
          <tr *ngFor="let escritorio of dadosPagination; let i = index" [class.table-active]="escritorio.codEscritorio == escritorioSelecionado.codEscritorio && showDetailPanel">
            <td
              class="hover"
              [ngClass]="classStatusBorder(escritorio)"
              >
              <!-- (click)="onDetails(escritorio)" -->
              {{ escritorio.codReferenteErp | uppercase }}
            </td>
            <td
              class="hover"
              
              [hidden]="showDetailPanel">
              {{ escritorio.nomeEscritorio | uppercase }}
            </td>
            <!-- (click)="onDetails(escritorio)" -->
            <!-- (click)="onDetails(escritorio)" -->
            <td class="text-right" [hidden]="showDetailPanel">
              <span *ngIf="escritorio.codSituacao == 1" class="mr-3" tooltip="Inativar" placement="left" container="body">
                <button type="button" class="btn-icon-sm" (click)="onInactivate(i, escritorio)">
                  <i class="fas fa-toggle-on"></i>
                </button>
              </span>
              <span *ngIf="escritorio.codSituacao == 2" class="mr-3" tooltip="Ativar" placement="left" container="body">
                <button type="button" class="btn-icon-sm" > 
                  <!-- (click)="onActivate(i, escritorio)" -->
                  <i class="fas fa-toggle-off"></i>
                </button>
              </span>
              <!-- <span class="mr-3" tooltip="Editar" placement="left" container="body">
                <button type="button" class="btn-icon-sm" (click)="onEdit(escritorio)">
                  <i class="fas fa-edit"></i>
                </button>
              </span> -->
            </td>
          </tr>
        </ng-template>
      </custom-table>
      <empty-result
        message="Ninguna informacion encontrada"
        class="my-3"
        *ngIf="dadosEmpty">
      </empty-result>
      <div class="d-flex justify-content-center mt-3" *ngIf="totalItems > itemsPerPage && dadosLoaded">
        <pagination
          [maxSize]="maxSize"
          [(totalItems)]="totalItems"
          (pageChanged)="onPageChanged($event)"
          [(itemsPerPage)]="itemsPerPage"
          [boundaryLinks]="true"
          [(ngModel)]="currentPage"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      </div>
    </div>
    <div class="col-8" [hidden]="!showDetailPanel">
      <detail-panel [panelTitle]="detailPanelTitle">
        <custom-table *ngIf="alteracoes.length > 0">
          <ng-template #thead let-thead>
            <tr>
              <th scope="col" class="text-center">Data</th>
              <th scope="col">Usuário</th>
              <th scope="col">Alteração</th>
            </tr>
          </ng-template>
          <ng-template #tbody let-tbody>
            <tr *ngFor="let alteracao of alteracoes">
              <td class="text-center">{{ alteracao.dataLog | date: 'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ alteracao.nomeUsuario | uppercase }}</td>
              <td>{{ alteracao.mensagem | uppercase }}</td>
            </tr>
          </ng-template>
        </custom-table>
      </detail-panel>
    </div>
  </div>
</app-body>
