::ng-deep .accordion-toggle button{
  width: 100%;
  border: none;
  text-align: left;
  color: black;
  font-weight: 500;
}

.ScrollHistorico {
  height: 430px;
  overflow-y: auto;
  overflow-x: hidden;
}

.buttonGerarFicha{
  color:rgb(255, 115, 0)
  }