<loader-spinner-navbar *ngIf="loaderNavbar"></loader-spinner-navbar>
<loader-spinner-full-screen *ngIf="loaderFullScreen"></loader-spinner-full-screen>
<app-header appTitle="Estoque">
  <button
    type="button"
    (click)="onResetForm()">
    Limpar
  </button>
  <button
    type="button"
    (click)="onFilter()"
    [disabled]="!form.valid">
    Filtrar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loaderFullScreen">
  <div #scrollToFilter>
    <advanced-filter>
      <form [formGroup]="form" autocomplete="off">
        <div class="form-row">
          <div class="form-group col-lg-3">
            <label for="empresa">Empresa</label>
            <ng-select
              [searchable]="true"
              [clearable]="false"
              [items]="empresas"
              formControlName="empresa"
              [virtualScroll]="true"
              labelForId="empresa"
              bindLabel="nomeEmpresa"
              bindValue="idEmpresa"
              (change)="onChangeEmpresa($event.idEmpresa)"
              [ngClass]="onFieldError('empresa') + ' ' + onFieldRequired('empresa')">
            </ng-select>
            <invalid-form-control [show]="onFieldInvalid('empresa')" message="Empresa é obrigatório."></invalid-form-control>
          </div>
          <div class="form-group col-lg-3">
            <label for="deposito">Depósito</label>
            <ng-select
              [searchable]="true"
              [clearable]="false"
              [items]="filteredDepositos"
              formControlName="deposito"
              [virtualScroll]="true"
              labelForId="deposito"
              bindLabel="nomeDeposito"
              bindValue="idDeposito"
              (change)="onChangeDeposito($event)"
              [ngClass]="onFieldError('deposito') + ' ' + onFieldRequired('deposito')">
            </ng-select>
            <invalid-form-control [show]="onFieldInvalid('deposito')" message="Depósito é obrigatório."></invalid-form-control>
          </div>
          <div class="form-group col-lg-3">
            <label for="linha">Linha</label>
            <select
              class="form-control"
              id="linha"
              formControlName="linha"
              (change)="onChangeLinha(form.value['linha'])">
              <option *ngFor="let item of linhas" [value]="item.id">{{ item.descricao }}</option>
            </select>
          </div>
          <div class="form-group col-lg-3">
            <label for="classeMaterial">Classe</label>
            <ng-select
              [searchable]="true"
              [clearable]="false"
              [items]="filteredClasses"
              formControlName="classeMaterial"
              [virtualScroll]="true"
              labelForId="classeMaterial"
              bindLabel="nomeClasse"
              bindValue="idClasse"
              (change)="onChangeClasse($event)">
            </ng-select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-3 mb-0">
            <label for="estoqueDisponivel">Somente estoque disponível</label>
            <select
              class="form-control"
              id="estoqueDisponivel"
              formControlName="estoqueDisponivel">
              <option value="0">Exhibir todos</option>
              <option value="1">Sim</option>
              <option value="2">Não</option>
            </select>
          </div>
          <div class="form-group col-lg-3 mb-0">
            <label for="codMaterial">Código material</label>
            <input
              type="text"
              class="form-control"
              formControlName="codMaterial"
              (keydown.enter)="onFilter()">
          </div>
          <div class="form-group col-lg-4 mb-0">
            <label for="descMaterial">Descrição material</label>
            <input
              type="text"
              class="form-control"
              formControlName="descMaterial"
              (keydown.enter)="onFilter()">
          </div>
          <div class="form-group col-lg-2 mb-0">
            <label for="registros">Registros</label>
            <select
              class="form-control"
              id="registros"
              formControlName="registros">
              <option>25</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
              <option>300</option>
            </select>
          </div>
        </div>
      </form>
    </advanced-filter>
  </div>
  <subtitles
    [data]="subtitles"
    [show]="dados.length > 0 && !dadosEmpty">
  </subtitles>
  <div class="row">
    <div class="col-12">
      <custom-table [config]="tableConfig" *ngIf="dadosReturned.length > 0 && !dadosEmpty">
        <ng-template #thead let-thead>
          <tr>
            <th class="text-truncate" width="9%">Código</th>
            <th class="text-truncate text-left" width="35%">Descrição</th>
            <th class="text-truncate" width="4%">Un</th>
            <th class="text-truncate" width="10%">Compra</th>
            <th class="text-truncate" width="10%">Atual</th>
            <th class="text-truncate" width="10%">Comprometido</th>
            <th class="text-truncate" width="10%">Pedido</th>
            <th class="text-truncate" width="10%">Disponível</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #tbody let-tbody>
          <tr *ngFor="let dado of dadosReturned" [class.table-active]="dado.id == codMaterial">
            <td
              class="font-weight-bold hover"
              [ngClass]="estoqueSuspensoClassStatusBorder(dado.estoqueSuspenso)"
              (click)="openModal(modalDetalhes, dado.descricao, dado.id, dado.estoqueSuspenso)">
              {{ dado.id }}
            </td>
            <td
              class="text-left text-truncate hover"
              (click)="openModal(modalDetalhes, dado.descricao, dado.id, dado.estoqueSuspenso)">
              {{ dado.descricao }}
            </td>
            <td
              class="hover"
              (click)="openModal(modalDetalhes, dado.descricao, dado.id, dado.estoqueSuspenso)">
              {{ dado.medida }}
            </td>
            <td
              class="hover"
              (click)="openModal(modalDetalhes, dado.descricao, dado.id, dado.estoqueSuspenso)">
              {{ dado.pedCompra | number:'1.3-3' }}
            </td>
            <td
              class="font-weight-bold hover"
              (click)="openModal(modalDetalhes, dado.descricao, dado.id, dado.estoqueSuspenso)">
              {{ dado.estoqueAtual | number:'1.3-3' }}
            </td>
            <td
              class="hover"
              (click)="openModal(modalDetalhes, dado.descricao, dado.id, dado.estoqueSuspenso)">
              {{ dado.estoqueComprometido | number:'1.3-3' }}
            </td>
            <td
              class="font-weight-bold hover"
              (click)="openModal(modalDetalhes, dado.descricao, dado.id, dado.estoqueSuspenso)">
              {{ dado.pedido | number:'1.3-3' }}
            </td>
            <td
              class="font-weight-bold hover"
              (click)="openModal(modalDetalhes, dado.descricao, dado.id, dado.estoqueSuspenso)">
              {{ dado.estoqueDisponivel | number:'1.3-3' }}
            </td>
            <td class="text-center">
              <a
                class="btn-icon-sm"
                tooltip="Avise-me quando disponível"
                container="body"
                [routerLink]="['/comercial/disponibilidade-material/novo/', dado.id]"
                target="_blank">
                <i class="fas fa-bell"></i>
              </a>
            </td>
          </tr>
        </ng-template>
      </custom-table>
      <empty-result message="Nenhuma informação encontrada" *ngIf="dadosEmpty && !dadosLoaded"></empty-result>
      <div class="d-flex justify-content-center mt-3" *ngIf="totalItems > itemsPerPage && !loaderNavbar">
        <pagination
          [maxSize]="maxSize"
          [(totalItems)]="totalItems"
          (pageChanged)="onPageChanged($event)"
          [(itemsPerPage)]="itemsPerPage"
          [boundaryLinks]="true"
          [(ngModel)]="currentPage"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      </div>
    </div>
  </div>
</app-body>
<ng-template #modalDetalhes>
  <div class="modal-header">
    <h4 id="dialog-sizes-name1" class="modal-title pull-left">
      {{ nomeMaterial }}
    </h4>
    <button type="button" class="close pull-right" (click)="closeModal(modalDetalhes)" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <tabset>
      <tab heading="Estoque outras unidades" class="border-right border-left border-bottom">
        <div class="px-3 pt-3">
          <div class="form-row" *ngIf="unidadesLoaded">
            <div class="form-group col-lg-3" *ngFor="let estoque of estoqueUnidades">
              <label>{{ estoque.descEmpresa }}</label>
              <div>{{ estoque.estoque | number:'1.3-3' }} {{ estoque.unidade }}</div>
            </div>
          </div>
          <div class="d-flex justify-content-center mb-3" *ngIf="!unidadesLoaded">
            <div class="spinner-border text-dark"></div>
          </div>
        </div>
      </tab>
      <tab heading="Pedidos de compra"  class="border-right border-left border-bottom" (selectTab)="onSelectPedidos()">
        <div class="p-3">
          <div class="d-flex justify-content-center mb-3" *ngIf="!pedidosCompraLoaded && !pedidosCompraEmpty">
            <div class="spinner-border text-dark"></div>
          </div>
          <custom-table [config]="tableConfig" *ngIf="pedidosCompra.length > 0 && !pedidosCompraEmpty && pedidosCompraLoaded" class="text-center">
            <ng-template #thead let-thead>
              <tr>
                <th>Data prevista</th>
                <th>Em aberto</th>
              </tr>
            </ng-template>
            <ng-template #tbody let-tbody >
              <tr *ngFor="let item of pedidosCompra">
                <td>{{ item.dataPrevistaEntrega }}</td>
                <td>{{ item.qtdAberto | number:'1.3-3' }}</td>
              </tr>
              <tr class="bg-dark text-dark">
                <td><strong>Total</strong></td>
                <td class="text-center"><strong>{{ totaisPedCompra.totalAberto | number:'1.3-3' }}</strong></td>
              </tr>
            </ng-template>
          </custom-table>
          <empty-result message="Nenhuma informação encontrada" class="my-4" *ngIf="pedidosCompraEmpty && !pedidosCompraLoaded"></empty-result>

        </div>
      </tab>
      <tab heading="Estoque comprometido" class="border-right border-left border-bottom" (selectTab)="onSelectComprometidos()">
        <div class="p-3">
          <div *ngIf="comprometidoLoaded">
            <div class="d-flex">
              <div class="legend blue">
                <div class="square"></div>
                <div class="text">ESTOQUE COMPROMETIDO</div>
              </div>
            </div>
            <custom-table [config]="tableConfig" *ngIf="estoqueComprometido.length > 0 && !comprometidoEmpty">
              <ng-template #thead let-thead>
                <tr>
                  <th>Pedido</th>
                  <th>Data</th>
                  <th>Lote</th>
                  <th>Empresa</th>
                  <th>Cliente</th>
                  <th>Vendedor</th>
                  <th>Qtde.</th>
                </tr>
              </ng-template>
              <ng-template #tbody let-tbody>
                <tr *ngFor="let item of estoqueComprometido">
                  <td [ngClass]="estoqueComprometidoClassStatusBorder(item.idComprometido)">{{ item.numeroPedido }}</td>
                  <td>{{ item.dataEmissao }}</td>
                  <td></td>
                  <td>{{ item.empresa }}</td>
                  <td>{{ item.fantasiaCliente }}</td>
                  <td>{{ item.nomeVendedor }}</td>
                  <td>{{ item.quantidade | number:'1.3-3' }}</td>
                </tr>
                <tr class="bg-dark text-center text-dark">
                  <td colspan="5" class="border-dark"></td>
                  <td><strong>Total</strong></td>
                  <td class="text-center"><strong>{{ totaisComprometido.quantidade | number:'1.3-3' }}</strong></td>
                </tr>
              </ng-template>
            </custom-table>
          </div>
          <empty-result message="Nenhuma informação encontrada" class="my-4" *ngIf="comprometidoEmpty && !comprometidoLoaded"></empty-result>
          <div class="d-flex justify-content-center mb-3" *ngIf="!comprometidoLoaded && !comprometidoEmpty">
            <div class="spinner-border text-dark"></div>
          </div>
        </div>
      </tab>
      <tab heading="Detalhamento por lote" class="border-right border-left border-bottom" (selectTab)="onSelectLote()">
        <div class="p-3">
          <custom-table *ngIf="detalhesLote.length > 0 && !loteEmpty">
            <ng-template #thead let-thead>
              <tr>
                <th rowspan="2" class="align-middle text-center">Seq.</th>
                <th rowspan="2" class="align-middle text-center">Lote fabricação</th>
                <th rowspan="2" class="align-middle text-center">Localização</th>
                <th rowspan="2" class="align-middle text-center">Estoque</th>
                <th colspan="2" class="text-center">Relatório de Recebimento</th>
              </tr>
              <tr>
                <th scope="col" class="text-center">Número</th>
                <th scope="col" class="text-center">Item</th>
              </tr>
            </ng-template>
            <ng-template #tbody let-tbody>
              <tr *ngFor="let item of detalhesLote">
                <td>{{ item.sequencia }}</td>
                <td>{{ item.lote }}</td>
                <td>{{ item.localizacao }}</td>
                <td>{{ item.qtdEstoque | number:'1.3-3' }}</td>
                <td>{{ item.relatorio }}</td>
                <td>{{ item.itemRelatorio }}</td>
              </tr>
              <tr class="bg-dark text-center text-dark">
                <td colspan="5"><strong>Total</strong></td>
                <td class="text-center"><strong>{{ totaisLote.quantidade | number:'1.3-3' }}</strong></td>
              </tr>
            </ng-template>
          </custom-table>
          <empty-result message="Nenhuma informação encontrada" class="my-4" *ngIf="loteEmpty && !loteLoaded"></empty-result>
          <div class="d-flex justify-content-center mb-3" *ngIf="!loteLoaded && !loteEmpty">
            <div class="spinner-border text-dark"></div>
          </div>
        </div>
      </tab>
      <tab heading="Estoque suspenso" class="border-right border-left border-bottom" (selectTab)="onSelectEstoqueSuspenso()" *ngIf="possuiLote">
        <div class="p-3">
          <custom-table *ngIf="detalhesSuspenso.length > 0 && suspensoLoaded">
            <ng-template #thead let-thead>
              <tr>
                <th scope="col">Quantidade</th>
                <th scope="col">Data</th>
              </tr>
            </ng-template>
            <ng-template #tbody let-tbody>
              <tr *ngFor="let item of detalhesSuspenso">
                <td class="text-center">{{ item.estoqueSuspenso | number:'1.3-3' }}</td>
                <td class="text-center">{{ item.data }}</td>
              </tr>
            </ng-template>
          </custom-table>
          <empty-result message="Nenhuma informação encontrada" class="my-4" *ngIf="suspensoEmpty && !suspensoLoaded"></empty-result>
          <div class="d-flex justify-content-center mb-3" *ngIf="!suspensoLoaded && !suspensoEmpty">
            <div class="spinner-border text-dark"></div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</ng-template>
