<div class="modal-content">
  <div class="modal-header">
    <h4 class="mtc-title mb-0 my-auto">DETALHES DO CONTATO</h4>
    <button type="button" class="close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" *ngIf="contato">
      <div class="col">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Nome completo</label>
            <div *ngIf="contato.nomeCompleto == null">NÃO INFORMADO</div>
            <div *ngIf="contato.nomeCompleto != null">{{ contato.nomeCompleto }}</div>
          </div>
          <div class="form-group col-md-6">
            <label>Sexo</label>
            <div *ngIf="contato.descGenero == null">NÃO INFORMADO</div>
            <div *ngIf="contato.descGenero != null">{{ contato.descGenero }}</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            <label>Função</label>
            <div *ngIf="contato.descFuncao == null">NÃO INFORMADO</div>
            <div *ngIf="contato.descFuncao != null">{{ contato.descFuncao }}</div>
          </div>
          <div class="form-group col-md-6 mb-0">
            <label>Setor</label>
            <div *ngIf="contato.descSetor == null">NÃO INFORMADO</div>
            <div *ngIf="contato.descSetor != null">{{ contato.descSetor }}</div>
          </div>
        </div>
        <div class="form-row">
          <div class="col"><hr></div>
        </div>
        <div class="mtc-title">Meios de contato</div>
        <div class="form-row" *ngIf="contato.contatos != null">
          <div class="form-group col-md-6" *ngFor="let item of contato.contatos">
            <label>{{ item.tipo }}</label>
            <div *ngIf="(item.tipo == 'Telefone') || (item.tipo == 'Celular')">
              <div *ngIf="item.contato == null">NÃO INFORMADO</div>
              <div *ngIf="item.contato != null">{{ item.contato | telefone }}</div>
            </div>
            <div *ngIf="(item.tipo == 'Email NFe') || (item.tipo == 'E-mail NFe') || (item.tipo == 'E-Mail') || (item.tipo == 'Email') || (item.tipo == 'MalaDireta')">
              <div *ngIf="item.contato == null">NÃO INFORMADO</div>
              <div *ngIf="item.contato != null">
                <a [href]="'mailto:' + item.contato">{{ item.contato | lowercase }}</a>
              </div>
            </div>
          </div>
        </div>
        <message
          icon="fas fa-box-open"
          text="Nenhuma informação encontrada"
          class="py-4"
          *ngIf="contato.contatos == null">
        </message>
      </div>
    </div>
  </div>
</div>
