<loader-spinner-navbar *ngIf="loaderNavbar"></loader-spinner-navbar>
<app-header appTitle="Busqueda de clientes">
  <button
    type="button"
    [routerLink]="['../pre-cadastro']">
    Adicionar
  </button>
  <button
    type="button"
    (click)="onFilter()">
    Filtrar
  </button>
    
  
  
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree">
  <div class="row justify-content-center mb-2">
     <div class="col-lg-6">
      <ul class="list-unstyled mb-0 d-flex justify-content-around">
        <li class="text-center hover px-3" (click)="filterByStatus('Ativo')">
          <h6 class="text-muted font-weight-light">Activos</h6>
          <div class="text-success">
            <h4>
              <strong
                counto
                [step]="30"
                [countTo]="ativos"
                [countFrom]="0"
                [duration]="3"
                (countoChange)="countoAtivos = $event">
                {{ handleCounter(countoAtivos) }}
              </strong>
            </h4>
          </div>
        </li>
        <li class="text-center hover px-3" (click)="filterByStatus('Inativo')">
          <h6 class="text-muted font-weight-light">Inactivos</h6>
          <div class="text-danger">
            <h4>
              <strong
                counto
                [step]="30"
                [countTo]="inativos"
                [countFrom]="0"
                [duration]="3"
                (countoChange)="countoInativos = $event">
                {{ handleCounter(countoInativos) }}
              </strong>
            </h4>
          </div>
        </li>
        <li class="text-center hover px-3" (click)="filterByStatus('Potenci')">
          <h6 class="text-muted font-weight-light">Potencial</h6>
          <div class="text-primary">
            <h4>
              <strong
                counto
                [step]="30"
                [countTo]="potencial"
                [countFrom]="0"
                [duration]="3"
                (countoChange)="countoPotencial = $event">
                {{ handleCounter(countoPotencial) }}
              </strong>
            </h4>
          </div>
        </li>
        <li class="text-center hover px-3" (click)="filterByStatus('Arquivo')">
          <h6 class="text-muted font-weight-light">Archivados</h6>
          <div class="text-secondary">
            <h4>
              <strong
                counto
                [step]="30"
                [countTo]="arquivados"
                [countFrom]="0"
                [duration]="3"
                (countoChange)="countoArquivados = $event">
                {{ handleCounter(countoArquivados) }}
              </strong>
            </h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <advanced-filter>
    <form [formGroup]="formFilter">
      <div class="form-row">
        <div class="form-group col-lg-3">
          <label for="buscarPor">Buscar por</label>
          <select
            class="form-control custom-select"
            id="buscarPor"
            formControlName="buscarPor">
            <option value="1">Código, nombre o razon social</option>
            <option value="2">C.I. o NIT</option>
            <option value="3">Ciudad</option>
            <option value="4">Código SAP</option>
            <option value="5">Contactos</option>
          </select>
        </div>
        <div class="form-group col-lg-3">
          <label for="pesquisa">Termino de busqueda</label>
          <input
            type="text"
            class="form-control"
            formControlName="pesquisa"
            (keydown.enter)="onFilter()">
        </div>
        <div class="form-group col-lg-3">
          <label for="situacao">Situacion</label>
          <select
            class="form-control custom-select"
            id="situacao"
            formControlName="situacao">
            <option value="Ativo">Activos</option>
            <option value="Inativo">Inactivos</option>
            <option value="Potenci">Potenciales</option>
            <option value="Arquivo">Archivados</option>
            <option value="T">Todos</option>
          </select>
        </div>
        <div class="form-group col-lg-3">
          <label for="setorAtividade">Sector empresarial</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [items]="setorAtividades"
            [virtualScroll]="true"
            labelForId="setorAtividade"
            bindLabel="descricao"
            bindValue="id"
            formControlName="setorAtividade">
          </ng-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-3 mb-lg-0">
          <label for="tipoPessoa">Tipo de persona</label>
          <select
            class="form-control custom-select"
            id="tipoPessoa"
            formControlName="tipoPessoa">
            <option value="F">Persona física</option>
            <option value="J">Persona jurídica</option>
            <option value="T">Todos</option>
          </select>
        </div>
        <div class="form-group col-lg-3 mb-lg-0">
          <label for="grupoEconomico">Esta en grupo economico</label>
          <select
            class="form-control custom-select"
            id="grupoEconomico"
            formControlName="grupoEconomico">
            <option value="S">Si</option>
            <option value="N">No</option>
            <option value="T">Todos</option>
          </select>
        </div>
        <div class="form-group col-lg-3 mb-lg-0">
          <label for="segurado">Asegurado</label>
          <select
            class="form-control custom-select"
            id="segurado"
            formControlName="segurado">
            <option value="S">Si</option>
            <option value="N">No</option>
            <option value="T">Todos</option>
          </select>
        </div>
        <div class="form-group col-lg-2 mb-lg-0">
          <label for="carteira">Cartera</label>
          <select
            class="form-control custom-select"
            id="carteira"
            formControlName="carteira">
            <option value="S">Mi cartera</option>
            <option value="T">Todos</option>
          </select>
        </div>
        <div class="form-group col-lg-1 mb-lg-0">
          <label for="registros">Registros</label>
          <select
            class="form-control custom-select"
            id="registros"
            formControlName="registros">
            <option>10</option>
            <option>25</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
          </select>
        </div>
      </div>
    </form>
  </advanced-filter>
  <div class="row mt-3" *ngIf="dataLoaded && searchSubmitted && clientes.length == 0 && buscandoPor != 2">
    <div class="col-12">
      <empty-result message="No se encontraron clientes para esta búsqueda." class="py-4"></empty-result>
    </div>
  </div>
  <div class="row mt-3" *ngIf="dataLoaded && searchSubmitted && clientes.length == 0 && buscandoPor == 2">
    <div class="col-7 d-flex justify-content-end w-100 pr-0">
      <empty-result message="No se encontraron clientes para esta búsqueda." class="py-4"></empty-result>
    </div>
    <div class="col-5 d-flex w-100 pl-1">
      <a [routerLink]="['../pre-cadastro']" [queryParams]="onPreCadastroCpfCnpj()" class="my-auto">
        <strong>Pulse aquí para registrarse..</strong>
      </a>
    </div>
  </div>
  <div class="row mt-3" *ngIf="dataLoaded && clientes.length > 0">
    <div [ngClass]="{'col-12': !showDetailPanel, 'col-7 pr-0': showDetailPanel}">
      <custom-table [config]="tableConfig">
        <ng-template #thead let-thead>
          <tr>
            <th scope="col"></th>
            <th
              scope="col"
              class="text-center hover"
              (click)="setOrderBy('codCliente')">
              <thead-sorter value="Código" [active]="orderBy == 'codCliente'" [sort]="orderType"></thead-sorter>
            </th>
            <th
              scope="col"
              class="hover"
              (click)="setOrderBy('nomeFantasia')">
              <thead-sorter value="Nombre" [active]="orderBy == 'nomeFantasia'" [sort]="orderType"></thead-sorter>
            </th>
            <th
              scope="col"
              class="hover"
              (click)="setOrderBy('razaoSocial')"
              *ngIf="!showDetailPanel">
              <thead-sorter value="Razon Social" [active]="orderBy == 'razaoSocial'" [sort]="orderType"></thead-sorter>
            </th>
            <th scope="col"></th>
          </tr>
        </ng-template>
        <ng-template #tbody let-tbody>
          <tr *ngFor="let cliente of clientes" [class.table-active]="cliente.codCliente == clienteSelecionado">
            <td class="text-center hover" [ngClass]="classStatusBorder(cliente.situacao)" (click)="viewRegister(cliente)">
              <i class="text-black-50 far fa-check-square mr-3" *ngIf="cliente.segurado == 0" tooltip="Cliente no asegurado" placement="right"></i>
              <i class="text-warning fas fa-check-square mr-3" *ngIf="cliente.segurado > 0" tooltip="Cliente asegurado" placement="right"></i>
              <i class="text-black-50 far fa-folder-open" *ngIf="cliente.grupoEconomico == 0" tooltip="No hace parte de grupo economico" placement="right"></i>
              <i class="text-warning fas fa-folder-open" *ngIf="cliente.grupoEconomico > 0" tooltip="Pertenece a un grupo economico" placement="right"></i>
            </td>
            <td class="text-center hover" (click)="viewRegister(cliente)">{{ cliente.codCliente }}</td>
            <td class="hover" (click)="viewRegister(cliente)">{{ cliente.nomeFantasia | uppercase }}</td>
            <td class="hover" (click)="viewRegister(cliente)" *ngIf="!showDetailPanel">{{ cliente.razaoSocial | uppercase }}</td>
            <td>
              <span tooltip="Datos registrados" placement="left" container="body"> 
                <button type="button" class="btn-icon-sm" (click)="viewDetails(cliente)">
                  <i class="fas fa-user"></i>
                </button>
              </span>
            </td>
          </tr>
        </ng-template>
      </custom-table>
      <div class="d-flex justify-content-center mt-3" *ngIf="clientes[0]['total'] > itemsPerPage">
        <pagination
          [maxSize]="maxSize"
          [(totalItems)]="totalItems"
          (pageChanged)="onPageChanged($event)"
          [(itemsPerPage)]="itemsPerPage"
          [boundaryLinks]="true"
          [(ngModel)]="currentPage"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      </div>
    </div>
    <div class="col-5" [hidden]="!showDetailPanel">
      <div class="sticky-top">
        <detail-panel>
          <tabset>
            <tab heading="Datos registrados">
              <div class="border-right border-left border-bottom px-3 pt-3">
                <div *ngIf="dadosCadastraisLoaded && !dadosCadastraisEmpty">
                  <div class="form-row">
                    <div class="form-group col-lg-6" *ngIf="dadosCadastrais.tipoPessoa == 'F'">
                      <label>C.I. o NIT</label>
                      <div *ngIf="dadosCadastrais.cpf == null">NO INFORMADO</div>
                      <div *ngIf="dadosCadastrais.cpf != null">{{ dadosCadastrais.cpf }}</div>
                    </div>
                    <div class="form-group col-lg-6" *ngIf="dadosCadastrais.tipoPessoa == 'J'">
                      <label>CNPJ</label>
                      <div *ngIf="dadosCadastrais.cnpj == null">NO INFORMADO</div>
                      <div *ngIf="dadosCadastrais.cnpj != null">{{ dadosCadastrais.cnpj }}</div>
                    </div>
                    <div class="form-group col-lg-6">
                      <label>Nombre</label>
                      <div *ngIf="dadosCadastrais.nomeFantasia == null">NO INFORMADO</div>
                      <div *ngIf="dadosCadastrais.nomeFantasia != null">{{ dadosCadastrais.nomeFantasia }}</div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label>Razon social</label>
                      <div *ngIf="dadosCadastrais.razaoSocial == null">NO INFORMADO</div>
                      <div *ngIf="dadosCadastrais.razaoSocial != null">{{ dadosCadastrais.razaoSocial }}</div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label>Direccion</label>
                      <div *ngIf="dadosCadastrais.endereco == null">NO INFORMADO</div>
                      <div *ngIf="dadosCadastrais.endereco != null">{{ dadosCadastrais.endereco }}</div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-lg-6">
                      <label>Barrio</label>
                      <div *ngIf="dadosCadastrais.bairro == null">NO INFORMADO</div>
                      <div *ngIf="dadosCadastrais.bairro != null">{{ dadosCadastrais.bairro }}</div>
                    </div>
                    <!-- <div class="form-group col-lg-6">
                      <label>CEP</label>
                      <div *ngIf="dadosCadastrais.cep == null">NO INFORMADO</div>
                      <div *ngIf="dadosCadastrais.cep != null">{{ dadosCadastrais.cep }}</div>
                    </div> -->
                  </div>
                  <div class="form-row">
                    <div class="form-group col-lg-6">
                      <label>Ciudad</label>
                      <div *ngIf="dadosCadastrais.cidade == null">NO INFORMADO</div>
                      <div *ngIf="dadosCadastrais.cidade != null">{{ dadosCadastrais.cidade }}</div>
                    </div>
                    <div class="form-group col-lg-6">
                      <label>Departamento</label>
                      <div *ngIf="dadosCadastrais.uf == null">NO INFORMADO</div>
                      <div *ngIf="dadosCadastrais.uf != null">{{ dadosCadastrais.uf }}</div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label>Asegurado</label>
                      <div *ngIf="dadosCadastrais.segurado != ''">Si</div>
                      <div *ngIf="dadosCadastrais.segurado == ''">NO</div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-lg-6">
                      <label>Vendedor</label>
                      <div *ngIf="dadosCadastrais.vendedor == null">NO INFORMADO</div>
                      <div *ngIf="dadosCadastrais.vendedor != null">{{ dadosCadastrais.vendedor }}</div>
                    </div>
                    <div class="form-group col-lg-6">
                      <label>Sucursal</label>
                      <div *ngIf="dadosCadastrais.escritorio == null">NO INFORMADO</div>
                      <div *ngIf="dadosCadastrais.escritorio != null">{{ dadosCadastrais.escritorio }}</div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-lg-4" *ngIf="dadosCadastrais.codSAP != '' && dadosCadastrais.codSAP != null">
                      <label>Código DBA</label>
                      <div>{{ dadosCadastrais.codSAP }}</div>
                    </div>
                    <div class="form-group col-lg-4" *ngIf="dadosCadastrais.escritorioDba != '' && dadosCadastrais.escritorioDba != null">
                      <label>Sucursal</label>
                      <div>{{ dadosCadastrais.escritorioDba }}</div>
                    </div>
                    <div class="form-group col-lg-4" *ngIf="dadosCadastrais.ultimaCompraDba != '' && dadosCadastrais.ultimaCompraDba != null">
                      <label>Última compra</label>
                      <div>{{ dadosCadastrais.ultimaCompraDba }}</div>
                    </div>
                  </div>
                </div>
                <div class="mb-3" *ngIf="dadosCadastraisLoaded && dadosCadastraisEmpty">
                  <empty-result message="Nenhuma informação encontrada"></empty-result>
                </div>
                <div class="d-flex justify-content-center mb-3" *ngIf="!dadosCadastraisLoaded">
                  <div class="spinner-border text-dark"></div>
                </div>
              </div>
            </tab>
            <tab heading="Contatos">
              <div class="border-right border-left border-bottom px-3 pt-3">
                <div *ngIf="contatosLoaded && !contatosEmpty">
                  <div class="form-row" *ngFor="let contato of contatos">
                    <div class="form-group col">
                      <label>{{ contato.tipoContato }}</label>
                      <div>
                        <span *ngIf="contato.nomeContato.length > 1" class="mr-1">{{ contato.nomeContato }}:</span>
                        <span
                          *ngIf="(contato.tipoContato != 'Email NFe') &&
                                (contato.tipoContato != 'E-mail NFe') &&
                                (contato.tipoContato != 'MalaDireta') &&
                                (contato.tipoContato != 'E-Mail')">
                          {{ contato.contato }}
                        </span>
                        <span
                          *ngIf="(contato.tipoContato == 'Email NFe') ||
                                (contato.tipoContato == 'E-mail NFe') ||
                                (contato.tipoContato == 'MalaDireta') ||
                                (contato.tipoContato == 'E-Mail')">
                          <a [href]="'mailto:' + contato.contato">{{ contato.contato | lowercase }}</a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-3" *ngIf="contatosLoaded && contatosEmpty">
                  <empty-result message="Ningun contacto encontrado"></empty-result>
                </div>
                <div class="d-flex justify-content-center mb-3" *ngIf="!contatosLoaded">
                  <div class="spinner-border text-dark"></div>
                </div>
              </div>
            </tab>
          </tabset>
        </detail-panel>
      </div>
    </div>
  </div>
</app-body>
