<loader-spinner-navbar *ngIf="loadingNavBar"></loader-spinner-navbar>
<loader-spinner-full-screen *ngIf="loading"></loader-spinner-full-screen>
<app-header appTitle="MENSAGENS">
  <button
    type="button"
    (click)="onFilter()">
    Filtrar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loading">
  <div class="row" #scrollToFilter>
    <div class="col">
      <advanced-filter>
        <form [formGroup]="form" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-lg-4">
              <label for="TITULO">TITULO</label>
              <input
                type="text"
                class="form-control"
                id="TITULO"
                formControlName="TITULO"
                (keydown.enter)="onFilter()">
            </div>
          </div>
        </form>
      </advanced-filter>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <custom-table  *ngIf="!noResult">
        <ng-template #thead let-thead>
          <tr>
            <th scope="col" class="text-center">TITULO </th>
            <th scope="col" class="text-center">DATA</th>
          </tr>
        </ng-template>
        <ng-template #tbody let-tbody>
          <tr *ngFor="let mensagem of mensagensFiltrados | slice : begin : end; let i = index">
            <td class="text-center hover">
              {{mensagem.TITULO}}
            </td>
            <td  class="text-center hover">{{ mensagem.DATA  | date: 'dd/MM/yyyy'}}</td>
          </tr>
        </ng-template>
      </custom-table><br>
      <empty-result
        message="Nenhuma informação encontrada"
        class="my-3"
        *ngIf="noResult">
      </empty-result>
      <div>
        Exibindo {{ itemsPerPage*(currentPage - 1) + 1 }} a {{ currentPage*(itemsPerPage) > totalItems ? totalItems : currentPage*(itemsPerPage) }} de {{ totalItems }}
        <pagination
          [maxSize]="10"
          [totalItems]="totalItems"
          (pageChanged)="onPageChanged($event)"
          [(itemsPerPage)]="itemsPerPage"
          [boundaryLinks]="true"
          [(ngModel)]="currentPage"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      </div>
    </div>
  </div>
</app-body>