<custom-table *ngIf="ultimosPrecosLoaded && !ultimosPrecosEmpty">
  <ng-template #thead let-thead>
    <tr>
      <th scope="col" class="text-center">Código</th>
      <th scope="col" class="text-center">Linea</th>
      <th scope="col" class="text-center">Ultima fecha</th>
      <th scope="col" class="text-center">Ultimo Precio</th>
      <th scope="col" class="text-center">Suma (TON)</th>
      <th scope="col" class="text-center">Suma ($)</th>
      <th scope="col" class="text-center">Media ($)</th>
    </tr>
  </ng-template>
  <ng-template #tbody let-tbody>
    <tr *ngFor="let preco of ultimosPrecos">
      <td class="text-center">{{ preco.codlinha }}</td>
      <td class="text-center">{{ preco.nomelinha }}</td>
      <td class="text-center">{{ preco.ultimaData }}</td>
      <td class="text-center">{{ preco.ultimoPreco | currency:'$':'symbol':'1.2-2' }}</td>
      <td class="bg-white text-center">{{ preco.tonelada | number:'1.3-3' }}t</td>
      <td class="bg-white text-center">{{ preco.valor | currency:'$':'symbol':'1.2-2' }}</td>
      <td class="bg-white text-center">{{ preco.media | currency:'$':'symbol':'1.2-2' }}</td>
    </tr>
    <tr>
      <td colspan="4"></td>
      <td colspan="3" class="bg-white border text-center">
        <strong>Últimos {{ ultimosPrecosDias }} dias</strong>
      </td>
    </tr>
  </ng-template>
</custom-table>
<empty-result
  message="Nenhuma informação encontrada"
  class="mb-3"
  *ngIf="ultimosPrecosLoaded && ultimosPrecosEmpty">
</empty-result>
<div class="d-flex w-100" *ngIf="!ultimosPrecosLoaded">
  <div class="spinner-border spinner-border-sm text-dark my-auto mr-2"></div>
  <strong>Cargando precios...</strong>
</div>
