<loader-spinner-full-screen *ngIf="loaderFullScreen"></loader-spinner-full-screen>
<loader-spinner-navbar *ngIf="loaderNavbar"></loader-spinner-navbar>
<app-header [appTitle]="appTitle">
  <button
    type="button"
    (click)="onCancel()"
    [disabled]="submittingForm">
    Cancelar
  </button>
  <button
    type="button"
    (click)="onSubmit()"
    [disabled]="!form.valid || submittingForm">
    Salvar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loaderFullScreen">
  <div class="row">
    <div class="col-lg-6">
      <div [hidden]="form.getRawValue().codMaterial != null">
        <comercial-cadastros-materiais-templates-material-principal
          [linhas]="linhas"
          [classes]="classes"
          [grupos]="grupos"
          [limparMaterialSelecionado]="limparMaterialPrincipal"
          (loaderNavbar)="onLoaderNavbar($event)"
          (materialPrincipal)="materialPrincipal($event)">
        </comercial-cadastros-materiais-templates-material-principal>
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>
      </div>
      <form [formGroup]="form">
        <div [hidden]="form.getRawValue().codMaterial === null">
          <div class="row mb-3">
            <div class="col mt-auto">
              <div class="mtc-title mb-0">Material de similitud principal</div>
            </div>
            <div class="col" *ngIf="form.getRawValue().codMaterial != null">
              <div class="d-flex justify-content-end">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-danger"
                  (click)="onLimparMaterialPrincipal()">
                  <i class="fas fa-trash"></i>
                  <span>Limpar</span>
                </button>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-2">
              <label for="codMaterial">Cód. Material</label>
              <input
                type="text"
                class="form-control"
                id="nomeGrupo"
                formControlName="codMaterial"
                (input)="onInput()"
                autocomplete="new-password">
              <invalid-form-control [show]="onFieldInvalid('codMaterial')" message="El código es obligatorio."></invalid-form-control>
            </div>
            <div class="form-group col-lg-7">
              <label for="nomeMaterial">Material</label>
              <input
                type="text"
                class="form-control"
                id="nomeGrupo"
                formControlName="nomeMaterial"
                (input)="onInput()"
                autocomplete="new-password">
            <invalid-form-control [show]="onFieldInvalid('nomeMaterial')" message="El material es obligatorio."></invalid-form-control>
            </div>
            <div class="form-group col-lg-3">
              <label for="codSituacao">Situación</label>
              <select
                class="form-control"
                id="codSituacao"minha
                formControlName="codSituacao"
                (change)="onInput()"
                [ngClass]="onFieldError('codSituacao') + ' ' + onFieldRequired(form.controls.codSituacao)">
                <option value="">SELECCIONE UNA OPCIÓN</option>
                <option value="0">Inactivo</option>
                <option value="1">Activo</option>
              </select>
              <invalid-form-control [show]="onFieldInvalid('codSituacao')" message="La situación es obligatoria."></invalid-form-control>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <hr>
            </div>
          </div>
        </div>

        <div formArrayName="assocMateriais">
          <div class="row" *ngIf="showMateriais && form.value.assocMateriais.length > 0">
            <div class="col">
              <div class="mtc-title">Materiais similares</div>
              <custom-table [config]="tableConfigAssocMateriais">
                <ng-template #thead let-thead>
                  <tr>
                    <th scope="col" style="width: 95%">Material</th>
                    <th scope="col" style="width: 5%"></th>
                  </tr>
                </ng-template>
                <ng-template #tbody let-tbody>
                  <tr *ngFor="let material of assocMateriais.controls; let i = index" [formGroupName]="i">
                    <td style="width: 95%">
                      {{ form.value.assocMateriais[i].codMaterial }} - {{ form.value.assocMateriais[i].nomeMaterial | uppercase }}
                    </td>
                    <td class="text-center" style="width: 5%">
                      <btn-icon
                        icon="fas fa-trash"
                        size="small"
                        (click)="onDeleteMaterial(i)">
                      </btn-icon>
                    </td>
                  </tr>
                </ng-template>
              </custom-table>
            </div>
          </div>
          <div class="row" *ngIf="showMateriais && form.value.assocMateriais.length === 0">
            <div class="col">
              <message
                icon="fas fa-exchange-alt"
                text="No se encontraron asociaciones">
              </message>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-6 border-left">
      <comercial-cadastros-materiais-templates-associacoes
        [linhas]="linhas"
        [classes]="classes"
        [grupos]="grupos"
        [linhaSelecionada]="form.value.codLinha"
        [classeSelecionada]="form.value.codClasse"
        (loaderNavbar)="onLoaderNavbar($event)"
        (materialAssociado)="materialAssociado($event)">
      </comercial-cadastros-materiais-templates-associacoes>
    </div>
  </div>
</app-body>
