::ng-deep {
  @import 'src/assets/scss/colors.scss'; 
  @import 'src/assets/scss/variables';
  
  comercial-ciclo-vendas-cotacoes-formulario-finalizacao {
    #progress-bar-mapa-metas {
      margin-top: -70px;
    }
  }

  #actions {
    button {
      appearance: none;
      background-color: #eff3f6;
      background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
      background-position: -1px -1px;
      background-repeat: repeat-x;
      background-size: 110% 110%;
      border: 1px solid rgba(27, 31, 35, 0.2);
      border-radius: 0.25em;
      color: $black;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      height: 30px;
      line-height: 20px;
      padding: 4px 10px;
      position: relative;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      &:hover {
        background-color: #e6ebf1;
        background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
        background-position: -0.5em;
        border-color: rgba(27, 31, 35, 0.35);
        &.active {
          background-color: #eff3f6;
          background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
          background-position: -1px -1px;
          border-color: rgba(27, 31, 35, 0.2);
          cursor: default;
        }
      }
      &.active {
        color: $blue;
      }
      &:disabled {
        opacity: 0.6;
        &:hover {
          box-shadow: unset;
          color: $black;
          cursor: no-drop;
        }
      }
      &:not(:first-child) {
        margin-left: 5px;
      }
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
   
  
}
