
.ScrollHistorico {
  height: auto;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ScrollEstoque {
  height: auto;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

