<loader-spinner-navbar *ngIf="loaderNavbar"></loader-spinner-navbar>
<loader-spinner-full-screen *ngIf="loaderFullScreen"></loader-spinner-full-screen>
<app-header [appTitle]="appTitle">
  <button
    type="button"
    (click)="onCancel()"
    [disabled]="submittingForm">
    Cancelar
  </button>
  <button
    type="button"
    (click)="onSubmit()"
    [disabled]="!form.valid || submittingForm">
    Salvar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loaderFullScreen">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <form [formGroup]="form">
        <div class="form-row">
          <div class="form-group col">
            <label for="descricaoTitulo">Título para agenda do vendedor</label>
            <input
              type="text"
              class="form-control"
              id="descricaoTitulo"
              formControlName="descricaoTitulo"
              (input)="onInput()"
              autocomplete="new-password"
              [ngClass]="onFieldError('descricaoTitulo') + ' ' + onFieldRequired(form.controls.descricaoTitulo)">
            <invalid-form-control [show]="onFieldInvalid('descricaoTitulo')" message="Nome do Título é obrigatório."></invalid-form-control>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-6">
            <label for="codSituacao">Situação</label>
            <select
              class="form-control custom-select"
              id="codSituacao"
              formControlName="codSituacao"
              [ngClass]="onFieldError('codSituacao') + ' ' + onFieldRequired(form.controls.codSituacao)">
              <option value="1" selected >Ativo</option>
              <option value="0">Inativo</option>
            </select>
            <invalid-form-control [show]="onFieldInvalid('codSituacao')" message="Situação é obrigatório."></invalid-form-control>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-body>

