<loader-spinner-full-screen [hidden]="!loading"></loader-spinner-full-screen>
<loader-spinner-navbar [hidden]="!loaderNavbar"></loader-spinner-navbar>
<app-header [appTitle]="appTitle">
    <button
    type="button"
    (click) = "onResetForm()"
    >
    Limpiar
  </button>
  <button
    [disabled]="form.status == 'INVALID'"
    type="button"
    (click) = "onSearch()"
    >
    Filtrar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree">
  <advanced-filter>
    <form [formGroup]="form" autocomplete="off">
      <div class="form-row">
        <div class="form-group col">
          <label for="dtInicial">Data Inicial</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
            </div>
            <input
              class="form-control"
              id="dtInicial"
              type="text"
              bsDatepicker
              placeholder="DATA INICIAL"
              [bsConfig]="bsConfig"
              formControlName="DT_INIC">
          </div>
        </div>
        <div class="form-group col">
          <label for="dtFinal">Final</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
            </div>
            <input
              class="form-control"
              id="dtFinal"
              type="text"
              bsDatepicker
              placeholder="DATA FINAL"
              [bsConfig]="bsConfig"
              formControlName="DT_FINA">
          </div>
        </div>
        <div class="form-group col">
          <label for="nrManifesto">Manifesto</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="far fa-file-alt"></i></span>
            </div>
            <input
              class="form-control"
              id="nrManifesto"
              type="text"
              formControlName="NR_MANI"
              placeholder="Escribelo..."
              (keyup.enter)="onSearch()"
              >
          </div>
        </div>
        <div class="form-group col">
          <label for="empresa">Empresa</label>
          <ng-select
              [searchable]="true"
              [clearable]="true"
              [items]="empresas"
              [virtualScroll]="true"
              [loading]="loadingEmpresas"
              placeholder="SELECCIONE..."
              labelForId="empresa"
              bindLabel="NM_FANT"
              bindValue="CD_EMPR"
              id="empresa"
              formControlName="CD_EMPR"
            >
            <ng-template ng-option-tmp let-item="item" let-index="index">
              ({{item.CD_EMPR | number : '3.0-0'}}) {{item.NM_FANT}}
            </ng-template>
          </ng-select>
        </div>
        <div class="form-group col">
          <label for="$tipoTransporte">Tipo de Transporte</label>
          <ng-select
              [searchable]="true"
              [clearable]="true"
              [items]="tipoTransporte"
              [virtualScroll]="true"
              [loading]="loadingTipoTransporte"
              placeholder="SELECCIONE..."
              labelForId="$tipoTransporte"
              bindLabel="DS_TRAN"
              bindValue="CD_TRAN"
              id="$tipoTransporte"
              formControlName="CD_TRAN"
            >
          </ng-select>
        </div>
        <div class="form-group col-1">
          <label for="itemsPerPage">Registros</label>
          <select 
            class="form-control custom-select"
            (change)="setItensPerPage($event)"
            formControlName="TT_REGI_PAGI"
          >
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="250">250</option>
            <option value="500">500</option>
          </select>
        </div>
      </div>
    </form>
  </advanced-filter>
  <div [hidden]="loading || items.length == 0">
    <table class="table table-sm table-hover border-left border-right border-bottom text-center table-fixed" style="width: 40%">
      <tbody>
        <tr>
          <td><i class="fas fa-circle text-success"></i></td>
          <td>Integrado</td>
          <td>{{ qtItensIntegrados }}</td>
          <td>{{ qtItensIntegrados / totalItems | percent : '1.0-0'}}</td>
        </tr>
        <tr>
          <td><i class="fas fa-circle text-warning"></i></td>
          <td>Não integrado</td>
          <td>{{ qtItensNaoIntegrados }}</td>
          <td>{{ qtItensNaoIntegrados / totalItems | percent : '1.0-0'}}</td>
        </tr>
        <tr>
          <td><i class="fas fa-circle text-danger"></i></td>
          <td>Com erro</td>
          <td>{{ qtItensComErro }}</td>
          <td>{{ qtItensComErro / totalItems | percent : '1.0-0'}}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex">
      <div class="col p-0">
        <custom-table>
          <ng-template #thead let-thead>
            <tr>
              <th scope="col" class="text-center">Manifesto</th>
              <th scope="col" class="text-center">Motorista</th>
              <th scope="col" class="text-center">Veículo</th>
              <th scope="col" class="text-center">Emissão</th>
              <th scope="col" class="text-center">Saída Prevista</th>
              <th scope="col" class="text-center">Integração</th>
              <th scope="col" class="text-center"></th>
            </tr>
          </ng-template>
          <ng-template #tbody let-tbody>
            <tr *ngFor="let item of items | slice : begin : end; let indice = index" >
              <td class="align-middle text-center">{{ item.NR_MANI }}</td>
              <td class="align-middle text-center">{{ item.NM_MOTO }}</td>
              <td class="align-middle text-center">{{ item.CD_PLAC }}</td>
              <td class="align-middle text-center">{{ item.DT_EMIS_MANI | date : 'dd/MM/yyyy HH:mm:ss' }}</td>
              <td class="align-middle text-center">
                <span [tooltip]="item.IN_INTE == 'I' ? 'Não é possível alterar a data prevista de saída de um manifesto já integrado' : ''">
                  <input
                    type="datetime-local"
                    class="form-control custom-input-datetime"
                    [ngModel]="item.DT_PREV_SAID"
                    [disabled]="item.IN_INTE == 'I'"
                    placeholder="dd/mm/aaaa hh:mm"
                    style="background-color: transparent;">
                  </span>
                  <!-- (blur)="setDate($event, item)" -->
                </td>
              <td class="align-middle text-center">
                <span *ngIf="item.DT_INTE">{{ item?.DT_INTE | date : 'dd/MM/yyyy HH:mm:ss' }}</span>
                <span *ngIf="!item.DT_INTE">-</span>
              </td>
              <td class="align-middle text-center">
                <button class="btn-icon-sm" tooltip="Integrar" placement="top" (click)="integraManifesto(item)" [hidden]="item.loading">
                  <i class="fas fa-paper-plane"  [ngClass]="{'text-success': item.IN_INTE === 'I', 'text-warning': item.IN_INTE === 'N', 'text-danger': item.IN_INTE === 'E'}"></i>
                </button>
                <div class="spinner-border text-primary" role="status" [hidden]="!item.loading" style="height: 1rem; width: 1rem;">
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
            </tr>
          </ng-template>
        </custom-table>
        Mostrando {{ itemsPerPage*(currentPage - 1) + 1 }} a {{ currentPage*(itemsPerPage) > totalItems ? totalItems : currentPage*(itemsPerPage) }} de {{ totalItems }}
        <pagination
          [maxSize]="10"
          [totalItems]="totalItems"
          (pageChanged)="onPageChanged($event)"
          [(itemsPerPage)]="itemsPerPage"
          [boundaryLinks]="true"
          [(ngModel)]="currentPage"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      </div>
    </div>
  </div>
  <div [hidden]="loading || items.length > 0" class="d-flex justify-content-center align-items-center" style="width: 100%; height: 300px">
    <empty-result message="No se encontró información"></empty-result>
  </div>
</app-body>