<loader-spinner-full-screen *ngIf="loading"></loader-spinner-full-screen>
<loader-spinner-navbar [hidden]="!loadingNavBar"></loader-spinner-navbar>
<app-header appTitle="Prontuários del Tipo de Vehículo">
  <button
    [disabled]="form.valid === false"
    (click)="postTipoVeiculo()"
    >
    Ahorrar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <form [formGroup]="form" autocomplete="off">
        <div class="form-row">
          <div class="form-group col">
            <label for="NM_VEIC_TIPO">Tipo de Vehículo</label>
            <input
              type="text"
              class="form-control"
              id="NM_VEIC_TIPO"
              formControlName="NM_VEIC_TIPO"
              placeholder="Digite..."
              [ngClass]="onFieldError('NM_VEIC_TIPO') + ' ' + onFieldRequired('NM_VEIC_TIPO')"
            />
            <invalid-form-control [show]="onFieldInvalid('NM_VEIC_TIPO')" message="El Tipo de Vehículo es obligatorio."></invalid-form-control>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="capacidade">Capacidad de Carga</label>
            <input type="text" class="form-control" formControlName="TT_CAPA">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-6">
            <label for="IN_STAT">Status</label>
            <select
              class="form-control custom-select"
              id="IN_STAT"
              formControlName="IN_STAT"
              [ngClass]="onFieldRequired('IN_STAT')">
              <option value="1">Ativo</option>
              <option value="0">Inativo</option>
            </select>
            <invalid-form-control [show]="onFieldInvalid('IN_STAT')" message="El stataus es obligatorio."></invalid-form-control>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="DS_OBSE" >Descripción:</label>
            <textarea class="form-control" id="DS_OBSE" formControlName="DS_OBSE" rows="3"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-body>
