<loader-spinner-full-screen [hidden]="!spinnerFullScreen"></loader-spinner-full-screen>
<loader-spinner-navbar [hidden]="!loaderNavbar"></loader-spinner-navbar>
<app-header [appTitle]="appTitle">
  <button
    (click)="exportarExcel()"
    [disabled]="!noResult"
    >
    Exportar
  </button>
  <button
    (click)="onFilter()"
    >
    Filtrar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree">
  <!-- Início dos Filtros -->
  <advanced-filter #scrollToFilter>
    <form autocomplete="off" [formGroup]="form">
      <div class="form-row justify-content-center">
        <div class="form-group col-md-3">
          <label for="dt_inic_entr"> Data Inicial Entrada</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
              </span>
            </div>
            <input
            class="form-control"
            id="dt_inic_entr"
            type="text"
            bsDatepicker
            [bsConfig]="bsConfig"
            formControlName="DT_INIC_ENTR"
            [ngClass]="onFieldError('DT_INIC_ENTR') + ' ' + onFieldRequired('DT_INIC_ENTR')"
            >
          </div>
          <invalid-form-control
            [show]="onFieldInvalid('DT_INIC_ENTR')"
            message="Data inicial é obrigatório.">
          </invalid-form-control>
        </div>
        <div class="form-group col-md-3">
          <label for="dt_fina_entr"> Data Final Entrada </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
              </span>
            </div>
            <input
            class="form-control"
            id="dt_fina_entr"
            type="text"
            bsDatepicker
            [bsConfig]="bsConfig"
            formControlName="DT_FINA_ENTR"
            [ngClass]="onFieldError('DT_FINA_ENTR') + ' ' + onFieldRequired('DT_FINA_ENTR')"
            >
          </div>
          <invalid-form-control
            [show]="onFieldInvalid('DT_FINA_ENTR')"
            message="Data final é obrigatório.">
          </invalid-form-control>
        </div>
        <div class="form-group col-md-3">
          <label for="dt_inic_conf"> Data Inicial Conferência </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
              </span>
            </div>
            <input
            class="form-control"
            id="dt_inic_conf"
            type="text"
            bsDatepicker
            [bsConfig]="bsConfig"
            formControlName="DT_INIC_CONF"
            [ngClass]="onFieldError('DT_INIC_CONF') + ' ' + onFieldRequired('DT_INIC_CONF')"
            >
          </div>
          <invalid-form-control
            [show]="onFieldInvalid('DT_INIC_CONF')"
            message="Data inicial é obrigatório.">
          </invalid-form-control>
        </div>
        <div class="form-group col-md-3">
          <label for="dt_fina_conf"> Data Final Conferência </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
              </span>
            </div>
            <input
            class="form-control"
            id="dt_fina_conf"
            type="text"
            bsDatepicker
            [bsConfig]="bsConfig"
            formControlName="DT_FINA_CONF"
            [ngClass]="onFieldError('DT_FINA_CONF') + ' ' + onFieldRequired('DT_FINA_CONF')"
            >
          </div>
          <invalid-form-control
            [show]="onFieldInvalid('DT_FINA_CONF')"
            message="Data final é obrigatório.">
          </invalid-form-control>
        </div>
        <div class="form-group col-md-2">
          <label for="linha">Linha</label>
          <ng-select
            [searchable]="true"
            [clearable]="true"
            [items]="linhas"
            [virtualScroll]="true"
            [hideSelected]="true"
            [closeOnSelect]="true"
            placeholder="Selecione linha"
            bindLabel="NM_LINH"
            bindValue="ID"
            placeholder="Selecione..."
            formControlName="ID_LINH"
            (change) = "getClasses(); validaCampo()"
            [ngClass]="onFieldError('ID_LINH') + ' ' + onFieldRequired('ID_LINH')"
          >
          </ng-select>
          <invalid-form-control
            [show]="onFieldInvalid('ID_LINH')"
            message="Linha é obrigatório.">
          </invalid-form-control>
        </div>
        <div class="form-group col-md-2">
          <label for="classe">Classe</label>
          <ng-select
            [searchable]="true"
            [clearable]="true"
            [items]="classes"
            [virtualScroll]="true"
            [hideSelected]="true"
            [closeOnSelect]="true"
            labelForId="classe"
            bindLabel="NM_CLAS"
            bindValue="ID"
            placeholder="Selecione classe"
            formControlName="ID_CLAS"
            (change) = "getMateriais(); validaCampo()"
            [ngClass]="onFieldError('ID_CLAS') + ' ' + onFieldRequired('ID_CLAS')"
          >
          </ng-select>
          <invalid-form-control
            [show]="onFieldInvalid('ID_CLAS')"
            message="Classes é obrigatório.">
          </invalid-form-control>
        </div>
        <div class="form-group col-md-6">
          <label for="material">Material</label>
            <ng-select
              [searchable]="true"
              [clearable]="true"
              [items]="materiais"
              [virtualScroll]="true"
              [hideSelected]="true"
              [closeOnSelect]="true"
              labelForId="material"
              bindLabel="NM_MATE"
              bindValue="ID"
              placeholder="Selecione material"
              formControlName="ID_MATE"
              [ngClass]="onFieldError('ID_MATE') + ' ' + onFieldRequired('ID_MATE')"
            >
            </ng-select>
            <invalid-form-control
              [show]="onFieldInvalid('ID_MATE')"
              message="Materiais é obrigatório.">
            </invalid-form-control>
        </div>
        <div class="form-group col-md-2">
          <label for="numeroLote"> Número do lote </label>
          <input
            id="numeroLote"
            type="text"
            class="form-control"
            placeholder="DIGITE..."
            formControlName="CD_LOTE"
            currencyMask [options]="numerico"
            (keyup.enter)="onFilter()">
        </div>
      </div>
    </form>
  </advanced-filter>
  <!-- Início da Lista -->
  <div class="row">
    <div class="col">
      <custom-table [config]="tableConfig" [hidden]="!noResult">
        <ng-template #thead let-thead>
          <tr>
            <th class="text-center text-nowrap hoverp" (click)="sort('DS_SITU')">Situação
              <span *ngIf="key == 'DS_SITU'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'DS_SITU'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('SIGL_FORN')">Sigla Fornecedor
              <span *ngIf="key == 'SIGL_FORN'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'SIGL_FORN'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('CD_MATE')">Cód. Material
              <span *ngIf="key == 'CD_MATE'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'CD_MATE'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('DS_MATE')">Material
              <span *ngIf="key == 'DS_MATE'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'DS_MATE'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('DS_LINH')">Linha
              <span *ngIf="key == 'DS_LINH'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'DS_LINH'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('DS_CLAS')">Classe
              <span *ngIf="key == 'DS_CLAS'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'DS_CLAS'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('UNIDADE')">Uni. Medida
              <span *ngIf="key == 'UNIDADE'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'UNIDADE'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('CD_LOTE')">Lote
              <span *ngIf="key == 'CD_LOTE'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'CD_LOTE'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('QT_ENTR')">Quantidade
              <span *ngIf="key == 'QT_ENTR'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'QT_ENTR'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('DT_ENTR')">Data Entrada
              <span *ngIf="key == 'DT_ENTR'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'DT_ENTR'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('DT_CONF')">Data Conferência
              <span *ngIf="key == 'DT_CONF'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'DT_CONF'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('HR_CONF')">Hora Conferência
              <span *ngIf="key == 'HR_CONF'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'HR_CONF'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('DS_USER_CONF')">Usuário Conferência
              <span *ngIf="key == 'DS_USER_CONF'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'DS_USER_CONF'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('DT_RETO')">Data Retorno
              <span *ngIf="key == 'DT_RETO'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'DT_RETO'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('HR_RETO')">Hora Retorno
              <span *ngIf="key == 'HR_RETO'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'HR_RETO'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('DS_USER_RETO')">Usuário Retorno
              <span *ngIf="key == 'DS_USER_RETO'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'DS_USER_RETO'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('DT_BAIX')">Data Baixa
              <span *ngIf="key == 'DT_BAIX'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'DT_BAIX'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('HR_BAIX')">Hora Baixa
              <span *ngIf="key == 'HR_BAIX'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'HR_BAIX'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('DS_USER_BAIX')">Usuário Baixa
              <span *ngIf="key == 'DS_USER_BAIX'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'DS_USER_BAIX'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
            <th class="text-center text-nowrap hover" (click)="sort('NR_PEDI_PAI')">Num. Pedido Pai
              <span *ngIf="key == 'NR_PEDI_PAI'"><i [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i></span>
              <span *ngIf="key != 'NR_PEDI_PAI'"><i [ngClass]="'fas fa-sort'"></i></span>
            </th>
          </tr>
        </ng-template>
        <ng-template #tbody let-tbody>
          <tr *ngFor="let lista of listas | slice : begin : end; let i = index">
            <td class="text-center text-nowrap">{{ lista.DS_SITU}}</td>
            <td class="text-center text-nowrap">{{ lista.SIGL_FORN}}</td>
            <td class="text-center text-nowrap">{{ lista.CD_MATE | number: '0.0-0'}}</td>
            <td class="text-center text-nowrap">{{ lista.DS_MATE}}</td>
            <td class="text-center text-nowrap">{{ lista.DS_LINH}}</td>
            <td class="text-center text-nowrap">{{ lista.DS_CLAS}}</td>
            <td class="text-center text-nowrap">{{ lista.UN_MEDI}}</td>
            <td class="text-center text-nowrap">{{ lista.CD_LOTE}}</td>
            <td class="text-center text-nowrap">{{ lista.QT_ENTR | number: '0.3-3'}}</td>
            <td class="text-center text-nowrap">{{ lista.DT_ENTR}}</td>
            <td class="text-center text-nowrap">{{ lista.DT_CONF}}</td>
            <td class="text-center text-nowrap">{{ lista.HR_CONF}}</td>
            <td class="text-center text-nowrap">{{ lista.DS_USER_CONF}}</td>
            <td class="text-center text-nowrap">{{ lista.DT_RETO}}</td>
            <td class="text-center text-nowrap">{{ lista.HR_RETO}}</td>
            <td class="text-center text-nowrap">{{ lista.DS_USER_RETO}}</td>
            <td class="text-center text-nowrap">{{ lista.DT_BAIX}}</td>
            <td class="text-center text-nowrap">{{ lista.HR_BAIX}}</td>
            <td class="text-center text-nowrap">{{ lista.DS_USER_BAIX}}</td>            
            <td class="text-center text-nowrap">{{ lista.NR_PEDI_PAI}}</td>
          </tr>
        </ng-template>
      </custom-table>
      <div class="mt-3" [hidden]="!noResult">
        Exibindo {{ itemsPerPage*(currentPage - 1) + 1 }} a {{ currentPage*(itemsPerPage) > totalItems ? totalItems : currentPage*(itemsPerPage) }} de {{ totalItems }}
        <pagination
          [maxSize]="10"
          [totalItems]="totalItems"
          [(itemsPerPage)]="itemsPerPage"
          (pageChanged)="onPageChanged($event)"
          [boundaryLinks]="true"
          [(ngModel)]="currentPage"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      </div>
      <empty-result
        message="Nenhuma informação encontrada"
        class="my-3"
        *ngIf="dadosEmpty">
      </empty-result>
    </div>
  </div>
</app-body>
