<loader-spinner-navbar [hidden]="!loaderNavbar"></loader-spinner-navbar>
<loader-spinner-full-screen *ngIf="loaderFullScreen"></loader-spinner-full-screen>
<app-header appTitle="Autorizaciones">
  <button
    type="button"
    (click)="onAdd()">
    Adicionar
  </button>
  <button
    type="button"
    (click)="onFilter()"
    [disabled]="loaderNavbar || !form.valid">
    Filtrar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loaderFullScreen">
  <div #scrollToFilter>
    <advanced-filter>
      <form [formGroup]="form">
        <div class="form-row">
          <div class="form-group col-lg-3">
            <label for="tipoData">Buscar por</label>
            <select
              class="form-control custom-select"
              id="tipoData"
              formControlName="tipoData">
              <option value="1">Data de lançamento</option>
            </select>
          </div>
          <div class="form-group col-lg-2">
            <label for="dataInicial">Data inicial</label>
            <input
              class="form-control"
              id="dataInicial"
              type="text"
              bsDatepicker
              [bsConfig]="bsConfig"
              formControlName="dataInicial">
          </div>
          <div class="form-group col-lg-2">
            <label for="dataFinal">Data final</label>
            <input
              class="form-control"
              id="dataFinal"
              type="text"
              bsDatepicker
              [bsConfig]="bsConfig"
              formControlName="dataFinal">
          </div>
          <div class="form-group col-lg-3">
            <label for="codSituacao">Situação</label>
            <ng-select
            [searchable]="true"
            [clearable]="true"
            [items]="tipos"
            [virtualScroll]="true"
            labelForId="tipo"
            bindLabel="nome"
            bindValue="cod"
            id="tipo"
            formControlName="codSituacao"
            placeholder="Selecione..."
          >
            <ng-template ng-option-tmp let-item="item" let-index="index"> {{item.nome}}
            </ng-template>
          </ng-select>
          </div>
          <div class="form-group col-lg-2">
            <label for="nrProposta">Núm. proposta</label>
            <input
              type="text"
              placeholder="Digite..."
              id="nrProposta"
              class="form-control"
              formControlName="nrProposta"
              (keydown.enter)="onFilter()">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-5">
            <label for="cliente">Cliente</label>
            <input
              type="text"
              class="form-control"
              placeholder="Digite..."
              id="cliente"
              formControlName="cliente"
              (keydown.enter)="onFilter()">
          </div>
          <div class="form-group col-lg-5">
            <label for="usuarioLancamento">Usuário de Lançamento</label>
            <input
              type="text"
              class="form-control"
              placeholder="Digite..."
              id="usuarioLancamento"
              formControlName="usuarioLancamento"
              (keydown.enter)="onFilter()">
          </div>
          <div class="form-group col-lg-2">
            <label for="registros">Registros</label>
            <select
              class="form-control custom-select"
              id="registros"
              formControlName="registros">
              <option>100</option>
              <option>200</option>
              <option>300</option>
            </select>
          </div>
        </div>
      </form>
    </advanced-filter>
  </div>
  <subtitles
    [data]="subtitles"
    [show]="dados.length > 0 && !dadosEmpty">
  </subtitles>
  <div class="row" *ngIf="dados.length > 0 && !dadosEmpty">
    <div [ngClass]="{'col-12': !showDetailPanel, 'col-6 pr-0': showDetailPanel}">
      <custom-table [config]="tableConfig">
        <ng-template #thead let-thead>
          <tr>
            <th scope="col" class="text-center">
              <thead-sorter
                value="Núm."
                [active]="orderBy == 'nrProposta'"
                [sort]="orderType"
                (click)="setOrderBy('nrProposta')">
              </thead-sorter>
            </th>
            <th scope="col" class="text-center">
              <thead-sorter
                value="Prioridade"
                [active]="orderBy == 'codPrioridade'"
                [sort]="orderType"
                (click)="setOrderBy('codPrioridade')">
              </thead-sorter>
            </th>
            <th scope="col" class="text-center">
              <thead-sorter
                value="Lançamento"
                [active]="orderBy == 'dataLancamento'"
                [sort]="orderType"
                (click)="setOrderBy('dataLancamento')">
              </thead-sorter>
            </th>
            <th scope="col">
              <thead-sorter
                value="Cliente"
                [active]="orderBy == 'razaoSocial'"
                [sort]="orderType"
                (click)="setOrderBy('razaoSocial')">
              </thead-sorter>
            </th>
            <th scope="col" [hidden]="showDetailPanel">Lançado por</th>
            <th scope="col" [hidden]="showDetailPanel"></th>
          </tr>
        </ng-template>
        <ng-template #tbody let-tbody>
          <tr *ngFor="let pedido of dados; let i = index" [class.table-active]="i == activeRow">
            <td (click)="viewRegister(i, pedido)"  class="text-center hover" [ngClass]="styleStatusBorder(pedido)" >{{ pedido.nrPedido }}</td>
            <td class="text-center hover" (click)="viewRegister(i, pedido)">{{ pedido.prioridade }}</td>
            <td class="text-center hover" (click)="viewRegister(i, pedido)">{{ pedido.dataCadastro  | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td class="hover" (click)="viewRegister(i, pedido)">{{ pedido.razaoSocial | uppercase }}</td>
            <td class="hover" (click)="viewRegister(i, pedido)" [hidden]="showDetailPanel">{{ pedido.nomeUsuarioCadastro | uppercase }}</td>
            <td class="hover" style="width:160px">
              <span class="mr-3" tooltip="Editar" placement="left" container="body" *ngIf="pedido.codSituacao == 1">
                <button type="button" class="btn-icon-sm" (click)="onEdit(pedido)" >
                  <i class="fas fa-edit"></i>
                </button>
              </span>
              <span
              *ngIf="pedido.codSituacao == 1"
              class="mr-3"
              tooltip="Alterar para Produção"
              placement="left"
              container="body"
              >
                <button type="button" class="btn-icon-sm" (click)="openModalProducao(producao); setFormProducao(pedido);">
                  <i class="fab fa-deviantart"></i>
                </button>
              </span>
              <span class="mr-3"
              tooltip="ver Observação Produção"
              placement="left" container="body"
              *ngIf="pedido.codSituacao == 2 || pedido.codSituacao == 3">
                <button type="button" class="btn-icon-sm" (click)="openModalProducao(producao); setFormProducao(pedido);">
                  <i class="fas fa-eye"></i>
                </button>
              </span>
              <span
              *ngIf="pedido.codSituacao == 2"
              class="mr-3"
              tooltip="Alterar para Expedição"
              placement="left"
              container="body">
                <button type="button" class="btn-icon-sm" (click)="openModalExpedicao(expedicao); setFormExpedicao(pedido);">
                  <i class="fab fa-deviantart"></i>
                </button>
              </span>
              <span class="mr-3"
              tooltip="ver Localização de expedição"
              placement="left" container="body"
              *ngIf="pedido.codSituacao == 3">
                <button type="button" class="btn-icon-sm" (click)="openModalExpedicao(expedicao); setFormExpedicao(pedido);">
                  <i class="far fa-eye"></i>
                </button>
              </span>
              <!-- <span class="mr-3" tooltip="Imprimir Proposta" placement="left" container="body">
                <button type="button" class="btn-icon-sm" >
                  <i class="fas fa-print"></i>
                </button>
              </span>
              <span class="mr-3" tooltip="Imprimir Etiqueta" placement="left" container="body">
                <button type="button" class="btn-icon-sm" >
                  <i class="fas fa-copy"></i>
                </button>
              </span>
              <span class="mr-3" tooltip="Deletar" placement="left" container="body">
                <button type="button" class="btn-icon-sm" >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </span> -->
            </td>
          </tr>
        </ng-template>
      </custom-table>
      <empty-result message="Nenhuma informação encontrada" *ngIf="dadosEmpty && !dadosLoaded"></empty-result>
      <div class="d-flex justify-content-center mt-3" *ngIf="totalItems > itemsPerPage && !dadosEmpty && dadosLoaded">
        <pagination
          [maxSize]="maxSize"
          [(totalItems)]="totalItems"
          (pageChanged)="onPageChanged($event)"
          [(itemsPerPage)]="itemsPerPage"
          [boundaryLinks]="true"
          [(ngModel)]="currentPage"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      </div>
    </div>
    <div class="col-6" [hidden]="!showDetailPanel" #scrollToDetails>
      <detail-panel [panelTitle]="detailPanelTitle">
        <!-- <div class="row mt-1">
          <div class="col" >
            <button
              type="button"
              class="btn-icon mr-3"
              tooltip="Editar"
              placement="right"s
              (click)="onEdit(pedido)">
              <i class="fas fa-edit"></i>
            </button>
            <button
              type="button"
              class="btn-icon mr-3"
              tooltip="Imprimir Proposta"
              placement="right">
              <i class="fas fa-print"></i>
            </button>
            <button
              type="button"
              class="btn-icon mr-3"
              tooltip="Imprimir Etiqueta"
              placement="right">
              <i class="fas fa-copy"></i>
            </button>
            <button
              type="button"
              class="btn-icon mr-3"
              tooltip="Deletar"
              placement="right">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div> -->
        <!-- <div class="row">
          <div class="col"><hr></div>
        </div> -->
        <div class="mtc-title">Detalhes do Pedido</div>
        <div class="row" *ngFor = "let item of detalhes;">
          <div class="col">
            <div >
              <div class="form-row mt-3">
                <div class="form-group col-6">
                  <label>Número do Pedido</label>
                  <div *ngIf="item.nrPedido == null || item.nrPedido == ''">NÃO INFORMADO</div>
                  <div *ngIf="item.nrPedido != null && item.nrPedido != ''">{{ item.nrPedido }}</div>
                </div>
                <div class="form-group col-6">
                  <label>Cliente</label>
                  <div *ngIf="item.razaoSocial == null || item.razaoSocial == ''">NÃO INFORMADO</div>
                  <div *ngIf="item.razaoSocial != null && item.razaoSocial != ''">{{ item.razaoSocial }}</div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label>Data de Lançamento</label>
                  <div *ngIf="item.dataCadastro == null || item.dataCadastro == ''">NÃO INFORMADO</div>
                  <div *ngIf="item.dataCadastro != null && item.dataCadastro != ''">{{ item.dataCadastro  | date: 'dd/MM/yyyy HH:mm' }}</div>
                </div>
                <div class="form-group col-6">
                  <label>Data Prevista de Entrega</label>
                  <div *ngIf="item.dataPrevisaoEntrega == null || item.dataPrevisaoEntrega == ''">NÃO INFORMADO</div>
                  <div *ngIf="item.dataPrevisaoEntrega != null && item.dataPrevisaoEntrega != ''">{{ item.dataPrevisaoEntrega  | date: 'dd/MM/yyyy HH:mm'}}</div>
                </div>
              </div>
              <!-- <div class="form-row">
                <div class="form-group col">
                  <label>Observações</label>
                  <div *ngIf="item.observacao == null || item.observacao == ''">
                    NÃO INFORMADO
                  </div>
                  <div *ngIf="item.observacao != null && item.observacao != ''">
                    {{ item.observacao }}
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col"><hr></div>
        </div>
        <div class="row">
          <div class="col" *ngIf="itensLoaded && !itensEmpty">
            <div class="mtc-title">Itens da proposta</div>
            <custom-table >
              <ng-template #thead let-thead>
                <tr>
                  <th scope="col">Material</th>
                  <th scope="col" class="text-center">Qtde.</th>
                  <th scope="col" class="text-center">Peso</th>
                </tr>
              </ng-template>
              <ng-template #tbody let-tbody>
                <tr *ngFor="let item of detalhesCarrinho" >
                  <td>{{ item.codMaterial }} - {{ item.nomeMaterial | uppercase }}</td>
                  <td class="text-center">{{ item.qtdeItem | number:'1.3-3' }}</td>
                  <td class="text-center">{{ item.peso }} TON</td>
                </tr>
                <tr>
                  <td class="bg-dark text-white text-center">TOTAL</td>
                  <td class="bg-dark text-white text-center">{{ detalhes.qtdeTotal | number:'1.3-3' }}</td>
                  <td class="bg-dark text-white text-center">{{ detalhes.pesoTotal  }} TON</td>
                </tr>
              </ng-template>
            </custom-table>
            <div *ngIf="itensLoaded && itensEmpty">
              <empty-result message="Nenhuma informação encontrada"></empty-result>
            </div>
            <div class="d-flex w-100" *ngIf="!itensLoaded">
              <div class="spinner-border spinner-border-sm text-dark my-auto mr-2"></div>
              <strong>Carregando itens...</strong>
            </div>
          </div>
        </div>
      </detail-panel>
    </div>
  </div>

  <!-- Modal alteração produção -->
<ng-template #producao>

  <div>
    <div class="modal-body">

        <button type="button" class="close pull-right" (click)="closeModal(producao)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="mtc-title">Alteração para Produção</div>
        <form [formGroup]="formProducao" autocomplete="off" #scrollToFormOnTop>
            <div class="form-group">
              <textarea
                class="form-control"
                id="text-area"
                rows="3"
                formControlName="observacao"
                [readonly]="comentario">
            </textarea>
            </div>
          </form>
        <div class="row mt-2">
          <div class="col" style="text-align: center;" >

          <button
            *ngIf = "!comentario"
            type="button"
            class="btn btn-success"
            (click)="modalRef.hide(); onChangeProducao();"
            >
            Enviar
          </button>

        </div>
      </div>

  </div>
</div>
</ng-template>

<!-- Modal alteração expedição -->
<ng-template #expedicao>

  <div>
    <div class="modal-body">

      <button type="button" class="close pull-right" (click)="closeModal(expedicao)" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        <div class="mtc-title">Alteração para Expedição</div>
            <div class="form-group">
              <form [formGroup]="formExpedicao" autocomplete="off" #scrollToFormOnTop>
              <label>Localização de Expedição</label>
                <select
                  class="form-control custom-select"
                  id="codLocalizacao"
                  placeholder="Selecione..."
                  formControlName="codLocalizacao">
                  <option value="">Todos</option>
                  <option value="1">Piracicaba</option>
                  <option value="2">Rio das Pedras-CD</option>
                  <option value="3">Rio das Pedras-Civil</option>
                  <option value="4">Retira</option>
                </select>
              </form>
          </div>

          <div class="row mt-2">
            <div class="col" style="text-align: center;">

            <button
              *ngIf="!localizacao"
              type="button"
              class="btn btn-success"
              (click)="modalRef.hide(); onChangeExpedicao();"
              >
              Enviar
            </button>

          </div>
    </div>

  </div>
</div>
</ng-template>
</app-body>
