<p>autorizaciones works!</p>

<app-header appTitle="Autorizaiones">
  <button type="button" >
    Limpar
  </button>
</app-header>
<app-body >
  <div>
    <h6> Gestión de autorización</h6>
    <div class="text">
      <input type="text" placeholder="Buscar..." (keyup)="">
      <button >Buscar</button>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">FECHA SOL.</th>
        <th scope="col">F. DEPOSITO</th>
        <th scope="col">CARNET</th>
        <th scope="col">CLIENTE</th>
        <th scope="col">TOTAL</th>
        <th scope="col">OFERTA</th>
        <th scope="col">USUARIO</th>
        <th scope="col">ESTADO</th>
        <th scope="col">RESPALDO</th>
        <th scope="col">GESTION</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>07-07-2023</th>
        <td>18-07-2023</td>
        <td>5864321</td>
        <td>Juan Perez</td>
        <td>8000 USD</td>
        <td>OFERTA 1</td>
        <td>Juan Perez</td>
        <td> <select class="form-control custom-select" formControlName="orderBy" id="">
          <option value="nrPedido">Aprobado</option>
          <option value="nmPedido">Pendiente</option>
          <option value="nmPedido">Rechazado</option>
        </select></td>
        <td>
          <button class="btn btn-primary me-md-2" type="button">Ver</button>
        </td>
        <td>
          <!--<button type="button" class="btn btn-dark btn-sm" (click)="openModal()">Gestionar</button>
          <app-autorizacion *ngIf="isOpen" (click)="closeModal()"></app-autorizacion>-->
          <button type="button" class="btn btn-secondary btn-sm" id=""  >Gestionar</button>
        </td>
      </tr>
      <tr>
        <th>10-07-2023</th>
        <td>12-07-2023</td>
        <td>5866621</td>
        <td>Benita Lopez</td>
        <td>500 USD</td>
        <td>OFERTA 1</td>
        <td>Benita</td>
        <td>
          <select class="form-control custom-select" formControlName="orderBy" id="">
            <option value="nrPedido">Aprobado</option>
            <option value="nmPedido">Pendiente</option>
            <option value="nmPedido">Rechazado</option>
          </select>
        </td>
        <td>
          <button class="btn btn-primary me-md-2" type="button">Ver</button>
        </td>
        <td>
          <!--<button type="button" class="btn btn-dark btn-sm" (click)="openModal()">Gestionar</button>
         <app-autorizacion *ngIf="isOpen" (click)="closeModal()"></app-autorizacion> -->
          <button type="button" class="btn btn-secondary btn-sm" id="isOpen" >Gestionar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</app-body>
