.page {
  background-color: #fff;
}

img {
  width: 100px;
  height: 80px;
}

// .dollar {
//   height: 30px;
//   width: 30px;
// }

.colorGray {
  color: #828282;
}

.fontGray {
  color: #828282;
}

.colorLowGray {
  background: #f2f2f2;
}

.colorHighGray {
  background: #e0e0e0;
}

.bigCards {
  font-size: 0.8rem;
}

.colorBlack {
  color: #4f4f4f;
}

.colorRed {
  color: #eb5c5c;
}

.smallCards {
  font-size: 0.8rem;
}

.smallFont {
  font-size: 0.7rem;
}

.microFont {
  font-size: 0.6rem;
}

.borderRadius {
  border-radius: 23px;
}

.bdTopLeft {
  border-top-left-radius: 15px;
}

.bdTopRight {
  border-top-right-radius: 15px;
}

.bdBottomLeft {
  border-bottom-left-radius: 15px;
}

.bdBottomRight {
  border-bottom-right-radius: 15px;
}

.mid {
  font-size: 35px;
}

.padding {
  padding-top: 30px;
}

.borderNone {
  border: none !important;
}

.marginNegative {
  margin-bottom: -18px;
}

.paddingCard {
  padding: 30px;
}

.alignItem {
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
}

.alignSelf {
  align-self: center;
  align-content: center;
}
