<div class="modal-content">
    <div class="modal-header">
        <h4 class="mtc-title mb-auto">Autorizacion</h4>
        <button type="button" class="close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <form [formGroup]="form" autocomplete="off">
                    <div class="form-row justify-content-center">
                        <!-- <div class="form-group col-lg-5">
                            <label for="desconto">% Autorizado</label>
                            <input type="text" id="desconto" class="form-control" formControlName="descuentoAutorizado"
                                [max]="maxValue"
                                [ngClass]="onFieldError('desconto') + ' ' + onFieldRequired(form.controls.desconto)"
                                readonly>
                        </div> -->
                    </div>
                    <div class="form-row justify-content-center">
                        <!-- <div class="form-group col-lg-5">
                            <label for="desconto">Descuento</label>
                            <input type="text" id="desconto" class="form-control" formControlName="desconto"
                                currencyMask [options]="currencyMaskOptions" [max]="maxValue"
                                [ngClass]="onFieldError('desconto') + ' ' + onFieldRequired(form.controls.desconto)">
                        </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onClose()">
            Cancelar
        </button>
        <button type="button" class="btn btn-success" (click)="onSubmit()">
            Confirmar
        </button>
    </div>
</div>