<loader-spinner-navbar *ngIf="loaderNavbar"></loader-spinner-navbar>
<loader-spinner-full-screen *ngIf="loaderFullScreen"></loader-spinner-full-screen>
<app-header [appTitle]="appTitle">
  <button
    type="button"
    (click)="onCancel()"
    [disabled]="submittingForm">
    Cancelar
  </button>
  <button
    type="button"
    (click)="onSubmit()"
    [disabled]="!form.valid || submittingForm ">
    Salvar
  </button>
  <!-- || submittingForm -->
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loaderFullScreen">
<form [formGroup]="form">
  <div class="col-12 mt-3">
    <div class="row justify-content-center">
      <div class="col-lg-6">

          <div class="form-row">
            <div class="form-group col-9">
              <label for="dsTipoComissionamento">Tipo de Recebimento</label>
              <input
                type="text"
                class="form-control"
                id="dsTipoComissionamento"
                formControlName="dsTipoComissionamento"

                (input)="onInput()"
                autocomplete="new-password"
                [ngClass]="onFieldError('dsTipoComissionamento') + ' ' + onFieldRequired(form.controls.dsTipoComissionamento)">
              <invalid-form-control [show]="onFieldInvalid('dsTipoComissionamento')" message="Tipo de recebimento é obrigatório."></invalid-form-control>
            </div>

            <div class="form-group col-lg-3">
              <label for="codSituacao">Situação</label>
              <select
                class="form-control custom-select"
                id="codSituacao"
                formControlName="codSituacao"
                [ngClass]="onFieldError('codSituacao') + ' ' + onFieldRequired(form.controls.codSituacao)">
                <option value="0">Inativo</option>
                <option value="1">Ativo</option>
              </select>
              <invalid-form-control [show]="onFieldInvalid('codSituacao')" message="Qtde. parcelas é obrigatório."></invalid-form-control>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-3" formArrayName="linhas">

    <div class="col-12" *ngFor="let item of linhas.controls; let i = index" [formGroupName]="i">
    <div class="form-row justify-content-center" >
        <div class="col-lg-6 border mb-3" >
          <!-- <hr> -->
          <div class="form-row">
            <div class="form-group col-lg-5" >
              <label for="codLinha">Linha</label>
              <ng-select
                [searchable]="true"
                [clearable]="false"
                [items]="linhasMaterial"
                formControlName="codLinha"
                [virtualScroll]="true"
                labelForId="codLinha"
                bindLabel="descricao"
                bindValue="id"
                (change)="onChangeLinha($event.id, i)"
                [ngClass]="onNestedFieldError('linhas', i, 'codLinha') + ' ' + onNestedFieldRequired('linhas', i, 'codLinha')">
            </ng-select>

            </div>
            <div class="form-group col-lg-5">
              <label for="codSituacao">Classe</label>
              <ng-select
                [searchable]="true"
                [clearable]="false"
                [items]="filteredClasses[i]"
                formControlName="codClasse"
                [virtualScroll]="true"
                labelForId="codClasse"
                bindLabel="nomeClasse"
                bindValue="idClasse"
                [ngClass]="onNestedFieldError('linhas', i, 'codClasse') + ' ' + onNestedFieldRequired('linhas', i, 'codClasse')">
            </ng-select>

            </div>
            <div class="form-group col-lg-1"></div>
            <div class="form-group col-lg-1 pt-3">
              <btn-icon
                  icon="fas fa-plus-square"
                  class="justify-content-center pt-2"
                  size="medium"
                  color="primary"
                  tooltip="Novo Percentual"
                  (click)="onAddPercentual(i)">
              </btn-icon>
              <!-- onDeleteValor(i, item.value, 'change'); -->
            </div>
          </div>

          <div class="form-row mb-2" *ngIf="getPercentual(i).controls.length > 0">
            <div class="col-lg-12 mb-2">
            <custom-table [config]="tableConfigPercentual" formArrayName="percentual">
              <ng-template #thead let-thead>
                <tr>
                  <th scope="col" class="border text-center" style="width: 55%">Percentual de desconto da tabela de vendas de materiais (%) </th>
                  <th scope="col" class="border text-center" style="width: 45%">Percentual a ser pago de comissão sobre o título (%) </th>
                </tr>
              </ng-template>
              <ng-template #tbody let-tbody >
                <tr  *ngFor="let percentual of getPercentual(i).controls; let j = index"  class="colorBody" [formGroupName]="j">

                  <td class="border">
                    <div class="form-row">

                      <div class="col-5">
                          <input
                            style="text-align: center;"
                            class="form-control"
                            id="percDescontoDe"
                            type="text"
                            formControlName="percDescontoDe"
                            (input)="onInput()"
                            currencyMask [options]="{ align: 'center', prefix: '', thousands: '.', decimal: ',', precision: 2, suffix: '%' }"
                            [ngClass]="onMoreNestedFieldError('linhas', i, 'percentual', j, 'percDescontoDe') + ' '
                            + onMoreNestedFieldRequired('linhas', i, 'percentual', j, 'percDescontoDe')">


                      </div>
                      <div class="col-2"> a </div>
                      <div class="col-5">
                          <input
                            style="text-align: center;"
                            class="form-control"
                            id="percDescontoAte"
                            type="text"
                            formControlName="percDescontoAte"
                            (input)="onInput()"
                            currencyMask [options]="{ align: 'center', prefix: '', thousands: '.', decimal: ',', precision: 2, suffix: '%' }"
                            [ngClass]="onMoreNestedFieldError('linhas', i, 'percentual', j, 'percDescontoAte') + ' '
                            + onMoreNestedFieldRequired('linhas', i, 'percentual', j, 'percDescontoAte')">
                      </div>
                      </div>
                  </td>

                  <td class="border">
                    <div class="form-row">
                      <div class="col-2"></div>
                      <div class="col-8">
                        <input
                          style="text-align: center;"
                          class="form-control"
                          id="percPago"
                          type="text"
                          formControlName="percPago"
                          (input)="onInput()"
                          currencyMask [options]="{ align: 'center', prefix: '', thousands: '.', decimal: ',', precision: 2, suffix: '%' }"
                          [ngClass]="onMoreNestedFieldError('linhas', i, 'percentual', j, 'percPago') + ' '
                            + onMoreNestedFieldRequired('linhas', i, 'percentual', j, 'percPago')">
                      </div>
                      <div class="col-2">
                        <div class="form-row justify-content-end">
                          <div class="col-lg-12 mb-2">
                            <button type="button" class="btn-icon-sm float-right" (click)="onDeleteValor(i, item.value.percentual[j], j, 'one')" tooltip="Limpar Registro" >
                              <i class="fas fa-trash"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>

                </tr>
              </ng-template>
            </custom-table>
          </div>
          </div>
          <div class="form-row justify-content-end" *ngIf="getPercentual(i).controls.length > 0">
            <div class="col-lg-12 mb-2">
              <btn-icon
                  icon="fas fa-trash"
                  class="float-right"
                  size="medium"
                  color="danger"
                  tooltip="Limpar Tudo"
                  (click)="onDeleteValor(i, item.value.percentual, j, 'all')">
              </btn-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto" *ngIf="getPercentual(i).controls.length > 0">
      <div class="form-row" >
        <div class="col-lg-12 mb-3 justify-content-center">
          <btn-icon
            icon="fas fa-plus"
            size="small"
            class="float-right"
            tooltip="Nova faixa de valores"
            (click)="onAddLinha(i)">
          </btn-icon>
        </div>
      </div>
    </div>
    </div>
  </div>
  </form>
</app-body>


