<loader-spinner-full-screen *ngIf="loaderFullScreen"></loader-spinner-full-screen>
<div class="row" *ngIf="enderecosLoaded">
  <div class="col">
    <div class="mtc-title">Direcciones</div>
    <accordion *ngIf="enderecos && enderecos.length > 0">
      <accordion-group class="mb-2" [heading]="tipoEndereco(endereco)" *ngFor="let endereco of enderecos">
        <div class="d-flex justify-content-between w-100 mb-3">
          <div class="mtc-title mb-0">{{ tipoEndereco(endereco) }}</div>
          <div>
            <a
              class="text-secondary"
              [routerLink]="['editar', endereco.id, 1]"
              *ngIf="endereco.principal == 0">
              <b>Editar</b>
            </a>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>CEP</label>
            <div *ngIf="endereco.cep == null">SIN INFORMACION</div>
            <div *ngIf="endereco.cep != null">{{ endereco.cep | cep }}</div>
          </div>
          <div class="form-group col-md-6">
            <label>Direccion</label>
            <div *ngIf="endereco.endereco == null">SIN INFORMACION</div>
            <div *ngIf="endereco.endereco != null">{{ endereco.endereco }}</div>
          </div>
        </div>
        <div class="form-row">
          <!-- <div class="form-group col-md-6">
            <label>Número</label>
            <div *ngIf="endereco.numero == null">SIN INFORMACION</div>
            <div *ngIf="endereco.numero != null">{{ endereco.numero }}</div>
          </div> -->
          <div class="form-group col-md-6">
            <label>Complemento</label>
            <div *ngIf="endereco.complemento == null">SIN INFORMACION</div>
            <div *ngIf="endereco.complemento != null">{{ endereco.complemento }}</div>
          </div>
          <div class="form-group col-md-6">
            <label>Referencia</label>
            <div *ngIf="endereco.referencia == null">SIN INFORMACION</div>
            <div *ngIf="endereco.referencia != null">{{ endereco.referencia }}</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Barrio</label>
            <div *ngIf="endereco.bairro == null">SIN INFORMACION</div>
            <div *ngIf="endereco.bairro != null">{{ endereco.bairro }}</div>
          </div>
          <div class="form-group col-md-6 mb-0">
            <label>Ciudad</label>
            <div *ngIf="endereco.cidade == null">SIN INFORMACION</div>
            <div *ngIf="endereco.cidade != null">
              {{ endereco.cidade }}<span *ngIf="endereco.uf != null"> / {{ endereco.uf }}</span>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 mb-0" *ngIf="endereco.principal == 1">
            <label>Región de operación comercial</label>
            <div *ngIf="endereco.descAtuacaoComercial == null">SIN INFORMACION</div>
            <div *ngIf="endereco.descAtuacaoComercial != null">{{ endereco.descAtuacaoComercial }}</div>
          </div>
        </div>
        <div *ngIf="endereco.entrega == 1">
          <div class="form-row">
            <div class="col"><hr></div>
          </div>
          <div class="mtc-title">Datos de entrega</div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Título do local de entrega</label>
              <div *ngIf="endereco.titulo == null">SIN INFORMACION</div>
              <div *ngIf="endereco.titulo != null">{{ endereco.titulo }}</div>
            </div>
            <div class="form-group col-md-6">
              <label>Region de entrega</label>
              <div *ngIf="endereco.descRegiaoEntrega == null">SIN INFORMACION</div>
              <div *ngIf="endereco.descRegiaoEntrega != null">{{ endereco.descRegiaoEntrega }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label>Dias para realizar entregas</label>
              <div class="form-row">
                <div class="form-group col d-flex w-100 mb-1">
                  <div class="d-flex mr-1">
                    <div class="mr-1">
                      <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.segunda.checked == 0"></i>
                      <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.segunda.checked == 1"></i>
                    </div>
                    <span>Segunda-feira:</span>
                  </div>
                  <div *ngIf="endereco.diasEntrega.segunda.checked == 1">
                    <div *ngIf="endereco.diasEntrega.segunda.minimo !== null && endereco.diasEntrega.segunda.maximo !== null">
                      de {{ convertMysqlTime(endereco.diasEntrega.segunda.minimo) }} a {{ convertMysqlTime(endereco.diasEntrega.segunda.maximo) }}
                    </div>
                    <div *ngIf="endereco.diasEntrega.segunda.minimo == null || endereco.diasEntrega.segunda.maximo == null">
                      horario no definido
                    </div>
                  </div>
                  <strong *ngIf="endereco.diasEntrega.segunda.checked == 0">
                    No acepta entregas
                  </strong>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col d-flex w-100 mb-1">
                  <div class="d-flex mr-1">
                    <div class="mr-1">
                      <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.terca.checked == 0"></i>
                      <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.terca.checked == 1"></i>
                    </div>
                    <span>Terça-feira:</span>
                  </div>
                  <div *ngIf="endereco.diasEntrega.terca.checked == 1">
                    <div *ngIf="endereco.diasEntrega.terca.minimo !== null && endereco.diasEntrega.terca.maximo !== null">
                      das {{ convertMysqlTime(endereco.diasEntrega.terca.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.terca.maximo) }}
                    </div>
                    <div *ngIf="endereco.diasEntrega.terca.minimo == null || endereco.diasEntrega.terca.maximo == null">
                      horario no definido
                    </div>
                  </div>
                  <strong *ngIf="endereco.diasEntrega.terca.checked == 0">
                    No acepta entregas
                  </strong>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col d-flex w-100 mb-1">
                  <div class="d-flex mr-1">
                    <div class="mr-1">
                      <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.quarta.checked == 0"></i>
                      <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.quarta.checked == 1"></i>
                    </div>
                    <span>Quarta-feira:</span>
                  </div>
                  <div *ngIf="endereco.diasEntrega.quarta.checked == 1">
                    <div *ngIf="endereco.diasEntrega.quarta.minimo !== null && endereco.diasEntrega.quarta.maximo !== null">
                      das {{ convertMysqlTime(endereco.diasEntrega.quarta.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.quarta.maximo) }}
                    </div>
                    <div *ngIf="endereco.diasEntrega.quarta.minimo == null || endereco.diasEntrega.quarta.maximo == null">
                      horario no definido
                    </div>
                  </div>
                  <strong *ngIf="endereco.diasEntrega.quarta.checked == 0">
                    No acepta entregas
                  </strong>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col d-flex w-100 mb-1">
                  <div class="d-flex mr-1">
                    <div class="mr-1">
                      <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.quinta.checked == 0"></i>
                      <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.quinta.checked == 1"></i>
                    </div>
                    <span>Quinta-feira:</span>
                  </div>
                  <div *ngIf="endereco.diasEntrega.quinta.checked == 1">
                    <div *ngIf="endereco.diasEntrega.quinta.minimo !== null && endereco.diasEntrega.quinta.maximo !== null">
                      das {{ convertMysqlTime(endereco.diasEntrega.quinta.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.quinta.maximo) }}
                    </div>
                    <div *ngIf="endereco.diasEntrega.quinta.minimo == null || endereco.diasEntrega.quinta.maximo == null">
                      horario no definido
                    </div>
                  </div>
                  <strong *ngIf="endereco.diasEntrega.quinta.checked == 0">
                    No acepta entregas
                  </strong>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col d-flex w-100 mb-1">
                  <div class="d-flex mr-1">
                    <div class="mr-1">
                      <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.sexta.checked == 0"></i>
                      <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.sexta.checked == 1"></i>
                    </div>
                    <span>Sexta-feira:</span>
                  </div>
                  <div *ngIf="endereco.diasEntrega.sexta.checked == 1">
                    <div *ngIf="endereco.diasEntrega.sexta.minimo !== null && endereco.diasEntrega.sexta.maximo !== null">
                      das {{ convertMysqlTime(endereco.diasEntrega.sexta.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.sexta.maximo) }}
                    </div>
                    <div *ngIf="endereco.diasEntrega.sexta.minimo == null || endereco.diasEntrega.sexta.maximo == null">
                      horario no definido
                    </div>
                  </div>
                  <strong *ngIf="endereco.diasEntrega.sexta.checked == 0">
                    No acepta entregas
                  </strong>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col d-flex w-100 mb-1">
                  <div class="d-flex mr-1">
                    <div class="mr-1">
                      <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.sabado.checked == 0"></i>
                      <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.sabado.checked == 1"></i>
                    </div>
                    <span>Sábado:</span>
                  </div>
                  <div *ngIf="endereco.diasEntrega.sabado.checked == 1">
                    <div *ngIf="endereco.diasEntrega.sabado.minimo !== null && endereco.diasEntrega.sabado.maximo !== null">
                      das {{ convertMysqlTime(endereco.diasEntrega.sabado.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.sabado.maximo) }}
                    </div>
                    <div *ngIf="endereco.diasEntrega.sabado.minimo == null || endereco.diasEntrega.sabado.maximo == null">
                      horario no definido
                    </div>
                  </div>
                  <strong *ngIf="endereco.diasEntrega.sabado.checked == 0">
                    No acepta entregas
                  </strong>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col d-flex w-100 mb-1">
                  <div class="d-flex mr-1">
                    <div class="mr-1">
                      <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.domingo.checked == 0"></i>
                      <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.domingo.checked == 1"></i>
                    </div>
                    <span>Domingo:</span>
                  </div>
                  <div *ngIf="endereco.diasEntrega.domingo.checked == 1">
                    <div *ngIf="endereco.diasEntrega.domingo.minimo !== null && endereco.diasEntrega.domingo.maximo !== null">
                      das {{ convertMysqlTime(endereco.diasEntrega.domingo.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.domingo.maximo) }}
                    </div>
                    <div *ngIf="endereco.diasEntrega.domingo.minimo == null || endereco.diasEntrega.domingo.maximo == null">
                      horario no definido
                    </div>
                  </div>
                  <strong *ngIf="endereco.diasEntrega.domingo.checked == 0">
                    No acepta entregas
                  </strong>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Tipo de material</label>
              <div *ngIf="endereco.dsTipoMaterial == null">SIN INFORMACION</div>
              <div *ngIf="endereco.dsTipoMaterial != null">{{ endereco.dsTipoMaterial | uppercase }}</div>
            </div>
            <div class="form-group col-md-6">
              <label>Tipo de descarga</label>
              <div *ngIf="endereco.dsTipoDescarga == null">SIN INFORMACION</div>
              <div *ngIf="endereco.dsTipoDescarga != null">{{ endereco.dsTipoDescarga | uppercase }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Modo de descarga</label>
              <div *ngIf="endereco.dsModoDescarga == null">SIN INFORMACION</div>
              <div *ngIf="endereco.dsModoDescarga != null">{{ endereco.dsModoDescarga | uppercase }}</div>
            </div>
            <div class="form-group col-md-6">
              <label>Tipos de veículo</label>
              <div *ngIf="endereco.tiposVeiculosDesc == null">SIN INFORMACION</div>
              <div *ngIf="endereco.tiposVeiculosDesc != null">{{ endereco.tiposVeiculosDesc | uppercase }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              <label>Dados especiais</label>
              <div *ngIf="endereco.dadosEspeciaisDesc == null">SIN INFORMACION</div>
              <div *ngIf="endereco.dadosEspeciaisDesc != null">{{ endereco.dadosEspeciaisDesc | uppercase }}</div>
            </div>
          </div>
        </div>
      </accordion-group>
    </accordion>
    <div class="row py-5 my-5" *ngIf="!enderecos">
      <div class="col">
        <empty-result message="Nenhuma informação encontrada"></empty-result>
      </div>
    </div>
    <div  *ngIf="enderecosAguardandoAprovacao && enderecosAguardandoAprovacao.length > 0">
      <div class="mtc-title">Endereços aguardando aprovação</div>
      <accordion>
        <accordion-group class="mb-2" [heading]="endereco.cidade" *ngFor="let endereco of enderecosAguardandoAprovacao">
          <!-- <div class="d-flex justify-content-between w-100 mb-3">
            <div class="mtc-title mb-0">{{ endereco.cidade }}</div>
            <div>
              <a
                class="text-secondary"
                [routerLink]="['editar', endereco.id, endereco.situacao]"
                *ngIf="endereco.situacao == 3">
                <b>Editar</b>
              </a>
            </div>
          </div> -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>CEP</label>
              <div *ngIf="endereco.cep == null">SIN INFORMACION</div>
              <div *ngIf="endereco.cep != null">{{ endereco.cep | cep }}</div>
            </div>
            <div class="form-group col-md-6">
              <label>Dirección</label>
              <div *ngIf="endereco.endereco == null">SIN INFORMACION</div>
              <div *ngIf="endereco.endereco != null">{{ endereco.endereco }}</div>
            </div>
          </div>
          <div class="form-row">
            <!-- <div class="form-group col-md-6">
              <label>Número</label>
              <div *ngIf="endereco.numero == null">SIN INFORMACION</div>
              <div *ngIf="endereco.numero != null">{{ endereco.numero }}</div>
            </div> -->
            <div class="form-group col-md-6">
              <label>Complemento</label>
              <div *ngIf="endereco.complemento == null">SIN INFORMACION</div>
              <div *ngIf="endereco.complemento != null">{{ endereco.complemento }}</div>
            </div>
            <div class="form-group col-md-6">
              <label>Referencia</label>
              <div *ngIf="endereco.referencia == null">SIN INFORMACION</div>
              <div *ngIf="endereco.referencia != null">{{ endereco.referencia }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Barrio</label>
              <div *ngIf="endereco.bairro == null">SIN INFORMACION</div>
              <div *ngIf="endereco.bairro != null">{{ endereco.bairro }}</div>
            </div>
            <div class="form-group col-md-6 mb-0">
              <label>Ciudad</label>
              <div *ngIf="endereco.cidade == null">SIN INFORMACION</div>
              <div *ngIf="endereco.cidade != null">
                {{ endereco.cidade }}<span *ngIf="endereco.uf != null"> / {{ endereco.uf }}</span>
              </div>
            </div>
          </div>
          <div>
            <div class="form-row">
              <div class="col"><hr></div>
            </div>
            <div class="mtc-title">Datos de entrega</div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Título de la ubicación de entrega</label>
                <div *ngIf="endereco.titulo == null">SIN INFORMACION</div>
                <div *ngIf="endereco.titulo != null">{{ endereco.titulo }}</div>
              </div>
              <div class="form-group col-md-6">
                <label>Región de entrega</label>
                <div *ngIf="endereco.descRegiaoEntrega == null">SIN INFORMACION</div>
                <div *ngIf="endereco.descRegiaoEntrega != null">{{ endereco.descRegiaoEntrega }}</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label>Dias para realizar entregas</label>
                <div class="form-row">
                  <div class="form-group col d-flex w-100 mb-1">
                    <div class="d-flex mr-1">
                      <div class="mr-1">
                        <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.segunda.checked == 0"></i>
                        <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.segunda.checked == 1"></i>
                      </div>
                      <span>Lunes:</span>
                    </div>
                    <div *ngIf="endereco.diasEntrega.segunda.checked == 1">
                      <div *ngIf="endereco.diasEntrega.segunda.minimo !== null && endereco.diasEntrega.segunda.maximo !== null">
                        das {{ convertMysqlTime(endereco.diasEntrega.segunda.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.segunda.maximo) }}
                      </div>
                      <div *ngIf="endereco.diasEntrega.segunda.minimo == null || endereco.diasEntrega.segunda.maximo == null">
                        horario no definido
                      </div>
                    </div>
                    <strong *ngIf="endereco.diasEntrega.segunda.checked == 0">
                      No acepta entregas
                    </strong>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col d-flex w-100 mb-1">
                    <div class="d-flex mr-1">
                      <div class="mr-1">
                        <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.terca.checked == 0"></i>
                        <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.terca.checked == 1"></i>
                      </div>
                      <span>Martes:</span>
                    </div>
                    <div *ngIf="endereco.diasEntrega.terca.checked == 1">
                      <div *ngIf="endereco.diasEntrega.terca.minimo !== null && endereco.diasEntrega.terca.maximo !== null">
                        das {{ convertMysqlTime(endereco.diasEntrega.terca.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.terca.maximo) }}
                      </div>
                      <div *ngIf="endereco.diasEntrega.terca.minimo == null || endereco.diasEntrega.terca.maximo == null">
                        horario no definido
                      </div>
                    </div>
                    <strong *ngIf="endereco.diasEntrega.terca.checked == 0">
                      No acepta entregas
                    </strong>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col d-flex w-100 mb-1">
                    <div class="d-flex mr-1">
                      <div class="mr-1">
                        <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.quarta.checked == 0"></i>
                        <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.quarta.checked == 1"></i>
                      </div>
                      <span>Miercoles:</span>
                    </div>
                    <div *ngIf="endereco.diasEntrega.quarta.checked == 1">
                      <div *ngIf="endereco.diasEntrega.quarta.minimo !== null && endereco.diasEntrega.quarta.maximo !== null">
                        das {{ convertMysqlTime(endereco.diasEntrega.quarta.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.quarta.maximo) }}
                      </div>
                      <div *ngIf="endereco.diasEntrega.quarta.minimo == null || endereco.diasEntrega.quarta.maximo == null">
                        horario no definido
                      </div>
                    </div>
                    <strong *ngIf="endereco.diasEntrega.quarta.checked == 0">
                      No acepta entregas
                    </strong>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col d-flex w-100 mb-1">
                    <div class="d-flex mr-1">
                      <div class="mr-1">
                        <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.quinta.checked == 0"></i>
                        <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.quinta.checked == 1"></i>
                      </div>
                      <span>Jueves:</span>
                    </div>
                    <div *ngIf="endereco.diasEntrega.quinta.checked == 1">
                      <div *ngIf="endereco.diasEntrega.quinta.minimo !== null && endereco.diasEntrega.quinta.maximo !== null">
                        das {{ convertMysqlTime(endereco.diasEntrega.quinta.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.quinta.maximo) }}
                      </div>
                      <div *ngIf="endereco.diasEntrega.quinta.minimo == null || endereco.diasEntrega.quinta.maximo == null">
                        horario no definido
                      </div>
                    </div>
                    <strong *ngIf="endereco.diasEntrega.quinta.checked == 0">
                      No acepta entregas
                    </strong>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col d-flex w-100 mb-1">
                    <div class="d-flex mr-1">
                      <div class="mr-1">
                        <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.sexta.checked == 0"></i>
                        <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.sexta.checked == 1"></i>
                      </div>
                      <span>Viernes:</span>
                    </div>
                    <div *ngIf="endereco.diasEntrega.sexta.checked == 1">
                      <div *ngIf="endereco.diasEntrega.sexta.minimo !== null && endereco.diasEntrega.sexta.maximo !== null">
                        das {{ convertMysqlTime(endereco.diasEntrega.sexta.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.sexta.maximo) }}
                      </div>
                      <div *ngIf="endereco.diasEntrega.sexta.minimo == null || endereco.diasEntrega.sexta.maximo == null">
                        horario no definido
                      </div>
                    </div>
                    <strong *ngIf="endereco.diasEntrega.sexta.checked == 0">
                      No acepta entregas
                    </strong>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col d-flex w-100 mb-1">
                    <div class="d-flex mr-1">
                      <div class="mr-1">
                        <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.sabado.checked == 0"></i>
                        <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.sabado.checked == 1"></i>
                      </div>
                      <span>Sabado:</span>
                    </div>
                    <div *ngIf="endereco.diasEntrega.sabado.checked == 1">
                      <div *ngIf="endereco.diasEntrega.sabado.minimo !== null && endereco.diasEntrega.sabado.maximo !== null">
                        das {{ convertMysqlTime(endereco.diasEntrega.sabado.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.sabado.maximo) }}
                      </div>
                      <div *ngIf="endereco.diasEntrega.sabado.minimo == null || endereco.diasEntrega.sabado.maximo == null">
                        horario no definido
                      </div>
                    </div>
                    <strong *ngIf="endereco.diasEntrega.sabado.checked == 0">
                      No acepta entregas
                    </strong>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col d-flex w-100 mb-1">
                    <div class="d-flex mr-1">
                      <div class="mr-1">
                        <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.domingo.checked == 0"></i>
                        <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.domingo.checked == 1"></i>
                      </div>
                      <span>Domingo:</span>
                    </div>
                    <div *ngIf="endereco.diasEntrega.domingo.checked == 1">
                      <div *ngIf="endereco.diasEntrega.domingo.minimo !== null && endereco.diasEntrega.domingo.maximo !== null">
                        das {{ convertMysqlTime(endereco.diasEntrega.domingo.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.domingo.maximo) }}
                      </div>
                      <div *ngIf="endereco.diasEntrega.domingo.minimo == null || endereco.diasEntrega.domingo.maximo == null">
                        horario no definido
                      </div>
                    </div>
                    <strong *ngIf="endereco.diasEntrega.domingo.checked == 0">
                      No acepta entregas
                    </strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Tipo de material</label>
                <div *ngIf="endereco.dsTipoMaterial == null">SIN INFORMACION</div>
                <div *ngIf="endereco.dsTipoMaterial != null">{{ endereco.dsTipoMaterial | uppercase }}</div>
              </div>
              <div class="form-group col-md-6">
                <label>Tipo de descarga</label>
                <div *ngIf="endereco.dsTipoDescarga == null">SIN INFORMACION</div>
                <div *ngIf="endereco.dsTipoDescarga != null">{{ endereco.dsTipoDescarga | uppercase }}</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Modo de descarga</label>
                <div *ngIf="endereco.dsModoDescarga == null">SIN INFORMACION</div>
                <div *ngIf="endereco.dsModoDescarga != null">{{ endereco.dsModoDescarga | uppercase }}</div>
              </div>
              <div class="form-group col-md-6">
                <label>Tipos de vehiculo</label>
                <div *ngIf="endereco.tiposVeiculosDesc == null">SIN INFORMACION</div>
                <div *ngIf="endereco.tiposVeiculosDesc != null">{{ endereco.tiposVeiculosDesc | uppercase }}</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                <label>Datos especiales</label>
                <div *ngIf="endereco.dadosEspeciaisDesc == null">SIN INFORMACION</div>
                <div *ngIf="endereco.dadosEspeciaisDesc != null">{{ endereco.dadosEspeciaisDesc | uppercase }}</div>
              </div>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </div>
    <div *ngIf="enderecosInativos && enderecosInativos.length > 0">
      <div class="mtc-title">Direcciones inactivas / reprobadas</div>
      <accordion >
        <accordion-group class="mb-2" [heading]="endereco.cidade" *ngFor="let endereco of enderecosInativos">
          <div class="d-flex justify-content-between w-100 mb-3">
            <div class="mtc-title mb-0">{{ endereco.descSituacao }}</div>
            <div>
              <a
                class="text-secondary"
                [routerLink]="['editar', endereco.id, endereco.situacao]">
                <b>Editar</b>
              </a>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>CEP</label>
              <div *ngIf="endereco.cep == null">SIN INFORMACION</div>
              <div *ngIf="endereco.cep != null">{{ endereco.cep | cep }}</div>
            </div>
            <div class="form-group col-md-6">
              <label>Direccion</label>
              <div *ngIf="endereco.endereco == null">SIN INFORMACION</div>
              <div *ngIf="endereco.endereco != null">{{ endereco.endereco }}</div>
            </div>
          </div>
          <div class="form-row">
            <!-- <div class="form-group col-md-6">
              <label>Número</label>
              <div *ngIf="endereco.numero == null">SIN INFORMACION</div>
              <div *ngIf="endereco.numero != null">{{ endereco.numero }}</div>
            </div> -->
            <div class="form-group col-md-6">
              <label>Complemento</label>
              <div *ngIf="endereco.complemento == null">SIN INFORMACION</div>
              <div *ngIf="endereco.complemento != null">{{ endereco.complemento }}</div>
            </div>
            <div class="form-group col-md-6">
              <label>Referencia</label>
              <div *ngIf="endereco.referencia == null">SIN INFORMACION</div>
              <div *ngIf="endereco.referencia != null">{{ endereco.referencia }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Barrio</label>
              <div *ngIf="endereco.bairro == null">SIN INFORMACION</div>
              <div *ngIf="endereco.bairro != null">{{ endereco.bairro }}</div>
            </div>
            <div class="form-group col-md-6 mb-0">
              <label>Ciudad</label>
              <div *ngIf="endereco.cidade == null">SIN INFORMACION</div>
              <div *ngIf="endereco.cidade != null">
                {{ endereco.cidade }}<span *ngIf="endereco.uf != null"> / {{ endereco.uf }}</span>
              </div>
            </div>
          </div>
          <div>
            <div class="form-row">
              <div class="col"><hr></div>
            </div>
            <div class="mtc-title">Datos de entrega</div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Título de la ubicación de entrega</label>
                <div *ngIf="endereco.titulo == null">SIN INFORMACION</div>
                <div *ngIf="endereco.titulo != null">{{ endereco.titulo }}</div>
              </div>
              <div class="form-group col-md-6">
                <label>Region de entrega</label>
                <div *ngIf="endereco.descRegiaoEntrega == null">SIN INFORMACION</div>
                <div *ngIf="endereco.descRegiaoEntrega != null">{{ endereco.descRegiaoEntrega }}</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label>Dias para realizar entregas</label>
                <div class="form-row">
                  <div class="form-group col d-flex w-100 mb-1">
                    <div class="d-flex mr-1">
                      <div class="mr-1">
                        <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.segunda.checked == 0"></i>
                        <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.segunda.checked == 1"></i>
                      </div>
                      <span>Segunda-feira:</span>
                    </div>
                    <div *ngIf="endereco.diasEntrega.segunda.checked == 1">
                      <div *ngIf="endereco.diasEntrega.segunda.minimo !== null && endereco.diasEntrega.segunda.maximo !== null">
                        das {{ convertMysqlTime(endereco.diasEntrega.segunda.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.segunda.maximo) }}
                      </div>
                      <div *ngIf="endereco.diasEntrega.segunda.minimo == null || endereco.diasEntrega.segunda.maximo == null">
                        horario no definido
                      </div>
                    </div>
                    <strong *ngIf="endereco.diasEntrega.segunda.checked == 0">
                      No acepta entregas
                    </strong>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col d-flex w-100 mb-1">
                    <div class="d-flex mr-1">
                      <div class="mr-1">
                        <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.terca.checked == 0"></i>
                        <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.terca.checked == 1"></i>
                      </div>
                      <span>Terça-feira:</span>
                    </div>
                    <div *ngIf="endereco.diasEntrega.terca.checked == 1">
                      <div *ngIf="endereco.diasEntrega.terca.minimo !== null && endereco.diasEntrega.terca.maximo !== null">
                        das {{ convertMysqlTime(endereco.diasEntrega.terca.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.terca.maximo) }}
                      </div>
                      <div *ngIf="endereco.diasEntrega.terca.minimo == null || endereco.diasEntrega.terca.maximo == null">
                        horario no definido
                      </div>
                    </div>
                    <strong *ngIf="endereco.diasEntrega.terca.checked == 0">
                      No acepta entregas
                    </strong>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col d-flex w-100 mb-1">
                    <div class="d-flex mr-1">
                      <div class="mr-1">
                        <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.quarta.checked == 0"></i>
                        <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.quarta.checked == 1"></i>
                      </div>
                      <span>Quarta-feira:</span>
                    </div>
                    <div *ngIf="endereco.diasEntrega.quarta.checked == 1">
                      <div *ngIf="endereco.diasEntrega.quarta.minimo !== null && endereco.diasEntrega.quarta.maximo !== null">
                        das {{ convertMysqlTime(endereco.diasEntrega.quarta.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.quarta.maximo) }}
                      </div>
                      <div *ngIf="endereco.diasEntrega.quarta.minimo == null || endereco.diasEntrega.quarta.maximo == null">
                        horario no definido
                      </div>
                    </div>
                    <strong *ngIf="endereco.diasEntrega.quarta.checked == 0">
                      No acepta entregas
                    </strong>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col d-flex w-100 mb-1">
                    <div class="d-flex mr-1">
                      <div class="mr-1">
                        <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.quinta.checked == 0"></i>
                        <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.quinta.checked == 1"></i>
                      </div>
                      <span>Quinta-feira:</span>
                    </div>
                    <div *ngIf="endereco.diasEntrega.quinta.checked == 1">
                      <div *ngIf="endereco.diasEntrega.quinta.minimo !== null && endereco.diasEntrega.quinta.maximo !== null">
                        das {{ convertMysqlTime(endereco.diasEntrega.quinta.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.quinta.maximo) }}
                      </div>
                      <div *ngIf="endereco.diasEntrega.quinta.minimo == null || endereco.diasEntrega.quinta.maximo == null">
                        horario no definido
                      </div>
                    </div>
                    <strong *ngIf="endereco.diasEntrega.quinta.checked == 0">
                      No acepta entregas
                    </strong>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col d-flex w-100 mb-1">
                    <div class="d-flex mr-1">
                      <div class="mr-1">
                        <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.sexta.checked == 0"></i>
                        <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.sexta.checked == 1"></i>
                      </div>
                      <span>Sexta-feira:</span>
                    </div>
                    <div *ngIf="endereco.diasEntrega.sexta.checked == 1">
                      <div *ngIf="endereco.diasEntrega.sexta.minimo !== null && endereco.diasEntrega.sexta.maximo !== null">
                        das {{ convertMysqlTime(endereco.diasEntrega.sexta.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.sexta.maximo) }}
                      </div>
                      <div *ngIf="endereco.diasEntrega.sexta.minimo == null || endereco.diasEntrega.sexta.maximo == null">
                        horario no definido
                      </div>
                    </div>
                    <strong *ngIf="endereco.diasEntrega.sexta.checked == 0">
                      No acepta entregas
                    </strong>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col d-flex w-100 mb-1">
                    <div class="d-flex mr-1">
                      <div class="mr-1">
                        <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.sabado.checked == 0"></i>
                        <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.sabado.checked == 1"></i>
                      </div>
                      <span>Sábado:</span>
                    </div>
                    <div *ngIf="endereco.diasEntrega.sabado.checked == 1">
                      <div *ngIf="endereco.diasEntrega.sabado.minimo !== null && endereco.diasEntrega.sabado.maximo !== null">
                        das {{ convertMysqlTime(endereco.diasEntrega.sabado.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.sabado.maximo) }}
                      </div>
                      <div *ngIf="endereco.diasEntrega.sabado.minimo == null || endereco.diasEntrega.sabado.maximo == null">
                        horario no definido
                      </div>
                    </div>
                    <strong *ngIf="endereco.diasEntrega.sabado.checked == 0">
                      No acepta entregas
                    </strong>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col d-flex w-100 mb-1">
                    <div class="d-flex mr-1">
                      <div class="mr-1">
                        <i class="fas fa-times-circle text-danger" *ngIf="endereco.diasEntrega.domingo.checked == 0"></i>
                        <i class="fas fa-check-circle text-success" *ngIf="endereco.diasEntrega.domingo.checked == 1"></i>
                      </div>
                      <span>Domingo:</span>
                    </div>
                    <div *ngIf="endereco.diasEntrega.domingo.checked == 1">
                      <div *ngIf="endereco.diasEntrega.domingo.minimo !== null && endereco.diasEntrega.domingo.maximo !== null">
                        das {{ convertMysqlTime(endereco.diasEntrega.domingo.minimo) }} às {{ convertMysqlTime(endereco.diasEntrega.domingo.maximo) }}
                      </div>
                      <div *ngIf="endereco.diasEntrega.domingo.minimo == null || endereco.diasEntrega.domingo.maximo == null">
                        horario no definido
                      </div>
                    </div>
                    <strong *ngIf="endereco.diasEntrega.domingo.checked == 0">
                      No acepta entregas
                    </strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Tipo de material</label>
                <div *ngIf="endereco.dsTipoMaterial == null">SIN INFORMACION</div>
                <div *ngIf="endereco.dsTipoMaterial != null">{{ endereco.dsTipoMaterial | uppercase }}</div>
              </div>
              <div class="form-group col-md-6">
                <label>Tipo de descarga</label>
                <div *ngIf="endereco.dsTipoDescarga == null">SIN INFORMACION</div>
                <div *ngIf="endereco.dsTipoDescarga != null">{{ endereco.dsTipoDescarga | uppercase }}</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Modo de descarga</label>
                <div *ngIf="endereco.dsModoDescarga == null">SIN INFORMACION</div>
                <div *ngIf="endereco.dsModoDescarga != null">{{ endereco.dsModoDescarga | uppercase }}</div>
              </div>
              <div class="form-group col-md-6">
                <label>Tipos de vehiculo</label>
                <div *ngIf="endereco.tiposVeiculosDesc == null">SIN INFORMACION</div>
                <div *ngIf="endereco.tiposVeiculosDesc != null">{{ endereco.tiposVeiculosDesc | uppercase }}</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                <label>Datos especiales</label>
                <div *ngIf="endereco.dadosEspeciaisDesc == null">SIN INFORMACION</div>
                <div *ngIf="endereco.dadosEspeciaisDesc != null">{{ endereco.dadosEspeciaisDesc | uppercase }}</div>
              </div>
            </div>
            <div class="form-row" *ngIf="endereco.situacao == 4">
              <div class="form-group col-md-6 mb-0">
                <label>Motivo de la desaprobación</label>
                <div *ngIf="endereco.situacao == 4 && endereco.motivoAprovacaoReprovacao == null">SIN INFORMACION</div>
                <div *ngIf="endereco.situacao == 4 && endereco.motivoAprovacaoReprovacao != null">{{ endereco.motivoAprovacaoReprovacao | uppercase }}</div>
              </div>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
