<loader-spinner-full-screen
  *ngIf="loaderFullScreen"
></loader-spinner-full-screen>
<loader-spinner-navbar *ngIf="loaderNavbar"></loader-spinner-navbar>
<app-header appTitle="Víncular depósitos">
  <button
    type="button"
    (click)="onFilter()"
  >
    Filtrar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loaderFullScreen">
  <advanced-filter>
    <form [formGroup]="form" autocomplete="off">
      <div class="form-row">
        <div class="form-group col-lg-2">
          <label for="ID_APOI_TIPO_MATE">Tipo material</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [multiple]="true"
            [items]="tipoMateriais"
            [virtualScroll]="true"
            [hideSelected]="true"
            [closeOnSelect]="true"
            placeholder="Selecione..."
            bindLabel="NM_APOI_TIPO_MATE"
            bindValue="ID"
            formControlName="ID_APOI_TIPO_MATE"
          >
          </ng-select>
        </div>
        <div class="form-group col-lg-2">
          <label for="ID_LINH">Linha</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [multiple]="true"
            [items]="linhas"
            [virtualScroll]="true"
            [hideSelected]="true"
            [closeOnSelect]="true"
            placeholder="Selecione..."
            bindLabel="NM_LINH"
            bindValue="ID"
            formControlName="ID_LINH"
            (change)="getClasses() + ' ' + getSubLinhas()"
          >
          </ng-select>
        </div>
        <div class="form-group col-lg-2">
          <label for="ID_SUB_LINH">Sublinha</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [multiple]="true"
            [items]="subLinhas"
            [virtualScroll]="true"
            [hideSelected]="true"
            [closeOnSelect]="true"
            placeholder="Selecione..."
            bindLabel="NM_SUB_LINH"
            bindValue="ID"
            formControlName="ID_SUB_LINH"
            (change)="getClasses()"
          >
          </ng-select>
        </div>
        <div class="form-group col-lg-2">
          <label for="ID_CLAS">Classe</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [multiple]="true"
            [items]="classes"
            [virtualScroll]="true"
            [hideSelected]="true"
            [closeOnSelect]="true"
            placeholder="Selecione..."
            bindLabel="NM_CLAS"
            bindValue="ID"
            formControlName="ID_CLAS"
          >
          </ng-select>
        </div>
        <div class="form-group col-lg-2">
          <label for="ID_DEPO">Depósito</label>
          <ng-select
            [searchable]="true"
            [clearable]="true"
            [items]="depositos"
            [virtualScroll]="true"
            [hideSelected]="true"
            [closeOnSelect]="true"
            placeholder="Selecione..."
            bindLabel="NM_DEPO"
            bindValue="ID"
            formControlName="ID_DEPO"
            (change)="handleFormSituacao()"
            >
          </ng-select>
        </div>
        <div class="form-group col-lg-2">
          <label for="ID_SITU_MATE">Situação</label>
          <ng-select
            [searchable]="true"
            [clearable]="false"
            [items]="tipoSituacao"
            [virtualScroll]="true"
            [hideSelected]="true"
            [closeOnSelect]="true"
            placeholder="Selecione..."
            bindLabel="name"
            bindValue="id"
            formControlName="ID_SITU_MATE"
          >
          </ng-select>
        </div>
      </div>
    </form>
  </advanced-filter>
  <subtitles [data]="subtitles" [show]="loading"> </subtitles>
  <div class="table-responsive"
    *ngIf="loading"
  >
    <custom-table [config]="tableConfig">
      <ng-template #thead let-thead>
        <tr class="text-center">
          <th scope="col" class="hover" (click)="sort('NM_APOI_TIPO_MATE')">
            Tipo Material
            <span *ngIf="key == 'NM_APOI_TIPO_MATE'"
              ><i
                [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"
              ></i
            ></span>
            <span *ngIf="key != 'NM_APOI_TIPO_MATE'"
              ><i [ngClass]="'fas fa-sort'"></i
            ></span>
          </th>
          <th scope="col" class="hover" (click)="sort('NM_LINH')">
            Linha
            <span *ngIf="key == 'NM_LINH'"
              ><i
                [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"
              ></i
            ></span>
            <span *ngIf="key != 'NM_LINH'"
              ><i [ngClass]="'fas fa-sort'"></i
            ></span>
          </th>
          <th scope="col" class="hover" (click)="sort('NM_SUB_LINH')">
            Sublinha
            <span *ngIf="key == 'NM_SUB_LINH'"
              ><i
                [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"
              ></i
            ></span>
            <span *ngIf="key != 'NM_SUB_LINH'"
              ><i [ngClass]="'fas fa-sort'"></i
            ></span>
          </th>
          <th scope="col" class="hover" (click)="sort('NM_CLAS')">
            Classe
            <span *ngIf="key == 'NM_CLAS'"
              ><i
                [ngClass]="reverse ? 'fas fa-sort-down' : 'fas fa-sort-up'"
              ></i
            ></span>
            <span *ngIf="key != 'NM_CLAS'"
              ><i [ngClass]="'fas fa-sort'"></i
            ></span>
          </th>
          <th scope="col" class="hover" width="5%"></th>
        </tr>
      </ng-template>
      <ng-template #tbody let-tbody>
        <tr
          *ngFor="
            let item of data | orderBy: key:reverse | slice: begin:end;
            let i = index
          "
        >
          <td
            class="text-center" 
            [ngClass]="item.TT_DEPO_ASSO == 0 ? 'border-danger' : 'border-success'"
          >
            {{ item.NM_APOI_TIPO_MATE }}
          </td>
          <td class="text-center">{{ item.NM_LINH }}</td>
          <td class="text-center">
            {{ item.NM_SUB_LINH ? item.NM_SUB_LINH : '-' }}
          </td>
          <td class="text-center">{{ item.NM_CLAS }}</td>
          <td class="text-center" width="5%">
            <div>
              <button
                type="button"
                class="btn-icon-sm"
                tooltip="Editar"
                placement="left"
                container="body"
              >
              <i
                class="fas fa-edit"
                (click)="lgModal.show() + '' + sendDataModal(item)" 
                >
              </i>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </custom-table>
  </div>
  <div
    class="col-12 mb-2 ml-2"
    *ngIf="!noResult && data?.length > itemsPerPage"
  >
    Total {{ begin + 1 }} a {{ end }} de {{ data?.length }}
    <div class="d-flex">
      <pagination
        [maxSize]="10"
        [totalItems]="data?.length"
        (pageChanged)="onPageChanged($event)"
        [(itemsPerPage)]="itemsPerPage"
        [boundaryLinks]="true"
        [(ngModel)]="currentPage"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>
  </div>
  <div
    *ngIf="noResult"
    class="text-center d-flex justify-content-center align-items-center p-5"
    style="height: 80%;"
  >
    <empty-result message="Nenhuma informação encontrada"></empty-result>
  </div>
</app-body>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">VÍNCULAR DEPÓSITOS</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="modal-material-depositos">
          <div class="d-flex justify-content-end">
            <button
              type="button"
              (click)="onSaveDataModal()"
              [disabled]="formModal.status == 'INVALID'"
              class="btn"
            >
              Guardar
            </button>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row justify-content-md-center mt-3">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <p class="pFont">
                    <strong>TIPO DE MATERIAL</strong><br />
                    {{ tipoMaterialModal }}
                  </p>
                </div>
                <div class="col-md-6">
                  <p class="pFont">
                    <strong>LINHA</strong><br />
                    {{ linhaModal }}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p class="pFont">
                    <strong>SUB LINHA</strong><br />
                    {{ subLinhaModal ? subLinhaModal : '-' }}
                  </p>
                </div>
                <div class="col-md-6">
                  <p class="pFont">
                    <strong>CLASSE</strong><br />
                    {{ classeModal }}
                  </p>
                </div>
              </div>
              <form [formGroup]="formModal" autocomplete="off">
                <div class="form-row">
                  <div class="form-group col-lg-6 mb-lg-0">
                    <label for="ID_EMPR">Empresas</label>
                    <ng-select
                      [searchable]="true"
                      [clearable]="true"
                      [multiple]="true"
                      [items]="empresasModal"
                      [virtualScroll]="true"
                      [hideSelected]="true"
                      [closeOnSelect]="false"
                      placeholder="Selecione..."
                      bindLabel="NM_FANT"
                      bindValue="ID"
                      formControlName="ID_EMPR"
                      (change)="getDepositosModal()"
                    >
                    </ng-select>
                  </div>
                  <div class="form-group col-lg-6 mb-lg-0">
                    <label for="ID_DEPO">Depósitos</label>
                    <ng-select
                      [searchable]="true"
                      [clearable]="true"
                      [multiple]="true"
                      [items]="depositosModal"
                      [virtualScroll]="true"
                      [hideSelected]="true"
                      [closeOnSelect]="false"
                      placeholder="Selecione..."
                      bindLabel="NM_DEPO"
                      bindValue="ID"
                      formControlName="ID_DEPO"
                      [ngClass]="onFieldErrorModal('ID_DEPO') + ' ' + onFieldRequiredModal('ID_DEPO')"
                    >
                    </ng-select>
                    <invalid-form-control
                      [show]="onFieldInvalidModal('ID_DEPO')"
                      message="Depósito é obrigatório."
                    >
                    </invalid-form-control>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div
            class="row justify-content-md-center mt-3 mb-3"
          >
            <div class="form-group col-md-12">
              <label for="depositosVinculados">Depósitos Vinculados</label>
              <div class="table-reponsive" *ngIf="loadingModal">
                <custom-table>
                  <ng-template #thead let-thead>
                    <tr class="text-center">
                      <th scope="col">Empresa</th>
                      <th scope="col">Depósito</th>
                      <th nowrap scope="col" class="hover" width="4%"></th>
                    </tr>
                  </ng-template>
                  <ng-template #tbody let-tbody>
                    <tr *ngFor="let item of dataModal">
                      <td class="text-left">{{ item.NM_EMPR }}</td>
                      <td class="text-left">{{ item.NM_DEPO }}</td>
                      <td nowrap class="text-center" width="4%">
                        <div>
                          <button
                            type="button"
                            class="btn-icon-sm"
                            [tooltip]="item.IN_STAT == 0 ? 'Ativar' : 'Desativar'"
                            (click)="onEdit(item)"
                          >
                            <i [ngClass]="item.IN_STAT == 0 ? 'fas fa-toggle-off' : 'fas fa-toggle-on text-success'"></i>
                          </button>
                        </div>
                      </td>      
                    </tr>
                  </ng-template>
                </custom-table>
              </div>
              <div class="text-center d-flex justify-content-center align-items-center p-5" *ngIf="!loadingModal && !noResultModal">
                <div class="spinner-border">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div
                *ngIf="noResultModal"
                class="text-center d-flex justify-content-center align-items-center p-5"
                style="height: 80%;"
              >
                <empty-result message="Nenhuma informação encontrada"></empty-result>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
