<loader-spinner-full-screen *ngIf="loading"></loader-spinner-full-screen>
<loader-spinner-navbar [hidden]="!loadingNavBar"></loader-spinner-navbar>
<app-header appTitle="Tipos de Etapa">
  <button 
    [disabled]="form.valid === false || loadingNavBar === true"
    (click)="postTiposEtapa()"
    >
    Salvar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree">
  <form [formGroup]="form" autocomplete="off">
    <fieldset  class="col-12">
      <fieldset class="border rounded shadow-sm col-8 pt-2 mx-auto">
        <legend>Dados do Tipo de Etapa</legend>
        <div class="form-row justify-content-center">
          <div class="form-group col-md-12 pl-0">
            <label for="NM_ETAP_TIPO">Descrição</label>
            <input
              type="text"
              class="form-control"
              id="NM_ETAP_TIPO"
              formControlName="NM_ETAP_TIPO"
              placeholder="Digite..."
              [ngClass]="onFieldError('NM_ETAP_TIPO') + ' ' + onFieldRequired('NM_ETAP_TIPO')"
            />
            <invalid-form-control [show]="onFieldInvalid('NM_ETAP_TIPO')" message="Descrição é obrigatório."></invalid-form-control>
          </div>
        </div>
      </fieldset>
      <br>
      <br>
      <fieldset class="border rounded shadow-sm col-8 pt-2 mx-auto">
        <legend>Observação</legend>
        <div class="form-row justify-content-center">
          <div class="form-group col">
            <label for="DS_OBSE" >Observação:</label>
            <textarea class="form-control" id="DS_OBSE" formControlName="DS_OBSE" rows="3"></textarea>
          </div>
        </div>
        <br>
      </fieldset>
    </fieldset>
  </form>
</app-body>