<div class="modal-content custom-modal">
  <div class="modal-header">
    <h6 class="modal-title pull-left">Resumen de autorización </h6>
    <div class="d-flex justify-content-center align-items-center">
      <button type="button" class="close pull-right" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body table-container">
    <div class="col-14 mt-2">
      <div class="row">
        <div class="col-md-12 mt-2">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title"> Datos de autorización</h6>
              <div class="row">
                <div class="col-md-2">
                  <label for="id_autorizacion"> <strong> N°:</strong></label>
                  <input type="text" id="id_autorizacion" class="form-control" readonly
                    value="{{data.oferta[0].id_autorizacion}}">
                </div>
                <div class="col-md-4">
                  <label for="fecha_solicitud"> <strong> Fecha Solicitada</strong></label>
                  <input type="text" id="fecha_solicitud" class="form-control" readonly
                    value="{{data.oferta[0].fecha_solicitud | date: 'dd/MM/yyyy'}}">
                </div>
                <div class="col-md-5">
                  <label for="vendedor"> <strong> Vendedor</strong></label>
                  <input type="text" id="vendedor" class="form-control" readonly
                    value="{{data.oferta[0].nombre_vendedor | uppercase}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 ">
        <div class="card">
          <div class="card-header">
            <h5>Detalle</h5>
          </div>
          <div class="card-body table-container">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-truncate text-center">Código</th>  
                  <th class="text-truncate text-center">Material</th>
                  <th class="text-truncate text-center">Cantidad</th>
                  <th class="text-truncate text-center">Subtotal</th>
                  <th class="text-truncate text-center">D. Solicitado</th>
                  <th class="text-truncate text-center">D. Permitido</th>
                  <th class="text-truncate text-center">Excedente</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detalles of detalle">
                  <td class="font-weight-bold  text-center">
                    {{detalles.CODIGOMATERIAL}}</td>
                  <td class="font-weight-bold  text-center">
                    {{detalles.DESCRICAO | uppercase}}</td>
                  <td class="font-weight-bold  text-center">
                    {{detalles.cantidad_total}}</td>
                  <td class="font-weight-bold  text-center">
                    {{detalles.subtotal}}</td>
                  <td class="font-weight-bold  text-center">
                    {{detalles.descuento_solicitado}}</td>
                  <td class="font-weight-bold  text-center">
                    {{detalles.descuento_permitido}}</td>
                  <td class="font-weight-bold  text-center text-danger">
                    {{detalles.excedente}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title"> Descripción</h6>
              <div class="row">
                <div class="col-md-9">
                  <input type="text" id="customerName" class="form-control" readonly
                    value="{{data.oferta[0].descripcion_vend | uppercase}}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-2">
          <div class="card">
            <div class="card-body"> 
              <h6 class="card-title"> Observaciones</h6>
              <div class="row">
                <form [formGroup]="myForm" (ngSubmit)="submitForm()">
                  <div class="col-md-12">
                    <input type="text" id="observacion" formControlName="observacion" class="form-control">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="modal-footer">
          <button type="submit" class="btn btn-success" (click)="boton(data.oferta[0].id_autorizacion, 2)">
            Aprobar
          </button>
          <button type="button" class="btn btn-danger" (click)="boton(data.oferta[0].id_autorizacion, 3)">
            Rechazar
          </button>
      </div>
    </div>
  </div>