<div class="row">
  <div class="col-md-4">
    <!-- (click)="onClick(inadimplentes)" -->
    <div class="border rounded bg-white shadow-sm d-flex justify-content-between w-100 p-3 hover" tooltip="Valor Total COmissão" >
      <div class="bg-red rounded-circle text-white icon-40 my-auto"><i class="fas fa-dollar-sign"></i></div>
      <div class="text-right" *ngFor="let item of dados">
        <h5 class="font-weight-bolder mb-1">
          {{ item.valorComissao | currency:'BRL':'symbol':'1.2-2' }}
        </h5>
        <div class="text-muted small font-weight-bold">VALOR COMISSIONAMENTO</div>
      </div>
      <div class="text-right" *ngIf="valorComissaoEmpty">
        <div class="text-muted small font-weight-bold mt-3">Nenhum resultado encontrado</div>
      </div>
      <div class="text-right my-auto" *ngIf="!valorComissaoLoaded && !valorComissaoEmpty">
        <div class="spinner-border text-dark"></div>
      </div>
    </div>
  </div>

  <!-- <div class="col-md-4">
    <div class="border rounded bg-white shadow-sm d-flex justify-content-between w-100 p-3 hover" tooltip="Clientes que estão com notas de débito abertas" (click)="onClick(notasDebito)">
      <div class="bg-orange rounded-circle text-white icon-40 my-auto"><i class="fas fa-file-invoice-dollar"></i></div>
      <div class="text-right" [hidden]="!notasDebitoLoaded || notasDebitoEmpty">
        <h5
          class="font-weight-bolder mb-1"
          counto
          [step]="30"
          [countTo]="notasDebito['valor']"
          [countFrom]="0"
          [duration]="3"
          (countoChange)="countoValorNotaDebito = $event">
          {{ countoValorNotaDebito | currency:'BRL':'symbol':'1.2-2' }}
        </h5>
        <div class="text-muted small font-weight-bold">VALOR COMISSIONAMENTO DBA</div>
      </div>
      <div class="text-right" *ngIf="notasDebitoEmpty">
        <div class="text-muted small font-weight-bold mt-3">Nenhum resultado encontrado</div>
      </div>
      <div class="text-right my-auto" *ngIf="!notasDebitoLoaded && !notasDebitoEmpty">
        <div class="spinner-border text-dark"></div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="border rounded bg-white shadow-sm d-flex justify-content-between w-100 p-3 hover" tooltip="Clientes que estão com notas de débito abertas" (click)="onClick(notasDebito)">
      <div class="bg-orange rounded-circle text-white icon-40 my-auto"><i class="fas fa-file-invoice-dollar"></i></div>
      <div class="text-right" [hidden]="!notasDebitoLoaded || notasDebitoEmpty">
        <h5
          class="font-weight-bolder mb-1"
          counto
          [step]="30"
          [countTo]="notasDebito['valor']"
          [countFrom]="0"
          [duration]="3"
          (countoChange)="countoValorNotaDebito = $event">
          {{ countoValorNotaDebito | currency:'BRL':'symbol':'1.2-2' }}
        </h5>
        <div class="text-muted small font-weight-bold">VALOR TOTAL DE COMISSIONAMENTO</div>
      </div>
      <div class="text-right" *ngIf="notasDebitoEmpty">
        <div class="text-muted small font-weight-bold mt-3">Nenhum resultado encontrado</div>
      </div>
      <div class="text-right my-auto" *ngIf="!notasDebitoLoaded && !notasDebitoEmpty">
        <div class="spinner-border text-dark"></div>
      </div>
    </div>
  </div> -->
</div>
