<loader-spinner-full-screen *ngIf="loaderFullScreen"></loader-spinner-full-screen>
<div class="row" *ngIf="dadosFaturamentoLoaded">
  <div class="col">
    <div class="mtc-title">Dados de faturamento</div>
    <div *ngIf="dadosFaturamento.tipoPessoa == 'F'">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>CPF</label>
          <div *ngIf="dadosFaturamento.cpf == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.cpf != null">{{ dadosFaturamento.cpf }}</div>
        </div>
        <div class="form-group col-md-6">
          <label>RG</label>
          <div *ngIf="dadosFaturamento.rg == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.rg != null">{{ dadosFaturamento.rg }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Nome</label>
          <div *ngIf="dadosFaturamento.nome == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.nome != null">{{ dadosFaturamento.nome }}</div>
        </div>
        <div class="form-group col-md-6">
          <label>Sobrenome</label>
          <div *ngIf="dadosFaturamento.sobrenome == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.sobrenome != null">{{ dadosFaturamento.sobrenome }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Tipo de cadastro</label>
          <div *ngIf="dadosFaturamento.descTipoCadastro == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.descTipoCadastro != null">{{ dadosFaturamento.descTipoCadastro }}</div>
        </div>
        <div class="form-group col-md-6">
          <label>Inscrição produtor rural</label>
          <div *ngIf="dadosFaturamento.inscricaoProdRural == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.inscricaoProdRural != null">{{ dadosFaturamento.inscricaoProdRural }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Contribuinte</label>
          <div *ngIf="dadosFaturamento.descContribuinte == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.descContribuinte != null">{{ dadosFaturamento.descContribuinte }}</div>
        </div>
        <div class="form-group col-md-6">
          <label>Setor de atividade</label>
          <div *ngIf="dadosFaturamento.descSetorAtividade == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.descSetorAtividade != null">{{ dadosFaturamento.descSetorAtividade }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Limite de crédito</label>
          <div *ngIf="dadosFaturamento.limiteCredito == 0">R$ 0,00</div>
          <div *ngIf="dadosFaturamento.limiteCredito > 0">{{ dadosFaturamento.limiteCredito | currency:'BRL':'symbol':'1.2-2' }}</div>
        </div>
        <div class="form-group col-md-6">
          <label>Limite de crédito (seguradora)</label>
          <div *ngIf="dadosFaturamento.creditoSeguradora == 0">R$ 0,00</div>
          <div *ngIf="dadosFaturamento.creditoSeguradora > 0">{{ dadosFaturamento.creditoSeguradora | currency:'BRL':'symbol':'1.2-2' }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Data de inclusão</label>
          <div *ngIf="dadosFaturamento.dataInclusao == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.dataInclusao != null">{{ dadosFaturamento.dataInclusao }}</div>
        </div>
        <div class="form-group col-md-6">
          <label>Próxima análise de crédito em</label>
          <div *ngIf="dadosFaturamento.proximaAnaliseCredito == null">R$ 0,00</div>
          <div *ngIf="dadosFaturamento.proximaAnaliseCredito != null">{{ dadosFaturamento.proximaAnaliseCredito }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Quem cadastrou</label>
          <div *ngIf="dadosFaturamento.quemCadastrou == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.quemCadastrou != null">{{ dadosFaturamento.quemCadastrou }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label class="d-flex">
            <div class="mr-2">
              <i class="fas fa-times-circle text-danger" *ngIf="dadosFaturamento.somenteCarteira == 0"></i>
              <i class="fas fa-check-circle text-success" *ngIf="dadosFaturamento.somenteCarteira == 1"></i>
            </div>
            <span>Cobrança somente carteira</span>
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label class="d-flex">
            <div class="mr-2">
              <i class="fas fa-times-circle text-danger" *ngIf="dadosFaturamento.boletoDescontado == 0"></i>
              <i class="fas fa-check-circle text-success" *ngIf="dadosFaturamento.boletoDescontado == 1"></i>
            </div>
            <span>Não aceita boleto descontado</span>
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label class="d-flex">
            <div class="mr-2">
              <i class="fas fa-times-circle text-danger" *ngIf="dadosFaturamento.somenteAVista == 0"></i>
              <i class="fas fa-check-circle text-success" *ngIf="dadosFaturamento.somenteAVista == 1"></i>
            </div>
            <span>Cliente somente à vista</span>
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label class="d-flex">
            <div class="mr-2">
              <i class="fas fa-times-circle text-danger" *ngIf="dadosFaturamento.exigePesagem == 0"></i>
              <i class="fas fa-check-circle text-success" *ngIf="dadosFaturamento.exigePesagem == 1"></i>
            </div>
            <span>Exige pesagem</span>
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="dadosFaturamento.tipoPessoa == 'J'">
      <div class="form-row">
        <div class="form-group col-md-6 offset-md-6">
          <label>Nota do Cliente</label>
          <div *ngIf="dadosFaturamento.notaCliente == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.notaCliente >=1 && dadosFaturamento.notaCliente <2"><i class="fas fa-star"></i></div>
          <div *ngIf="dadosFaturamento.notaCliente >=2 && dadosFaturamento.notaCliente <3"><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
          <div *ngIf="dadosFaturamento.notaCliente >=3 && dadosFaturamento.notaCliente <4"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
          <div *ngIf="dadosFaturamento.notaCliente >=4 && dadosFaturamento.notaCliente <5"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
          <div *ngIf="dadosFaturamento.notaCliente >= 5"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>CNPJ</label>
          <div *ngIf="dadosFaturamento.cnpj == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.cnpj != null">{{ dadosFaturamento.cnpj }}</div>
        </div>
        <div class="form-group col-md-6">
          <label>Razão social</label>
          <div *ngIf="dadosFaturamento.razaoSocial == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.razaoSocial != null">{{ dadosFaturamento.razaoSocial }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Nome fantasia</label>
          <div *ngIf="dadosFaturamento.nomeFantasia == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.nomeFantasia != null">{{ dadosFaturamento.nomeFantasia }}</div>
        </div>
        <div class="form-group col-md-6">
          <label>Tipo de cadastro</label>
          <div *ngIf="dadosFaturamento.descTipoCadastro == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.descTipoCadastro != null">{{ dadosFaturamento.descTipoCadastro }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Regime de tributação</label>
          <div *ngIf="dadosFaturamento.descTributacao == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.descTributacao != null">{{ dadosFaturamento.descTributacao }}</div>
        </div>
        <div class="form-group col-md-6">
          <label>Contribuinte</label>
          <div *ngIf="dadosFaturamento.descContribuinte == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.descContribuinte != null">{{ dadosFaturamento.descContribuinte }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Inscrição estadual</label>
          <div *ngIf="dadosFaturamento.inscricaoEstadual == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.inscricaoEstadual != null">{{ dadosFaturamento.inscricaoEstadual }}</div>
        </div>
        <div class="form-group col-md-6">
          <label>Setor de atividade</label>
          <div *ngIf="dadosFaturamento.descSetorAtividade == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.descSetorAtividade != null">{{ dadosFaturamento.descSetorAtividade }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Finalidade do material</label>
          <div *ngIf="dadosFaturamento.descFinalidadeMaterial == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.descFinalidadeMaterial != null">{{ dadosFaturamento.descFinalidadeMaterial }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>CNAE (atividade principal)</label>
          <div *ngIf="dadosFaturamento.descCnae == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.descCnae != null">
            {{ dadosFaturamento.descCnae | uppercase }}
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col mb-3">
          <label>Atividades secundárias</label>
          <div *ngIf="dadosFaturamento.atividadesSecundarias.length == 0">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.atividadesSecundarias.length > 0">
            <ul class="list-unstyled mb-0">
              <li
                class="mb-1"
                *ngFor="let item of dadosFaturamento.atividadesSecundarias">
                {{ item.descCnae | uppercase }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Limite de crédito</label>
          <div *ngIf="dadosFaturamento.limiteCredito == 0">R$ 0,00</div>
          <div *ngIf="dadosFaturamento.limiteCredito > 0">{{ dadosFaturamento.limiteCredito | currency:'BRL':'symbol':'1.2-2' }}</div>
        </div>
        <div class="form-group col-md-6">
          <label>Limite de crédito (seguradora)</label>
          <div *ngIf="dadosFaturamento.creditoSeguradora == 0">R$ 0,00</div>
          <div *ngIf="dadosFaturamento.creditoSeguradora > 0">{{ dadosFaturamento.creditoSeguradora | currency:'BRL':'symbol':'1.2-2' }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Data de inclusão</label>
          <div *ngIf="dadosFaturamento.dataInclusao == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.dataInclusao != null">{{ dadosFaturamento.dataInclusao }}</div>
        </div>
        <div class="form-group col-md-6">
          <label>Próxima análise de crédito em</label>
          <div *ngIf="dadosFaturamento.proximaAnaliseCredito == null">R$ 0,00</div>
          <div *ngIf="dadosFaturamento.proximaAnaliseCredito != null">{{ dadosFaturamento.proximaAnaliseCredito }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Quem cadastrou</label>
          <div *ngIf="dadosFaturamento.quemCadastrou == null">NÃO INFORMADO</div>
          <div *ngIf="dadosFaturamento.quemCadastrou != null">{{ dadosFaturamento.quemCadastrou }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label class="d-flex">
            <div class="mr-2">
              <i class="fas fa-times-circle text-danger" *ngIf="dadosFaturamento.somenteCarteira == 0"></i>
              <i class="fas fa-check-circle text-success" *ngIf="dadosFaturamento.somenteCarteira == 1"></i>
            </div>
            <span>Cobrança somente carteira</span>
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label class="d-flex">
            <div class="mr-2">
              <i class="fas fa-times-circle text-danger" *ngIf="dadosFaturamento.boletoDescontado == 0"></i>
              <i class="fas fa-check-circle text-success" *ngIf="dadosFaturamento.boletoDescontado == 1"></i>
            </div>
            <span>Não aceita boleto descontado</span>
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label class="d-flex">
            <div class="mr-2">
              <i class="fas fa-times-circle text-danger" *ngIf="dadosFaturamento.somenteAVista == 0"></i>
              <i class="fas fa-check-circle text-success" *ngIf="dadosFaturamento.somenteAVista == 1"></i>
            </div>
            <span>Cliente somente à vista</span>
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label class="d-flex">
            <div class="mr-2">
              <i class="fas fa-times-circle text-danger" *ngIf="dadosFaturamento.exigePesagem == 0"></i>
              <i class="fas fa-check-circle text-success" *ngIf="dadosFaturamento.exigePesagem == 1"></i>
            </div>
            <span>Exige pesagem</span>
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col mb-md-0">
          <label class="d-flex">
            <div class="mr-2">
              <i class="fas fa-times-circle text-danger" *ngIf="dadosFaturamento.marca == 0"></i>
              <i class="fas fa-check-circle text-success" *ngIf="dadosFaturamento.marca == 1"></i>
            </div>
            <span>Marca</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
