<loader-spinner-navbar [hidden]="!loaderNavbar"></loader-spinner-navbar>
<loader-spinner-full-screen [hidden]="!loaderFullScreen"></loader-spinner-full-screen>
<app-header [appTitle]="appTitle">
  <button class="btn btn-success" type="button" (click)="onSubmit()" *ngIf="!visualizar">
    Finalizar
  </button>
  <button class="btn btn-danger" type="button" (click)="onCancel()" *ngIf="!visualizar">
    Cancelar
  </button>
  <button class="btn btn-danger" type="button" (click)="onCancel()" *ngIf="visualizar">
    Voltar
  </button>
  <div class="d-inline-block ml-1" dropdown container="body" *ngIf="permissoesAcesso.historicoExclusao === true">
    <button type="button" dropdownToggle>
      <i class="fas fa-ellipsis-v"></i>
    </button>
    <ul *dropdownMenu class="dropdown-menu left">
      <li>
        <a class="dropdown-item" href="javascript:void(0)" (click)="onHistoricoExclusao()">
          <i class="fas fa-history"></i>
          <span class="text-uppercase">Historial de eliminación</span>
        </a>
      </li>
    </ul>
  </div>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loaderFullScreen">
  <form [formGroup]="form" autocomplete="off" #scrollToFormOnTop>
    <div class="row">
      <div class="col">
        <hr class="mt-0 mb-4">
      </div>
    </div>
    <div class="row">

      <div class="col-md" id="card-green">
        <div class="row d-flex">
          <div class="col-9">
            <div class="col" id="card-label-light">Valor da Proposta</div>
            <div class="col" id="card-value-grey">{{ valorProposta | currency:'BRL':'symbol':'1.2-2' }}</div>
          </div>
          <div class="col-3">
            <span class="fas fa-money-bill-wave d-flex p-3" id="icon-green"></span>
          </div>
        </div>
      </div>

      <div class="col-md" id="card-purple">
        <div class="row d-flex" id="marginRow">
          <div class="col-2">
            <span class="fas fa-clock d-flex justify-content-center align-items-center" id="icon-purple"></span>
          </div>
          <div class="col-10">
            <div class="col" id="card-label-purple">Datos de lanzamiento</div>
            <div class="col" id="card-value-light">{{ dadosLancamento.data | date:'dd/MM/yyyy' }} às {{
              dadosLancamento.data | date:'HH:mm' }}</div>
          </div>
        </div>
      </div>
      <div class="col-md" id="card-purple">
        <div class="row d-flex" id="marginRow">
          <div class="col-2">
            <span class="fas fa-user-tie d-flex justify-content-center align-items-center" id="icon-purple"></span>
          </div>
          <div class="col-10">
            <div class="col" id="card-label-purple">{{ dadosLancamento.nomeVendedor | uppercase }}</div>
          </div>
        </div>
      </div>

      <!-- <div class="col">
        <div class="mtc-title">Dados de lançamento</div>
        <div class="form-row">
          <div class="form-group col-lg-2">
            <label>Data/Hora</label>
            <p class="mb-0">
              {{ dadosLancamento.data | date:'dd/MM/yyyy' }} às {{ dadosLancamento.data | date:'HH:mm' }}
            </p>
          </div>
          <div class="form-group col-lg-3">
            <label>Usuário</label>
            <p class="mb-0">
              {{ dadosLancamento.nomeVendedor | uppercase }}
            </p>
          </div>
        </div>
      </div> -->
    </div>


    <!-- <div class="row shadow-sm">
      <div class="col">
        <hr class="mt-4 mb-5">
      </div>
    </div> -->

    <div class="col shadow-sm mt-4" id="blocos">
      <div class="row" [hidden]="visualizar">
        <div class="col">
          <comercial-ciclo-vendas-cotacoes-formulario-materiais-lista
           [codEndereco]="form.value.codEndereco"
            [codCliente]="form.value.codCliente"
             [codEmpresa]="form.getRawValue().codEmpresa"
            [codDeposito]="form.getRawValue().codDeposito"
            [codFormaPagamento]="form.value.codFormaPagamento"
            [freteConta]="form.value.freteConta" (loaderNavbar)="onLoaderNavbar($event)"
            (loaderFullScreen)="onLoaderFullScreen($event)" (scrollToFormOnTop)="onMateriaisScrollTop($event)"
            (scrollToCarrinho)="onScrollToCarrinho($event)">
          </comercial-ciclo-vendas-cotacoes-formulario-materiais-lista>
        </div>
      </div>
    </div>

    <div class="col shadow-sm mt-4" id="blocos">
      <div class="row d-flex p-3" style="cursor: pointer;" (click)="onShowBloco(1)">
        <span class="fas fa-list-alt d-flex justify-content-center align-items-center" id="icon-gray"></span>
        <div class="d-flex justify-content-center align-items-center ml-2"><strong>Datos de cliente</strong></div>
        <div class="col"></div>
        <div class="d-flex justify-content-end align-items-center">

          <div class="d-flex float-end align-items-center mr-4" *ngIf="showBloco1">
            <i class="fas fa-caret-down"
              style="background-color: transparent; color: #7F849C; border-color: transparent;"></i>
          </div>

          <div class="d-flex float-end align-items-center mr-4" *ngIf="!showBloco1">
            <i class="fas fa-caret-up"
              style="background-color: transparent; color: #7F849C; border-color: transparent;"></i>
          </div>
        </div>
      </div>

      <div class="col" [hidden]=showBloco1>
        <div class="form-row">
          <div class="form-group col-lg-2">
            <label class="mb-1" for="codCotacao">Número</label>
            <input type="text" id="codCotacao" class="form-control" formControlName="codCotacao"
              [readonly]="visualizar">
          </div>

          <div class="form-group col-lg-5">
            <div class="mb-1 d-flex justify-content-between w-100" style="height: 19px">
              <label class="my-auto" for="codCliente">Cliente</label>
              <div class="my-auto text-uppercase" style="font-size: 11px" *ngIf="!visualizar">
                <a *ngIf="urlPath != 'editar'" id="top-links" class="text-primary mr-2" href="javascript:void(0)"
                  (click)="openModal(selecionarCliente)">
                  Selecionar
                </a>

                <a id="top-links" *ngIf="form.value.codCliente != null" class="text-primary mr-2"
                  href="javascript:void(0)" (click)="onClienteDetalhes()">
                  Detalles
                </a>

                <a id="top-links" *ngIf="form.value.codCliente != null" class="text-primary mr-2"
                  href="javascript:void(0)" (click)="onHistoricoCompras()">
                  Histórico de Compras
                </a>

                <a id="top-links" *ngIf="form.value.codCliente != null" class="text-primary mr-2"
                  href="javascript:void(0)" (click)="navegarHistoricoFinanceiro()">
                  Histórico Financeiro
                </a>
              </div>
            </div>
            <input type="text" class="form-control" id="codRazaoSocial" formControlName="codRazaoSocial"
              [readonly]="visualizar" placeholder="Selecionar..." [attr.disabled]="true" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-2">
            <label class="my-auto" for="codEndereco">Dirección</label>
            <div class="my-1 text-uppercase" style="font-size: 11px">
              <input formControlName="codEndereco" type="text" class="form-control" [readonly]="true" [attr.disabled]="true" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-2">
            <label class="my-auto" for="codEndereco">NIT</label>
            <div class="my-1 text-uppercase" style="font-size: 11px">
              <input formControlName="codRazaoSocial"type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group col-lg-2">
            <label class="my-auto" for="razaoSocial">Nombre factura</label>
            <div class="my-1 text-uppercase" style="font-size: 11px">
              <input formControlName="razaoSocial" type="text" class="form-control" />
            </div>
          </div>
          <!--jjjjjjj-->

          <div class="form-group col-lg-2">
            <label for="orderBy">Lista de precios de clientes</label>
            <select class="form-control custom-select" formControlName="lista" id="orderBy">
              <ng-container *ngFor="let listaPrecio of listaPrecios">
                <option [value]="listaPrecio.id" [selected]="idListaPrecio === listaPrecio.id">{{ listaPrecio.nombre_lista }}</option>
              </ng-container>
            </select>
          </div>
          <div class="form-group col-lg-3">
            <div class="mb-1 d-flex justify-content-between w-100" style="height: 19px">
              <label class="my-auto" for="codContato">Persona de contacto</label>
              <div class="my-auto text-uppercase" style="font-size: 11px"
                *ngIf="form.value.codCliente != null && !visualizar">
                <a id="top-links" class="text-primary mr-2" href="javascript:void(0)" (click)="onDetalhesContato()">
                  Detalles
                </a>

                <a id="top-links" class="text-primary mr-2" href="javascript:void(0)"
                  [routerLink]="[getLinkAddContato()]" target="_blank">
                  Adicionar
                </a>
                <!-- <a id="top-links" class="text-primary mr-2" href="javascript:void(0)" tooltip="Recarregar"
                  (click)="onReloadContatos()">
                  <i class="fas fa-redo-alt text-light"></i>
                </a> -->
              </div>
            </div>
            <ng-select [searchable]="true" [clearable]="false" [items]="contatos" formControlName="codContato"
              placeholder="Selecione..." [virtualScroll]="true" bindLabel="nomeContato" bindValue="codContato"
              [loading]="contatosLoader" loadingText="Carregando..." [readonly]="visualizar">
            </ng-select>
            <!-- [ngClass]="onFieldError('codContato') + ' ' + onFieldRequired(form.controls.codContato)"-->
            <!-- <invalid-form-control [show]="onFieldInvalid('codContato')" message="Contato responsável é obrigatório."></invalid-form-control>-->
          </div>
          <!-- <div class="form-row"> -->
            <div class="form-group col-lg-2">
              <label for="dataEntrega">Referencia</label>
              <input type="text" class="form-control">
            </div>
          <!-- </div> -->
        </div>
        <!--novos campos fim-->
        <div class="row">
          <div class="form-group col-lg-2">
            <label for="orderBy">Ejecutivo de ventas</label>
            <select class="form-control custom-select" formControlName="orderBy" id="orderBy">
              <ng-container *ngFor="let listaEjecutivo of listaEjecutivo">
                <option [value]="listaEjecutivo.id"  [selected]="idVendedor === listaEjecutivo.id">{{ listaEjecutivo.nome }}</option>
              </ng-container>
            </select>
          </div>
          <div class="form-group col-lg-2">
            <label for="orderBy">Propietario</label>
            <input formControlName="nombreVendedor" type="text" class="form-control" />
          </div>
        </div>
      </div>
    </div>

    <!-- datos de envio -->

    <div class="col shadow-sm mt-4" id="blocos">
      <div class="row d-flex p-3" style="cursor: pointer;" (click)="onShowBloco(6)">
        <span class="fas fa-list-alt d-flex justify-content-center align-items-center" id="icon-gray"></span>
        <div class="d-flex justify-content-center align-items-center ml-2"><strong>Datos de Envio</strong></div>
        <div class="col"></div>
        <div class="d-flex justify-content-end align-items-center">

          <div class="d-flex float-end align-items-center mr-4" *ngIf="showBloco6">
            <i class="fas fa-caret-down"
              style="background-color: transparent; color: #7F849C; border-color: transparent;"></i>
          </div>

          <div class="d-flex float-end align-items-center mr-4" *ngIf="!showBloco6">
            <i class="fas fa-caret-up"
              style="background-color: transparent; color: #7F849C; border-color: transparent;"></i>
          </div>
        </div>
      </div>

      <div class="col" [hidden]=showBloco6>
        <div class="form-row">
          <div class="form-group col-lg-2">
            <div class="mb-1 d-flex justify-content-between w-100" style="height: 19px">
              <label class="my-auto" for="codEndereco">Tipo de entrega</label>
              <div class="my-auto text-uppercase" style="font-size: 11px">
                <!-- *ngIf="form.value.codCliente != null && !visualizar"-->
              </div>
            </div>
            <ng-select [searchable]="true" [clearable]="false" [items]="tipoEntrega" (change)="onChangeEndereco($event)"
              formControlName="codEndereco" [virtualScroll]="true" bindLabel="nombre" bindValue="id" placeholder="Selecione..."
              [loading]="locaisEntregaLoader" loadingText="Carregando..." groupBy="tipo" [readonly]="visualizar">
            </ng-select>
            <!--  [ngClass]="onFieldError('codEndereco') + ' ' + onFieldRequired(form.controls.codEndereco)"-->
            <!--<invalid-form-control [show]="onFieldInvalid('codEndereco')" message="Local de entrega é obrigatório."></invalid-form-control>-->
          </div>
          <div class="form-group col-lg-2">
            <label for="dataEntrega">Referencia</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-row">
          <!-- <div class="form-group col-lg-3">
            <label for="codDeposito">Almacén</label>
            <ng-select [searchable]="true" [clearable]="false" [items]="filteredDepositos" formControlName="codDeposito"
              [virtualScroll]="true" labelForId="codDeposito" placeholder="Selecione..." bindLabel="nomeDeposito"
              bindValue="idDeposito" [readonly]="visualizar"> -->
              <!--  [ngClass]="onFieldError('codDeposito') + ' ' + onFieldRequired(form.controls.codDeposito)"-->
            <!-- </ng-select>
          </div> -->
        </div>
        <!--novos campos fim-->
        <div class="form-row">
          <div class="form-group col-lg-2">
            <div class="form-row">
              <div class="form-group col">
                <div class="mb-1 d-flex justify-content-between w-100" style="height: 19px">
                  <label class="my-auto" for="codFormaPagamento">Forma de Pago</label>
                  <div class="my-auto text-uppercase" style="font-size: 11px">
                  </div>
                </div>
                <ng-select [searchable]="true" [clearable]="false" [items]="formasPagamento" [searchFn]="customSearchFn"
                  bindLabel="descricao" bindValue="codFormaPagamento" formControlName="codFormaPagamento"
                  [loading]="formasPagamentoLoader" loadingText="Carregando..." [readonly]="visualizar"
                  [virtualScroll]="true" placeholder="Selecione...">
                  <!-- [ngClass]="onFieldError('codFormaPagamento') + ' ' + onFieldRequired(form.controls.codFormaPagamento)"-->
                </ng-select>
                <invalid-form-control [show]="onFieldInvalid('codFormaPagamento')"
                  message="El tipo de pago es obligatorio."></invalid-form-control>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div *ngIf="swReferencia == true" class="form-group col-lg-2">
            <label class="my-auto" for="codEndereco">Dirección de destino</label>
            <div class="my-1 text-uppercase" style="font-size: 11px">
              <input formControlName="codEndereco" type="text" class="form-control"/>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- <div class="row" [hidden]="visualizar">
      <div class="col">
        <hr class="my-5">
      </div>
    </div> -->
    <div class="col shadow-sm mt-4" id="blocos" >
      <div class="row" #scrollToCarrinho>
        <div class="col">
          <comercial-ciclo-vendas-cotacoes-formulario-carrinho [appTitle]="appTitle"
            [codFormaPagamento]="form.value.codFormaPagamento" [freteConta]="form.value.freteConta"
            [idReservado]="idReservado" [codCotacao]="codCotacao" [codCliente]="form.value.codCliente"
            [codEndereco]="form.value.codEndereco" [initialValue]="carrinho" (loaderNavbar)="onLoaderNavbar($event)"
            (hasError)="onCarrinhoError($event)" (scrollTop)="onCarrinhoScrollTop($event)"
            (carrinho)="onCarrinho($event)">
          </comercial-ciclo-vendas-cotacoes-formulario-carrinho>
        </div>
      </div>
    </div>

    <div #scrollToFormOnBottom *ngIf="dependenciesLoaded">
      <div class="row justify-content-between px-3">
        <div class="col shadow-sm mt-4 mr-3" id="blocos">
          <div class="row d-flex p-3" style="cursor: pointer;" (click)="onShowBloco(4)">
            <span class="fas fa-search d-flex justify-content-center align-items-center" id="icon-gray"></span>
            <div class="d-flex justify-content-center align-items-center ml-2"><strong>Anexos</strong></div>
            <div class="col"></div>
            <div class="d-flex justify-content-end align-items-center">

              <div class="d-flex float-end align-items-center mr-4" *ngIf="showBloco4">
                <i class="fas fa-caret-down"
                  style="background-color: transparent; color: #7F849C; border-color: transparent;"></i>
              </div>

              <div class="d-flex float-end align-items-center mr-4" *ngIf="!showBloco4">
                <i class="fas fa-caret-up"
                  style="background-color: transparent; color: #7F849C; border-color: transparent;"></i>
              </div>

            </div>
          </div>
          <div class="col" [hidden]=showBloco4>
            <div formArrayName="anexos">
              <div class="row">

                <div class="col" [hidden]="visualizar">
                  <label for="novoAnexo" class="d-flex justify-content-end align-items-center" style="cursor: pointer;">
                    <p class="btn btn-sm btn-primary m-0">
                      <i class="fas fa-plus"></i>
                      <span>Novo</span>
                    </p>
                  </label>
                  <input id="novoAnexo" type="file" (change)="appendFile($event.target.files)" class="d-none">
                </div>
              </div>
              <div class="row" *ngIf="showAnexos && form.value.anexos.length > 0">
                <div class="col">
                  <custom-table [config]="tableConfigAnexos">
                    <ng-template #tbody let-tbody>
                      <tr *ngFor="let anexo of anexos.controls; let i = index" [formGroupName]="i">
                        <td style="width: 90%">
                          {{ form.value.anexos[i].codAnexo }} - {{ form.value.anexos[i].nomeAnexo | uppercase }}
                        </td>
                        <td class="text-center" style="width: 5%">
                          <a [href]="form.value.anexos[i].linkAnexo" *ngIf="form.value.anexos[i].linkAnexo != null"
                            target="_blank" class="btn-icon-sm mx-2 text-black" tooltip="visualizar">
                            <i class="far fa-eye"></i>
                          </a>
                        </td>
                        <td class="text-center" style="width: 5%">
                          <btn-icon icon="fas fa-trash" size="small" tooltip="Excluir"
                            (click)="onDeleteAnexo(form.value.anexos[i].codAnexo, i)">
                          </btn-icon>
                        </td>
                      </tr>
                    </ng-template>
                  </custom-table>
                </div>
              </div>
              <div class="row" *ngIf="showAnexos && form.value.anexos.length === 0">
                <div class="col">
                  <message icon="far fa-folder-open" text="Nenhum documento encontrado">
                  </message>
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col"><hr></div>
            </div> -->

          </div>
        </div>
        <div class="col shadow-sm mt-4 ml-3" id="blocos">
          <div class="row d-flex p-3" style="cursor: pointer;" (click)="onShowBloco(5)">
            <span class="fas fa-list-alt d-flex justify-content-center align-items-center" id="icon-gray"></span>
            <div class="d-flex justify-content-center align-items-center ml-2"><strong>Datos Adicionales</strong></div>
            <div class="col"></div>
            <div class="d-flex justify-content-end align-items-center">

              <div class="d-flex float-end align-items-center mr-4" *ngIf="showBloco5">
                <i class="fas fa-caret-down"
                  style="background-color: transparent; color: #7F849C; border-color: transparent;"></i>
              </div>

              <div class="d-flex float-end align-items-center mr-4" *ngIf="!showBloco5">
                <i class="fas fa-caret-up"
                  style="background-color: transparent; color: #7F849C; border-color: transparent;"></i>
              </div>

            </div>
          </div>
          <div class="col" [hidden]=showBloco5>

            <!-- <div class="row">
              <div class="col"><hr></div>
            </div> -->
            <!--<div class="form-row">
              <div class="form-group col">
                <label for="dadosAdicionais">Dados Adicionais da Nota Fiscal</label>
                <textarea class="form-control" id="dadosAdicionais" formControlName="dadosAdicionais"
                  [readonly]="visualizar">
                </textarea>
              </div>
            </div>-->
            <div class="form-row">
              <div class="form-group col">
                <label for="observacoes">Observaciones</label>
                <textarea class="form-control" id="observacoes" formControlName="observacoes" [readonly]="visualizar">
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <ng-template #selecionarCliente>
    <comercial-ciclo-vendas-cotacoes-formulario-modal-selecionar (fecharModal)="onFecharModal($event)"
      (cliente)="onCliente($event)" (clientesParams)="getClientesParams($event)">
    </comercial-ciclo-vendas-cotacoes-formulario-modal-selecionar>
  </ng-template>
</app-body>
