<loader-spinner-navbar [hidden]="!loaderNavbar"></loader-spinner-navbar>
<loader-spinner-full-screen
  [hidden]="!loaderFullScreen"
></loader-spinner-full-screen>
<app-header [appTitle]="appTitle">
  <button
    class="btn btn-success"
    type="button"
    (click)="onSubmit()"
    *ngIf="!visualizar"
    [disabled]="loaderCotizacion || loaderNavbar"
  >
    Finalizar
  </button>
  <button
    class="btn btn-danger"
    type="button"
    (click)="onCancel()"
    *ngIf="!visualizar"
    [disabled]="loaderNavbar"
  >
    Cancelar
  </button>
  <!-- <button
    class="btn btn-danger"
    type="button"
    (click)="onCancel()"
    *ngIf="visualizar"
  >
    Voltar
  </button> -->
  <div
    class="d-inline-block ml-1"
    dropdown
    container="body"
    *ngIf="permissoesAcesso.historicoExclusao === true"
  >
    <button type="button" dropdownToggle>
      <i class="fas fa-ellipsis-v"></i>
    </button>
    <!-- <ul *dropdownMenu class="dropdown-menu left">
      <li>
        <a class="dropdown-item" href="javascript:void(0)" (click)="onHistoricoExclusao()">
          <i class="fas fa-history"></i>
          <span class="text-uppercase">Historial de eliminación</span>
        </a>
      </li>
    </ul> -->
  </div>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loaderFullScreen">
  <form [formGroup]="form" autocomplete="off" #scrollToFormOnTop>
    <div class="row">
      <div class="col">
        <hr class="mt-0 mb-4" />
      </div>
    </div>
    <div class="container">
      <div class="row mt-60">
        <div class="col-md-4 col-sm-12 col-12">
          <div class="serv-section-2">
            <div class="serv-section-2-icon">
              <i class="fas fa-money-bill-wave"></i>
            </div>
            <div class="serv-section-desc">
              <h4>Valor de la propuesta</h4>
              <h5>USD. {{ valorProposta | number : '1.2-2' }}</h5>
            </div>
            <div class="section-heading-line-left"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <div class="serv-section-2 serv-section-2-act">
            <div class="serv-section-2-icon serv-section-2-icon-act">
              <i class="fas fa-clock"></i>
            </div>
            <div class="serv-section-desc">
              <h4>Fecha de creación</h4>
              <h5>
                {{ dadosLancamento.data | date : 'dd/MM/yyyy' }} Hrs.
                {{ dadosLancamento.data | date : 'HH:mm' }}
              </h5>
            </div>
            <div class="section-heading-line-left"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <div class="serv-section-2">
            <div class="serv-section-2-icon">
              <i class="fas fa-user-tie"></i>
            </div>
            <div class="serv-section-desc">
              <h4>Nombre Del Vendedor</h4>
              <h5>{{ dadosLancamento.nomeVendedor | uppercase }}</h5>
            </div>
            <div class="section-heading-line-left"></div>
          </div>
        </div>
      </div>
    </div>
    <br />

    <!-- datos de ofeta cambios -->

    <section>
      <div class="container">
        <div class="accordion" id="accordionExample">
          <div class="steps">
            <progress id="progress" value="0" max="100"></progress>
            <div class="step-item">
              <button
                class="step-button text-center"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                1
              </button>
              <div class="step-title">DATOS DE LA OFERTA</div>
            </div>
            <div class="step-item">
              <button
                class="step-button text-center collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                2
              </button>
              <div class="step-title">DATOS DE CLIENTE</div>
            </div>
            <div class="step-item">
              <button
                class="step-button text-center collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                3
              </button>
              <div class="step-title">BUSQUEDA y RESUMEN</div>
            </div>
            <div class="step-item">
              <button
                class="step-button text-center collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseFort"
                aria-expanded="false"
                aria-controls="collapseFort"
              >
                4
              </button>
              <div class="step-title">DATOS DE ENVIO</div>
            </div>
          </div>

          <div class="card">
            <div id="headingOne"></div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="col shadow-sm mt-4" id="blocos">
                <div
                  class="row d-flex p-3"
                  style="cursor: pointer"
                  (click)="onShowBloco(1)"
                >
                  <span
                    class="fas fa-list-alt d-flex justify-content-center align-items-center"
                    id="icon-gray"
                  ></span>
                  <div
                    class="d-flex justify-content-center align-items-center ml-2"
                  >
                    <strong>Datos de la oferta</strong>
                  </div>
                  <div class="col"></div>
                  <div class="d-flex justify-content-end align-items-center">
                    <div
                      class="d-flex float-end align-items-center mr-4"
                      *ngIf="showBloco1"
                    >
                      <i
                        class="fas fa-caret-down"
                        style="
                          background-color: transparent;
                          color: #7f849c;
                          border-color: transparent;
                        "
                      ></i>
                    </div>

                    <div
                      class="d-flex float-end align-items-center mr-4"
                      *ngIf="!showBloco1"
                    >
                      <i
                        class="fas fa-caret-up"
                        style="
                          background-color: transparent;
                          color: #7f849c;
                          border-color: transparent;
                        "
                      ></i>
                    </div>
                  </div>
                </div>

                <div class="col" [hidden]="!showBloco1">
                  <div class="form-row">
                    <div class="form-group col-lg-2">
                      <label class="mb-1" for="codigo_cliente"
                        >N° de Oferta SAP.</label
                      >
                      <input
                        type="text"
                        id="codigo_cliente"
                        class="form-control"
                        formControlName="codigo_oferta"
                        [readonly]="true"
                        [attr.disabled]="true"
                      />
                    </div>
                    <div class="form-group col-lg-2">
                      <label class="mb-1" for="codigo_cliente"
                        >N° de Oferta CRM.</label
                      >
                      <input
                        type="text"
                        id="codigo_cliente"
                        class="form-control"
                        formControlName="codigo_oferta_crm"
                        [readonly]="true"
                        [attr.disabled]="true"
                      />
                    </div>
                    <div class="form-group col-lg-2">
                      <label for="dataEncerramento">Fecha de cotización </label>
                      <input
                        class="form-control"
                        id="dataEncerramento"
                        type="text"
                        bsDatepicker
                        [bsConfig]="bsConfig"
                        formControlName="dataEncerramento"
                        [readonly]="visualizar"
                        [ngClass]="
                          onFieldError('dataEncerramento') +
                          ' ' +
                          onFieldRequired(form.controls.dataEncerramento)
                        "
                        disabled
                      />
                      <invalid-form-control
                        [show]="onFieldInvalid('dataEncerramento')"
                        message="Data de encerramento é obrigatório."
                      ></invalid-form-control>
                    </div>
                    <div class="form-group col-lg-2">
                      <label for="dataValidade">Válido hasta</label>
                      <input
                        class="form-control"
                        id="dataValidade"
                        type="text"
                        bsDatepicker
                        [bsConfig]="bsConfig"
                        formControlName="dataValidade"
                        (bsValueChange)="onChangeValidadeProposta($event)"
                        [ngClass]="
                          onFieldError('dataValidade') +
                          ' ' +
                          onFieldRequired(form.controls.dataValidade)
                        "
                      />
                      <invalid-form-control
                        [show]="onFieldInvalid('dataValidade') == 'required'"
                        message="La fecha de validez es obligatorio."
                      ></invalid-form-control>
                      <invalid-form-control
                        [show]="onFieldInvalid('dataValidade') == 'maxDate'"
                        message="No debe sobrepasar los 30 días ."
                      ></invalid-form-control>
                    </div>
                    <!-- <div class="form-group col-lg-2">
                              <label for="dataValidade"> Cambio de estado</label>
                              <input class="form-control" id="fechaRecordatorio" type="text" bsDatepicker [bsConfig]="bsConfig"
                                formControlName="fechaRecordatorio" [readonly]="true"
                                [ngClass]="onFieldError('fechaRecordatorio') + ' ' + onFieldRequired(form.controls.fechaRecordatorio)" >
                            </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="headingTwo"></div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <!-- Clientes -->
              <div class="col shadow-sm mt-4" id="blocos">
                <div
                  class="row d-flex p-3"
                  style="cursor: pointer"
                  (click)="onShowBloco(2)"
                >
                  <span
                    class="fas fa-list-alt d-flex justify-content-center align-items-center"
                    id="icon-gray"
                  ></span>
                  <div
                    class="d-flex justify-content-center align-items-center ml-2"
                  >
                    <strong>Datos de cliente</strong>
                  </div>
                  <div class="col"></div>
                  <div class="d-flex justify-content-end align-items-center">
                    <div
                      class="d-flex float-end align-items-center mr-4"
                      *ngIf="showBloco2"
                    >
                      <i
                        class="fas fa-caret-down"
                        style="
                          background-color: transparent;
                          color: #7f849c;
                          border-color: transparent;
                        "
                      ></i>
                    </div>
                    <div
                      class="d-flex float-end align-items-center mr-4"
                      *ngIf="!showBloco2"
                    >
                      <i
                        class="fas fa-caret-up"
                        style="
                          background-color: transparent;
                          color: #7f849c;
                          border-color: transparent;
                        "
                      ></i>
                    </div>
                  </div>
                </div>
                <div class="col" [hidden]="!showBloco2">
                  <div class="form-row">
                    <div class="form-group col-lg-2">
                      <label class="mb-1" for="codigo_cliente"
                        >Codigo Cliente</label
                      >
                      <input
                        type="text"
                        id="codigo_cliente"
                        class="form-control"
                        formControlName="codigo_cliente"
                        [readonly]="true"
                        [attr.disabled]="true"
                      />
                    </div>
                    <div class="form-group col-lg-5">
                      <div
                        class="mb-1 d-flex justify-content-between w-100"
                        style="height: 19px"
                      >
                        <label class="my-auto" for="nomeCliente">
                          <!-- <span class="text-danger">(*)</span> -->
                          <span class="text-danger">(*)</span> Cliente
                        </label>
                        <div
                          class="my-auto text-uppercase"
                          style="font-size: 11px"
                          *ngIf="!visualizar"
                        >
                          <a
                            *ngIf="urlPath != 'editar'"
                            id="top-links"
                            class="text-primary mr-2"
                            href="javascript:void(0)"
                            (click)="openModal(agregarCliente)"
                            style="font-weight: bold"
                          >
                            Nuevo cliente
                          </a>
                          <a
                            *ngIf="urlPath != 'editar'"
                            id="top-links"
                            class="text-primary mr-2"
                            href="javascript:void(0)"
                            (click)="openModal(selecionarCliente)"
                            style="font-weight: bold"
                          >
                            Seleccionar
                          </a>
                          <!-- <a
                            id="top-links"
                            *ngIf="form.value.codCliente != null"
                            class="text-primary mr-2"
                            href="javascript:void(0)"
                            (click)="onClienteDetalhes()"
                            style="font-weight: bold"
                          >
                            Detalles
                          </a> -->
                          <!-- <a id="top-links" *ngIf="form.value.codCliente != null" class="text-primary mr-2"
                  href="javascript:void(0)" (click)="onHistoricoCompras()">
                  Histórico de Compras
                </a>
                <a id="top-links" *ngIf="form.value.codCliente != null" class="text-primary mr-2"
                  href="javascript:void(0)" (click)="navegarHistoricoFinanceiro()">
                  Histórico Financeiro
                </a> -->
                        </div>
                      </div>
                      <input
                        formControlName="nomeCliente"
                        type="text"
                        class="form-control"
                        id="nomeCliente"
                        [readonly]="visualizar"
                        placeholder="Selecionar..."
                        [attr.disabled]="true"
                      />
                    </div>
                    <div class="form-group col-lg-2">
                      <label class="my-auto">Tipo de Cliente</label>
                      <div class="my-1 text-uppercase" style="font-size: 11px">
                        <input
                          formControlName="nombreTipo"
                          type="text"
                          class="form-control"
                          [readonly]="true"
                          [attr.disabled]="true"
                        />
                      </div>
                    </div>
                    <div class="form-group col-lg-2">
                      <label class="my-auto" for="codEndereco">Dirección</label>
                      <!--  <div class="my-1 text-uppercase" style="font-size: 11px">
                        <input formControlName="codEndereco" type="text" class="form-control"/>
                      </div> -->
                      <ng-select
                        [searchable]="true"
                        [clearable]="false"
                        [items]="locaisEntrega"
                        formControlName="codEndereco"
                        placeholder="Selecione..."
                        [virtualScroll]="true"
                        bindLabel="descricao"
                        bindValue="codEndereco"
                        [loading]="locaisEntregaLoader"
                        loadingText="Carregando..."
                        [readonly]="visualizar"
                        (change)="onChangeEndereco($event.codEndereco)"
                      >
                      </ng-select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-lg-2">
                      <label class="my-auto">Tipo Documento</label>
                      <div class="my-1 text-uppercase" style="font-size: 11px">
                        <input
                          formControlName="tipo_documento"
                          type="text"
                          class="form-control"
                          [readonly]="true"
                          [attr.disabled]="true"
                          style="min-width: 0; width: auto; overflow: hidden"
                        />
                      </div>
                    </div>
                    <div class="form-group col-lg-2">
                      <label class="my-auto">Nro Documento</label>
                      <div class="my-1 text-uppercase" style="font-size: 11px">
                        <input
                          formControlName="carnet"
                          type="text"
                          class="form-control"
                          [readonly]="true"
                          [attr.disabled]="true"
                        />
                      </div>
                    </div>

                    <div class="form-group col-lg-2">
                      <label class="my-auto">
                        <!-- <span class="text-danger">(*)</span> -->
                        <span class="text-danger">(*)</span>Nombre
                        factura</label
                      >
                      <div class="my-1 text-uppercase" style="font-size: 11px">
                        <input
                          formControlName="razaoSocial"
                          type="text"
                          class="form-control"
                        />
                        <input
                          formControlName="id_tipo_cliente"
                          type="hidden"
                        />
                        <input
                          formControlName="id_departamento"
                          type="hidden"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-lg-3">
                      <label class="my-auto" for="correoElectronico"
                        >Correo electrónico</label
                      >
                      <div class="my-1" style="font-size: 11px">
                        <input
                          formControlName="correo_electronico"
                          type="text"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="form-group col-lg-2">
                      <label class="my-auto" for="celular">Celular </label>
                      <div class="my-1 text-uppercase" style="font-size: 11px">
                        <input
                          formControlName="celular"
                          type="text"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="form-group col-lg-2">
                      <label class="my-auto" for="">Teléfono </label>
                      <div class="my-1 text-uppercase" style="font-size: 11px">
                        <input
                          formControlName="telefono"
                          type="text"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="form-group col-lg-2">
                      <label class="my-auto" for="">Forma de contacto </label>
                      <div class="my-1 text-uppercase" style="font-size: 11px">
                        <input
                          formControlName="telefono"
                          type="text"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="form-group col-lg-2">
                      <label class="my-auto" for="">Tipo de Contacto </label>
                      <div class="my-1 text-uppercase" style="font-size: 11px">
                        <input
                          formControlName="telefono"
                          type="text"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-lg-2">
                      <label class="my-auto" for="">Rubro</label>
                      <select
                        class="form-control custom-select"
                        formControlName="id_rubro"
                        disabled
                      >
                        <ng-container *ngFor="let rubro of rubros">
                          <option
                            [value]="rubro.codigo_rubro"
                            [selected]="rubro.codigo_rubro === codigoRubro"
                          >
                            {{ rubro.descricao }}
                          </option>
                        </ng-container>
                      </select>
                    </div>
                    <div class="form-group col-lg-2">
                      <label class="my-auto" for="codFormaPagamento"
                        >Tipo de pago</label
                      >
                      <ng-select
                        [searchable]="true"
                        [clearable]="false"
                        [items]="formasPagamento"
                        [searchFn]="customSearchFn"
                        bindLabel="descricao"
                        bindValue="codFormaPagamento"
                        formControlName="codFormaPagamento"
                        [loading]="formasPagamentoLoader"
                        loadingText="Carregando..."
                        [readonly]="true"
                        [virtualScroll]="true"
                        placeholder="Seleccione..."
                      >
                        <!-- [ngClass]="onFieldError('codFormaPagamento') + ' ' + onFieldRequired(form.controls.codFormaPagamento)"-->
                      </ng-select>
                      <invalid-form-control
                        [show]="onFieldInvalid('codFormaPagamento')"
                        message="Forma de pago obligatorio"
                      ></invalid-form-control>
                    </div>
                    <div class="form-group col-lg-3">
                      <div
                        class="mb-1 d-flex justify-content-between w-100"
                        style="height: 19px"
                      >
                        <label class="my-auto" for="codContato">
                          <!-- <span class="text-danger">(*)</span> -->
                          Persona de contacto</label
                        >
                        <div
                          class="my-auto text-uppercase"
                          style="font-size: 11px"
                          *ngIf="form.value.codCliente != null && !visualizar"
                        >
                          <!-- <a
                            id="top-links"
                            *ngIf="form.value.codCliente != null"
                            class="text-primary mr-2"
                            href="javascript:void(0)"
                            (click)="onDetalhesContato()"
                          >
                            Detalles
                          </a> -->
                          <!--<a id="top-links" class="text-primary mr-2" href="javascript:void(0)"
                  [routerLink]="[getLinkAddContato()]" target="_blank">
                  Adicionar
                </a>-->
                          <!-- <a id="top-links" class="text-primary mr-2" href="javascript:void(0)" tooltip="Recarregar"
                  (click)="onReloadContatos()">
                  <i class="fas fa-redo-alt text-light"></i>
                </a> -->
                        </div>
                      </div>
                      <ng-select
                        [searchable]="true"
                        [clearable]="false"
                        [items]="contatos"
                        formControlName="codContato"
                        placeholder="Selecione..."
                        [virtualScroll]="true"
                        bindLabel="nomeContato"
                        bindValue="codContato"
                        [loading]="contatosLoader"
                        loadingText="Carregando..."
                        [readonly]="visualizar"
                        (change)="changeContacto($event.codContato)"
                      >
                      </ng-select>
                    </div>
                    <!-- cambiar formControlName y for="codEndereco"-->
                    <div class="form-group col-lg-2">
                      <label class="my-auto" for="celularcontacto"
                        >Número de celular</label
                      >
                      <div class="my-1 text-uppercase" style="font-size: 11px">
                        <input
                          formControlName="celularcontacto"
                          type="text"
                          class="form-control"
                          [readonly]="true"
                          [attr.disabled]="true"
                        />
                      </div>
                    </div>
                  </div>
                  <!--novos campos fim-->
                  <div class="row">
                    <div class="form-group col-lg-2">
                      <label class="my-auto" for="">
                        <!-- <span class="text-danger">(*)</span> -->
                        <span class="text-danger">(*)</span>Ejecutivo de
                        venta</label
                      >
                      <ng-select
                        class=""
                        [formControlName]="ejecutivo_ventas"
                        id="orderBy"
                        [disabled]="form.get('nomeCliente').disabled"
                        (change)="datosVendedor($event)"
                      >
                        <ng-container
                          *ngFor="let listaEjecutivo of listaEjecutivo"
                        >
                          <ng-option [value]="listaEjecutivo.id">
                            {{ listaEjecutivo.nome }}
                          </ng-option>
                        </ng-container>
                      </ng-select>
                    </div>
                    <div class="form-group col-lg-2">
                      <label for="orderBy">Lista de precios</label>
                      <select
                        class="form-control custom-select"
                        formControlName="lista"
                        (change)="updateLista()"
                        disabled
                      >
                        <ng-container *ngFor="let listaPrecio of listaPrecios">
                          <option
                            [value]="listaPrecio.id"
                            [selected]="listaPrecio.id === idListaPrecio"
                          >
                            {{ listaPrecio.nombre_lista }}
                          </option>
                        </ng-container>
                      </select>

                      <!-- <label class="my-auto" for="codFormaPagamento">Lista de precios</label> -->
                      <!-- <ng-select class="" [formControlName]="lista" id="orderBy"  [(ngModel)]="idListaPrecio">
              <ng-container *ng
              For="let listaPrecio of listaPrecios">
                <ng-option [value]="listaPrecio.id" >
                  {{ listaPrecio.nombre_lista }}
                </ng-option>

              </ng-container>
            </ng-select> -->
                    </div>
                    <div class="form-group col-lg-2">
                      <label for="orderBy">Departamento</label>
                      <input
                        formControlName="nombreDepartamento"
                        type="text"
                        class="form-control"
                        [value]="id_departamento"
                        readonly
                      />
                    </div>
                    <div class="form-group col-lg-2">
                      <label for="orderBy">Propietario</label>
                      <input
                        formControlName=" "
                        type="text"
                        class="form-control"
                        [value]="dadosLancamento.nomeVendedor"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="headingThree"></div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <!-- datos de oferta finaliza aqui -->
              <!-- <div class="row shadow-sm">
                  <div class="col">
                    <hr class="mt-4 mb-5">FF
                  </div>
                </div> -->
              <!-- Datos de oferta -->

              <!-- Materiales -->
              <div class="col shadow-sm mt-4" id="blocos">
                <div class="row" [hidden]="visualizar">
                  <div class="col">
                    <comercial-ciclo-vendas-cotacoes-formulario-materiais-lista
                      [codEndereco]="form.value.codEndereco"
                      [codCliente]="form.value.codCliente"
                      [codEmpresa]="form.getRawValue().codEmpresa"
                      [id_lista_precio]="idListaPrecio"
                      [codDeposito]="form.getRawValue().codDeposito"
                      [id_vendedor]="this.idvendedor"
                      [codFormaPagamento]="form.value.codFormaPagamento"
                      [freteConta]="form.value.freteConta"
                      (loaderNavbar)="onLoaderNavbar($event)"
                      (loaderFullScreen)="onLoaderFullScreen($event)"
                      (scrollToFormOnTop)="onMateriaisScrollTop($event)"
                      (scrollToCarrinho)="onScrollToCarrinho($event)"
                    >
                    </comercial-ciclo-vendas-cotacoes-formulario-materiais-lista>
                  </div>
                </div>
              </div>

              <div
                class="col shadow-sm mt-4"
                id="blocos"
                [hidden]="this.materiais.length == 0"
              >
                <div class="row" #scrollToCarrinho>
                  <div class="col">
                    <comercial-ciclo-vendas-cotacoes-formulario-carrinho
                      [appTitle]="appTitle"
                      [codFormaPagamento]="form.value.codFormaPagamento"
                      [freteConta]="form.value.freteConta"
                      [id_tipo_cliente]="form.value.id_tipo_cliente"
                      [id_departamento]="form.value.id_departamento"
                      [idReservado]="idReservado"
                      [codCotacao]="codCotacao"
                      [codCliente]="form.value.codCliente"
                      [codEndereco]="form.value.codEndereco"
                      [initialValue]="carrinho"
                      (loaderNavbar)="onLoaderNavbar($event)"
                      (hasError)="onCarrinhoError($event)"
                      (scrollTop)="onCarrinhoScrollTop($event)"
                      (carrinho)="onCarrinho($event)"
                      [id_vendedor]="this.idvendedor"
                      [id_lista]="this.idListaPrecio"
                    >
                    </comercial-ciclo-vendas-cotacoes-formulario-carrinho>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="headingFort"></div>
            <div
              id="collapseFort"
              class="collapse"
              aria-labelledby="headingFort"
              data-parent="#accordionExample"
            >
              <!-- datos de envio -->
              <div class="col shadow-sm mt-4" id="blocos">
                <div
                  class="row d-flex p-3"
                  style="cursor: pointer"
                  (click)="onShowBloco(5)"
                >
                  <span
                    class="fas fa-list-alt d-flex justify-content-center align-items-center"
                    id="icon-gray"
                  ></span>
                  <div
                    class="d-flex justify-content-center align-items-center ml-2"
                  >
                    <strong>Datos de Envio</strong>
                  </div>
                  <div class="col"></div>
                  <div class="d-flex justify-content-end align-items-center">
                    <div
                      class="d-flex float-end align-items-center mr-4"
                      *ngIf="showBloco6"
                    >
                      <i
                        class="fas fa-caret-down"
                        style="
                          background-color: transparent;
                          color: #7f849c;
                          border-color: transparent;
                        "
                      ></i>
                    </div>

                    <div
                      class="d-flex float-end align-items-center mr-4"
                      *ngIf="!showBloco6"
                    >
                      <i
                        class="fas fa-caret-up"
                        style="
                          background-color: transparent;
                          color: #7f849c;
                          border-color: transparent;
                        "
                      ></i>
                    </div>
                  </div>
                </div>

                <div class="col" [hidden]="!showBloco5">
                  <div class="form-row">
                    <div class="form-group col-lg-2">
                      <div
                        class="mb-1 d-flex justify-content-between w-100"
                        style="height: 19px"
                      >
                        <label class="my-auto" for=""> Tipo de entrega </label>
                        <div
                          class="my-auto text-uppercase"
                          style="font-size: 11px"
                        >
                          <!-- *ngIf="form.value.codCliente != null && !visualizar"-->
                        </div>
                      </div>
                      <ng-select
                        [searchable]="true"
                        [clearable]="false"
                        [items]="tipoEntrega"
                        (change)="datoEntrega($event)"
                        formControlName="codEndereco"
                        [virtualScroll]="true"
                        bindLabel="nombre"
                        bindValue="id"
                        placeholder="Selecione..."
                        [loading]="locaisEntregaLoader"
                        loadingText="Carregando..."
                        groupBy="tipo"
                        [readonly]="visualizar"
                        [ngClass]="
                          onFieldError('codEndereco') +
                          ' ' +
                          onFieldRequired(form.controls.codEndereco)
                        "
                      >
                      </ng-select>
                      <invalid-form-control
                        [show]="onFieldInvalid('codEndereco')"
                        message="Local de entrega es obligatorio."
                      ></invalid-form-control>
                    </div>
                    <div
                      class="form-group col-lg-1 mb-1"
                      *ngIf="swEntrega == true"
                    >
                      <label for="dataEntrega">Referencia</label> <br />
                      <button
                        class="btn btn-primary w-100"
                        type="button"
                        (click)="openModalUbicacion(seleccionarUbicacion)"
                      >
                        <i class="fas fa-map-marker-alt"></i>Ubicación
                      </button>
                    </div>

                    <div class="form-group col-lg-4" *ngIf="swEntrega == true">
                      <label class="my-auto" for="razaoSocial"
                        >Dirección entrega</label
                      >
                      <div class="my-1 text-uppercase" style="font-size: 11px">
                        <input
                          formControlName="razaoSocial"
                          type="text"
                          class="form-control"
                        />
                      </div>
                    </div>

                    <div class="form-group col-lg-2" *ngIf="swEntrega == true">
                      <label class="my-auto" for="codFormaPagamento"
                        >Centro logistico</label
                      >
                      <ng-select
                        class=""
                        [formControlName]="centroLogisticoControl"
                        id="orderBy"
                        (change)="onCentroLogisticoChange($event)"
                      >
                        <ng-container
                          *ngFor="let centroLogistico of centrosLogisticos"
                        >
                          <ng-option [value]="centroLogistico.id">
                            {{ centroLogistico.NOMBRE_DEPOSITO }}
                          </ng-option>
                        </ng-container>
                      </ng-select>
                    </div>

                    <div class="form-group col-lg-2">
                      <div class="form-row">
                        <div class="form-group col">
                          <div
                            class="mb-1 d-flex justify-content-between w-100"
                            style="height: 19px"
                          >
                            <div
                              class="my-auto text-uppercase"
                              style="font-size: 11px"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row"></div>
                  <div class="form-row"></div>
                  <div class="row"></div>
                </div>
              </div>

              <!-- Anexos y observaciones  -->
              <!-- <div #scrollToFormOnBottom *ngIf="dependenciesLoaded"> -->
              <!--   <div class="row justify-content-between p x-3">-->

              <!-- Datos adicionales -->
              <div class="col shadow-sm mt-4" id="blocos">
                <div
                  class="row d-flex p-3"
                  style="cursor: pointer"
                  (click)="onShowBloco(6)"
                >
                  <span
                    class="fas fa-list-alt d-flex justify-content-center align-items-center"
                    id="icon-gray"
                  ></span>
                  <div
                    class="d-flex justify-content-center align-items-center ml-2"
                  >
                    <strong>Datos Adicionales</strong>
                  </div>
                  <div class="col"></div>
                  <div class="d-flex justify-content-end align-items-center">
                    <div
                      class="d-flex float-end align-items-center mr-4"
                      *ngIf="showBloco6"
                    >
                      <i
                        class="fas fa-caret-down"
                        style="
                          background-color: transparent;
                          color: #7f849c;
                          border-color: transparent;
                        "
                      ></i>
                    </div>

                    <div
                      class="d-flex float-end align-items-center mr-4"
                      *ngIf="!showBloco6"
                    >
                      <i
                        class="fas fa-caret-up"
                        style="
                          background-color: transparent;
                          color: #7f849c;
                          border-color: transparent;
                        "
                      ></i>
                    </div>
                  </div>
                </div>
                <div class="col" [hidden]="!showBloco6">
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="observacoes">Observaciones</label>
                      <textarea
                        class="form-control"
                        id="observacoes"
                        formControlName="observacoes"
                        [readonly]="visualizar"
                      >
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
  <ng-template #selecionarCliente>
    <comercial-ciclo-vendas-cotacoes-formulario-modal-selecionar
      (fecharModal)="onFecharModal($event)"
      (cliente)="onCliente($event)"
      (clientesParams)="getClientesParams($event)"
    >
    </comercial-ciclo-vendas-cotacoes-formulario-modal-selecionar>
  </ng-template>

  <ng-template #agregarCliente>
    <comercial-ciclo-vendas-cotacoes-formulario-modal-agregar
      (fecharModal)="onFecharModal($event)"
      [vendedores]="this.listaEjecutivo"
      [rubros]="this.rubros"
      [ciudades]="this.ciudades"
    >
    </comercial-ciclo-vendas-cotacoes-formulario-modal-agregar>
  </ng-template>

  <ng-template #seleccionarUbicacion>
    <comercial-ciclo-vendas-cotacoes-formulario-modal-material-ubicacion
      (latLngChanged)="changeLatitudLongitud($event)"
      (fecharModal)="onFecharModal($event)"
    >
    </comercial-ciclo-vendas-cotacoes-formulario-modal-material-ubicacion>
  </ng-template>

  <ng-template #seleccionarAutorizacion>
    <comercial-ciclo-vendas-cotacoes-formulario-modal-material-autorizar>
    </comercial-ciclo-vendas-cotacoes-formulario-modal-material-autorizar>
  </ng-template>
</app-body>
