<div class="row" id="application-header">
  <div class="col-6">
    <div id="title">
      <back-button></back-button>
      <h1>Página no encontrada</h1>
    </div>
  </div>
</div>
<div class="row" id="application-body">
  <div class="col">
    <div class="not-found">
      <img id="img" src="../../../assets/images/system-alerts/404.png">
      <div>
        <div id="title">Oops! Página no encontrada</div>
        <div id="message">La página a la que intentas acceder no existe
    </div>
  </div>
</div>

