<div class="modal-header">
  <h4>Búsqueda de conductor</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <advanced-filter>
    <form [formGroup]="form" autocomplete="off">
      <div class="form-row">
        <div class="form-group col-4">
          <label for="buscarPor">Buscar Por</label>
          <select name="buscarPor" id="buscarPor" class="form-control" formControlName="buscarPor">
            <option value="ID_LOGI_MOTO">Id</option>
            <option value="NM_MOTO">Nombre</option>
            <option value="CPF">Seguro social</option>
          </select>
        </div>
        <div class="form-group col-8">
          <label>TÉRMINO DE BÚSQUEDA</label>
          <div class="input-group">
            <input
            type="text"
            class="form-control"
            formControlName="pesquisa"
            >
            <div class="input-group-append">
              <button
                tooltip="Haga clic para buscar"
                container="body"
                class="input-group-text hover"
                (click)="getMotoristas()"
                >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </advanced-filter>
  <div class="spinner-border" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
  </div>
  <table *ngIf="motoristas?.length != 0 && !loading"  class="table table-sm table-hover custom-border border-left border-right border-bottom text-center table-fixed">
    <thead class="thead-light">
      <tr>
        <th>ID </th>
        <th>Nombre</th>
        <th>Seguro social</th>
        <th style="width:80px" ></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let motorista of motoristas; let i = index">
        <td [ngClass]="motorista.IN_STAT == '1' ? 'border-success' : 'border-danger'">
        {{motorista.ID_LOGI_MOTO | number : '6.0-0'}}
        </td>
        <td class="text-truncate">{{ motorista.NM_MOTO }} </td>
        <td>{{ motorista.CPF | cpf}}</td>
        <td class="align-middle" style="width:70px">
          <span class="mr-3" tooltip="Ahorrar" placement="left" container="body">
            <button type="button" class="btn-icon-sm" (click)="onSelect(motorista);">
              <i class="far fa-save"></i>
            </button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <div [hidden]="(motoristas?.length == 0) || (loading)">
    Mostrando {{ itemsPerPage*(currentPage - 1) + 1 }} a {{ currentPage*(itemsPerPage) > totalItems ? totalItems : currentPage*(itemsPerPage) }} de {{ totalItems }}
    <pagination
      [maxSize]="10"
      [totalItems]="totalItems"
      (pageChanged)="onPageChanged($event)"
      [(itemsPerPage)]="itemsPerPage"
      [boundaryLinks]="true"
      [(ngModel)]="currentPage"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;">
    </pagination>
  </div>
</div>