<loader-spinner-full-screen *ngIf="loaderFullScreen"></loader-spinner-full-screen>
<app-header appTitle="Ciclo de ventas"></app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loaderFullScreen">
  <h5 class="pt-2 mb-4 text-center">Seleccione una actividad </h5>
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="row justify-content-center">
        <div class="col-md-3" >
          <card-button
            [icon]="atividades.icone"
            [text]="atividades.nome"
            [routerLink]="[atividades.rota]">
          </card-button>
        </div>
      </div>
    </div>
  </div>
</app-body>
