<loader-spinner-navbar *ngIf="loaderNavbar"></loader-spinner-navbar>
<loader-spinner-full-screen *ngIf="loaderFullScreen"></loader-spinner-full-screen>
<div class="row" *ngIf="!loaderFullScreen">
  <div class="col">
    <div class="mtc-title">Editar endereço</div>
    <form [formGroup]="form" autocomplete="off">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="cep">CEP</label>
          <input
            type="text"
            class="form-control"
            id="cep"
            formControlName="cep"
            (input)="onInput(); onInputCep(detalhes);"
            [ngClass]="onFieldError('cep') + ' ' + onFieldRequired('cep')"
            cep [textMask]="{mask: MASKS.cep.textMask}">
          <invalid-form-control [show]="onFieldInvalid('cep') == 'required'" message="CEP é obrigatório."></invalid-form-control>
        </div>
        <div class="form-group" [ngClass]="{'col-md-10': action == 'novo', 'col-md-8': action == 'editar'}">
          <label for="endereco">Endereço</label>
          <input
            type="text"
            class="form-control"
            id="endereco"
            formControlName="endereco"
            (input)="onInput()"
            [ngClass]="onFieldError('endereco') + ' ' + onFieldRequired('endereco')">
          <invalid-form-control [show]="onFieldInvalid('endereco') == 'required'" message="Endereço é obrigatório."></invalid-form-control>
          <invalid-form-control [show]="onFieldInvalid('endereco') == 'maxlength'" [message]="maxLengthMessages.endereco"></invalid-form-control>
        </div>
        <div class="form-group col-md-2" *ngIf="action == 'editar'">
          <label for="status">Status</label>
          <select
            class="form-control"
            id="status"
            formControlName="status"
            (change)="onInput()"
            [ngClass]="onFieldError('status') + ' ' + onFieldRequired('status')">
            <option value="1">ATIVO</option>
            <option value="2">INATIVO</option>
          </select>
          <invalid-form-control [show]="onFieldInvalid('status') == 'required'" message="Status é obrigatório."></invalid-form-control>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="complemento">Complemento</label>
          <input
            type="text"
            class="form-control"
            id="complemento"
            formControlName="complemento"
            (input)="onInput()"
            [ngClass]="onFieldError('complemento')">
            <invalid-form-control [show]="onFieldInvalid('complemento') == 'maxlength'" [message]="maxLengthMessages.complemento"></invalid-form-control>
        </div>
        <div class="form-group col-md-6">
          <label for="referencia">Referência</label>
          <input
            type="text"
            class="form-control"
            id="referencia"
            formControlName="referencia"
            (input)="onInput()"
            [ngClass]="onFieldError('referencia')">
          <invalid-form-control [show]="onFieldInvalid('referencia') == 'maxlength'" [message]="maxLengthMessages.referencia"></invalid-form-control>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="bairro">Bairro</label>
          <input
            type="text"
            class="form-control"
            id="bairro"
            formControlName="bairro"
            (input)="onInput()"
            [ngClass]="onFieldError('bairro') + ' ' + onFieldRequired('bairro')">
          <invalid-form-control [show]="onFieldInvalid('bairro') == 'required'" message="Bairro é obrigatório."></invalid-form-control>
          <invalid-form-control [show]="onFieldInvalid('bairro') == 'maxlength'" [message]="maxLengthMessages.bairro"></invalid-form-control>
        </div>
        <div class="form-group col-md-6 ">
          <label for="cidade">Cidade</label>
          <input
            type="text"
            class="form-control"
            id="cidade"
            formControlName="cidade"
            (input)="onInput()"
            (blur)="onInputCidade()"
            [ngClass]="onFieldError('cidade') + ' ' + onFieldRequired('cidade')">
          <invalid-form-control [show]="onFieldInvalid('cidade') == 'required'" message="Cidade é obrigatório."></invalid-form-control>
          <invalid-form-control [show]="onFieldInvalid('cidade') == 'maxlength'" [message]="maxLengthMessages.cidade"></invalid-form-control>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="uf">UF</label>
          <select
            class="form-control"
            id="uf"
            formControlName="uf"
            (change)="onInput()"
            [ngClass]="onFieldError('uf') + ' ' + onFieldRequired('uf')">
            <option value="">SELECIONE UMA OPÇÃO</option>
            <option *ngFor="let item of estados" [value]="item.sigla">{{ item.descricao }}</option>
          </select>
          <invalid-form-control [show]="onFieldInvalid('uf') == 'required'" message="UF é obrigatório."></invalid-form-control>
        </div>
        <div class="form-group col-md-6">
          <label for="regiaoAtuacaoComercial">Região de atuação comercial</label>
          <select
            class="form-control"
            id="regiaoAtuacaoComercial"
            formControlName="regiaoAtuacaoComercial"
            (change)="onInput()">
            <option value="">SELECIONE UMA OPÇÃO</option>
            <option *ngFor="let item of regioesAtuacaoComercial" [value]="item.id">{{ item.descricao }}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-auto mb-md-0">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="principal"
              formControlName="principal">
            <label class="custom-control-label" for="principal">Endereço principal</label>
          </div>
        </div>
        <div class="form-group col-auto mb-md-0">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="cobranca"
              formControlName="cobranca">
            <label class="custom-control-label" for="cobranca">Endereço de cobrança</label>
          </div>
        </div>
        <div class="form-group col-auto mb-md-0">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="entrega"
              formControlName="entrega"
              (change)="onEnderecoEntrega()">
            <label class="custom-control-label" for="entrega">Endereço de entrega</label>
          </div>
        </div>
      </div>
      <div [hidden]="!exibirDadosEntrega">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="tipoEntrega">Tipo do Endereço de Entrega</label>
            <select  
              class="form-control"
              id="TP_ACAO"
              formControlName="TP_ACAO"
              (ngModelChange)="selecaoCliente($event)"
            >
              <option></option>
              <option value="obra">Endereço Obra</option>
              <option value="filial">Endereço Filial</option>
              <option value="industrialização">End. Industrialização</option>
            </select>
          </div>
          <div *ngIf="exibirSelecaoCliente" class="form-group col-md-6">
            <div class="mb-1 d-flex justify-content-between w-100" style="height: 19px">
              <label class="my-auto" for="COD_CLIE_TERC_RAZ">Cliente</label>
              <div class="my-auto text-uppercase" style="font-size: 11px">
                <a
                  id="top-links"
                  class="text-primary mr-2"
                  (click)="openModal(pesquisaClientes)">
                  Selecionar
                </a>
              </div>
            </div>
            <input
              type="text"
              class="form-control"
              id="COD_CLIE_TERC_RAZ"
              formControlName="COD_CLIE_TERC_RAZ"
              [readonly]="visualizar"
              placeholder="Selecionar..."
              [attr.disabled]="true"
            />
          </div>
        </div>
      </div>
      <div [hidden]="!exibirDadosEntrega">
        <div class="form-row">
          <div class="col"><hr></div>
        </div>
        <div class="mtc-title">Dados de entrega</div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="titulo">Título do local de entrega</label>
            <input
              type="text"
              class="form-control"
              id="titulo"
              formControlName="titulo"
              (input)="onInput()"
              [ngClass]="onFieldError('titulo')">
            <invalid-form-control [show]="onFieldInvalid('titulo') == 'maxlength'" [message]="maxLengthMessages.titulo"></invalid-form-control>
          </div>
          <div class="form-group col-md-6">
            <label for="regiaoEntrega">Região de entrega</label>
            <select
              class="form-control"
              id="regiaoEntrega"
              formControlName="regiaoEntrega"
              (change)="onInput()">
              <option value="">SELECIONE UMA OPÇÃO</option>
              <option *ngFor="let item of regioesEntrega" [value]="item.id">{{ item.descricao }}</option>
            </select>
          </div>
        </div>
        <div formGroupName="diasEntrega">
          <div class="form-row">
            <div class="form-group col">
              <label class="mb-2">Dias para realizar entregas</label>
              <div class="form-row" formGroupName="segunda">
                <div class="form-group col-md-2 d-flex">
                  <div class="custom-control custom-checkbox my-auto">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="segunda"
                      formControlName="checked"
                      (change)="onInput(); onDiaEntregas('segunda')">
                    <label class="custom-control-label" for="segunda">Segunda-feira</label>
                  </div>
                </div>
                <div class="form-group col-md-10">
                  <div class="form-row">
                    <div class="col-auto d-flex pr-4">
                      <label class="my-auto mr-2">Horário mínimo</label>
                      <timepicker
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [mousewheel]="true"
                        formControlName="minimo"
                        (input)="onInput()">
                      </timepicker>
                    </div>
                    <div class="col-auto d-flex">
                      <label class="my-auto mr-2">Horário máximo</label>
                      <timepicker
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [mousewheel]="true"
                        formControlName="maximo"
                        (input)="onInput()">
                      </timepicker>
                    </div>
                    <div class="col-auto d-flex">
                      <a
                        class="text-secondary my-auto"
                        href="javascript:void(0)"
                        (click)="onReplicarHorario('segunda')">
                        <b>Replicar horário</b>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row" formGroupName="terca">
                <div class="form-group col-md-2 d-flex">
                  <div class="custom-control custom-checkbox my-auto">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="terca"
                      formControlName="checked"
                      (change)="onInput(); onDiaEntregas('terca')">
                    <label class="custom-control-label" for="terca">Terça-feira</label>
                  </div>
                </div>
                <div class="form-group col-md-10">
                  <div class="form-row">
                    <div class="col-auto d-flex pr-4">
                      <label class="my-auto mr-2">Horário mínimo</label>
                      <timepicker
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [mousewheel]="true"
                        formControlName="minimo"
                        (input)="onInput()">
                      </timepicker>
                    </div>
                    <div class="col-auto d-flex">
                      <label class="my-auto mr-2">Horário máximo</label>
                      <timepicker
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [mousewheel]="true"
                        formControlName="maximo"
                        (input)="onInput()">
                      </timepicker>
                    </div>
                    <div class="col-auto d-flex">
                      <a
                        class="text-secondary my-auto"
                        href="javascript:void(0)"
                        (click)="onReplicarHorario('terca')">
                        <b>Replicar horário</b>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row" formGroupName="quarta">
                <div class="form-group col-md-2 d-flex">
                  <div class="custom-control custom-checkbox my-auto">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="quarta"
                      formControlName="checked"
                      (change)="onInput(); onDiaEntregas('quarta')">
                    <label class="custom-control-label" for="quarta">Quarta-feira</label>
                  </div>
                </div>
                <div class="form-group col-md-10">
                  <div class="form-row">
                    <div class="col-auto d-flex pr-4">
                      <label class="my-auto mr-2">Horário mínimo</label>
                      <timepicker
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [mousewheel]="true"
                        formControlName="minimo"
                        (input)="onInput()">
                      </timepicker>
                    </div>
                    <div class="col-auto d-flex">
                      <label class="my-auto mr-2">Horário máximo</label>
                      <timepicker
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [mousewheel]="true"
                        formControlName="maximo"
                        (input)="onInput()">
                      </timepicker>
                    </div>
                    <div class="col-auto d-flex">
                      <a
                        class="text-secondary my-auto"
                        href="javascript:void(0)"
                        (click)="onReplicarHorario('quarta')">
                        <b>Replicar horário</b>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row" formGroupName="quinta">
                <div class="form-group col-md-2 d-flex">
                  <div class="custom-control custom-checkbox my-auto">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="quinta"
                      formControlName="checked"
                      (change)="onInput(); onDiaEntregas('quinta')">
                    <label class="custom-control-label" for="quinta">Quinta-feira</label>
                  </div>
                </div>
                <div class="form-group col-md-10">
                  <div class="form-row">
                    <div class="col-auto d-flex pr-4">
                      <label class="my-auto mr-2">Horário mínimo</label>
                      <timepicker
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [mousewheel]="true"
                        formControlName="minimo"
                        (input)="onInput()">
                      </timepicker>
                    </div>
                    <div class="col-auto d-flex">
                      <label class="my-auto mr-2">Horário máximo</label>
                      <timepicker
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [mousewheel]="true"
                        formControlName="maximo"
                        (input)="onInput()">
                      </timepicker>
                    </div>
                    <div class="col-auto d-flex">
                      <a
                        class="text-secondary my-auto"
                        href="javascript:void(0)"
                        (click)="onReplicarHorario('quinta')">
                        <b>Replicar horário</b>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row" formGroupName="sexta">
                <div class="form-group col-md-2 d-flex">
                  <div class="custom-control custom-checkbox my-auto">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="sexta"
                      formControlName="checked"
                      (change)="onInput(); onDiaEntregas('sexta')">
                    <label class="custom-control-label" for="sexta">Sexta-feira</label>
                  </div>
                </div>
                <div class="form-group col-md-10">
                  <div class="form-row">
                    <div class="col-auto d-flex pr-4">
                      <label class="my-auto mr-2">Horário mínimo</label>
                      <timepicker
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [mousewheel]="true"
                        formControlName="minimo"
                        (input)="onInput()">
                      </timepicker>
                    </div>
                    <div class="col-auto d-flex">
                      <label class="my-auto mr-2">Horário máximo</label>
                      <timepicker
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [mousewheel]="true"
                        formControlName="maximo"
                        (input)="onInput()">
                      </timepicker>
                    </div>
                    <div class="col-auto d-flex">
                      <a
                        class="text-secondary my-auto"
                        href="javascript:void(0)"
                        (click)="onReplicarHorario('sexta')">
                        <b>Replicar horário</b>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row" formGroupName="sabado">
                <div class="form-group col-md-2 d-flex">
                  <div class="custom-control custom-checkbox my-auto">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="sabado"
                      formControlName="checked"
                      (change)="onInput(); onDiaEntregas('sabado')">
                    <label class="custom-control-label" for="sabado">Sábado</label>
                  </div>
                </div>
                <div class="form-group col-md-10">
                  <div class="form-row">
                    <div class="col-auto d-flex pr-4">
                      <label class="my-auto mr-2">Horário mínimo</label>
                      <timepicker
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [mousewheel]="true"
                        formControlName="minimo"
                        (input)="onInput()">
                      </timepicker>
                    </div>
                    <div class="col-auto d-flex">
                      <label class="my-auto mr-2">Horário máximo</label>
                      <timepicker
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [mousewheel]="true"
                        formControlName="maximo"
                        (input)="onInput()">
                      </timepicker>
                    </div>
                    <div class="col-auto d-flex">
                      <a
                        class="text-secondary my-auto"
                        href="javascript:void(0)"
                        (click)="onReplicarHorario('sabado')">
                        <b>Replicar horário</b>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row" formGroupName="domingo">
                <div class="form-group col-md-2 d-flex">
                  <div class="custom-control custom-checkbox my-auto">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="domingo"
                      formControlName="checked"
                      (change)="onInput(); onDiaEntregas('domingo')">
                    <label class="custom-control-label" for="domingo">Domingo</label>
                  </div>
                </div>
                <div class="form-group col-md-10">
                  <div class="form-row">
                    <div class="col-auto d-flex pr-4">
                      <label class="my-auto mr-2">Horário mínimo</label>
                      <timepicker
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [mousewheel]="true"
                        formControlName="minimo"
                        (input)="onInput()">
                      </timepicker>
                    </div>
                    <div class="col-auto d-flex">
                      <label class="my-auto mr-2">Horário máximo</label>
                      <timepicker
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [mousewheel]="true"
                        formControlName="maximo"
                        (input)="onInput()">
                      </timepicker>
                    </div>
                    <div class="col-auto d-flex">
                      <a
                        class="text-secondary my-auto"
                        href="javascript:void(0)"
                        (click)="onReplicarHorario('domingo')">
                        <b>Replicar horário</b>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="tipoMaterial">Tipo de material</label>
            <select
              class="form-control"
              id="tipoMaterial"
              formControlName="tipoMaterial"
              (change)="onInput()">
              <option value="">SELECIONE UMA OPÇÃO</option>
              <option *ngFor="let item of tiposMaterial" [value]="item.id">{{ item.descricao }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="tipoDescarga">Tipo de descarga</label>
            <select
              class="form-control"
              id="tipoDescarga"
              formControlName="tipoDescarga"
              (change)="onInput()"
              [ngClass]="onFieldError('tipoDescarga') + ' ' + onFieldRequired('tipoDescarga')">
              <option value="">SELECIONE UMA OPÇÃO</option>
              <option *ngFor="let item of tiposDescarga" [value]="item.id">{{ item.descricao }}</option>
            </select>
            <invalid-form-control [show]="onFieldInvalid('tipoDescarga') == 'required'" message="Tipo de descarga é obrigatório."></invalid-form-control>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="modoDescarga">Modo de descarga</label>
            <select
              class="form-control"
              id="modoDescarga"
              formControlName="modoDescarga"
              (change)="onInput()"
              [ngClass]="onFieldError('modoDescarga') + ' ' + onFieldRequired('modoDescarga')">
              <option value="">SELECIONE UMA OPÇÃO</option>
              <option *ngFor="let item of modosDescarga" [value]="item.id">{{ item.descricao }}</option>
            </select>
            <invalid-form-control [show]="onFieldInvalid('modoDescarga') == 'required'" message="Modo de descarga é obrigatório."></invalid-form-control>
          </div>
          <div class="form-group col-md-6">
            <label for="tiposVeiculos">Tipos de veículo</label>
            <ng-select
              [items]="tiposVeiculos"
              [multiple]="true"
              [closeOnSelect]="false"
              labelForId="tiposVeiculos"
              bindValue="id"
              bindLabel="descricao"
              formControlName="tiposVeiculos"
              (change)="onInput()"
              [ngClass]="onFieldError('tiposVeiculos') + ' ' + onFieldRequired('tiposVeiculos')">
            </ng-select>
            <invalid-form-control [show]="onFieldInvalid('tiposVeiculos') == 'required'" message="Tipos de veículo é obrigatório."></invalid-form-control>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="dadosEspeciais">Dados especiais</label>
            <ng-select
              [items]="dadosEspeciais"
              [multiple]="true"
              [closeOnSelect]="false"
              labelForId="dadosEspeciais"
              bindValue="id"
              bindLabel="descricao"
              formControlName="dadosEspeciais"
              (change)="onInput()">
            </ng-select>
          </div>
        </div>
        <div class="form-row">
          <div formArrayName="anexos" class="mb-4 col-6">
            <div class="row">
              <div class="col d-flex align-items-start">
                <div class="mtc-title mb-0">Anexos</div>
                <div class="ml-2">
                  <ng-template #tooltipAnexos>
                    <p class="mb-0"><b>Como sugestão para auxílio na análise e agilidade no processo, 
                      favor inserir os documentos que vinculem a empresa de faturamento com o local de entrega, 
                      exemplos em caso de obra: CEI, Projeto, Alvará de Funcionamento, Contrato de Prestação de Serviços, Licitações, etc
                    </b></p>
                    <p class="text-nowrap mb-0"><br><br></p>
                    <p class="mb-0"><b>Entregas para indústria e terceiros, sugerimos inserir (Receita e Sintegra)</b></p>
                    <p class="text-nowrap mb-0"><br><br></p>
                    <p class="mb-0"><b>Faturamento para pessoa física, recomendamos anexar: CNH/RG e comprovante de endereço do local da entrega, comprovando o seu vínculo</b></p>
                    <p class="text-nowrap mb-0"><br><br></p>
                  </ng-template>
                  <i class="far fa-question-circle" [tooltip]="tooltipAnexos"></i>
                </div>
              </div>
              <div class="col">
                <label for="novoAnexo" class="d-flex justify-content-end align-items-center" style="cursor: pointer;">
                  <p class="btn btn-sm btn-outline-primary m-0">
                    <i class="fas fa-plus"></i>
                    <span>Novo</span>
                  </p>
                </label>
                <input
                  id="novoAnexo"
                  type="file"
                  (change)="appendFile($event.target.files)"
                  class="d-none"
                  >
              </div>
            </div>
            <div class="row" *ngIf="showAnexos && form.value.anexos.length > 0">
              <div class="col mb-5">
                <custom-table [config]="tableConfigAnexos">
                  <ng-template #tbody let-tbody>
                    <tr *ngFor="let anexo of anexos.controls; let i = index" [formGroupName]="i">
                      <td style="width: 90%">
                        {{ form.value.anexos[i].codAnexo }} - {{ form.value.anexos[i].nomeAnexo | uppercase }}
                      </td>
                      <td class="text-center" style="width: 5%">
                        <a
                          [href]="form.value.anexos[i].linkAnexo"
                          *ngIf="form.value.anexos[i].linkAnexo != null"
                          target="_blank"
                          class="btn-icon-sm mx-2 text-black"
                          tooltip="visualizar">
                          <i class="far fa-eye"></i>
                        </a>
                      </td>
                      <td class="text-center" style="width: 5%">
                        <btn-icon
                          icon="fas fa-trash"
                          size="small"
                          tooltip="Excluir"
                          (click)="onDeleteAnexo(form.value.anexos[i].codAnexo, i)">
                        </btn-icon>
                      </td>
                    </tr>
                  </ng-template>
                </custom-table>
              </div>
            </div>
            <div class="row" *ngIf="showAnexos && form.value.anexos.length === 0">
              <div class="col">
                <message
                  icon="fas fa-exchange-alt"
                  text="Nenhum documento encontrado">
                </message>
              </div>
            </div>
          </div>
          <div class="mb-4 col-6">
            <div class="row">
              <div class="col d-flex align-items-center">
                <div class="mtc-title mb-0">Observação</div>
              </div>
            </div>
            <div class="row">
              <div class="col mt-3">
                <textarea 
                  id="observacao" 
                  class="form-control" 
                  formControlName="observacao"
                  (input)="onInput()"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #detalhes>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Escolha o endereço a ser utilizado</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onModalClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formEnderecos" (ngSubmit)="setValueEndereco()" autocomplete="off">
      <div class="form-row">
        <div class="form-group col-md-12" *ngFor="let endereco of enderecosOp; let i = index">
          <div class="custom-control custom-radio">
            <input [id]="i" class="custom-control-input" formControlName="enderecosRetorno" type="radio" [value]="endereco"/>
            <label class="custom-control-label" [for]="i">{{endereco.logradouro}}, {{endereco.unidade}} - {{endereco.bairro}}, {{endereco.localidade}} - {{endereco.uf}}, {{endereco.cep}}</label>
          </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
          <button class="btn btn-primary">Selecionar</button>
        </div> 
      </div>
    </form>
  </div>
</ng-template>

<ng-template #pesquisaClientes>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Busqueda de Clientes</h4>
    <div class="d-flex justify-content-center align-items-center">
      <div class="spinner-border text-primary mr-2" role="status" *ngIf="loadingClientes">
        <span class="sr-only">Loading...</span>
      </div>
      <button type="button" class="close pull-right" aria-label="Close" (click)="onModalClose()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <advanced-filter>
      <form [formGroup]="formClientes">
        <div class="form-row">
          <div class="form-group col-4">
            <label for="cdItem">Buscar por</label>
            <select
              class="form-control custom-select"
              formControlName="buscarPor"
            >
              <option value="NM_CLIE" selected>Código, nome fantasia ou razão social</option>
            </select>
          </div>
  
          <div class="form-group col-8">
            <label>Termo de Pesquisa</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                formControlName="pesquisa"
                >
                <div class="input-group-append">
                  <span 
                    [tooltip]="formClientes.valid == false ? 'Digite um termo de pesquisa':''"
                    container="body"
                    placement ="left"
                  >
                    <button
                    style="height: 100%; margin-left: 10px;"
                      [disabled]="formClientes.valid == false"
                      class="input-group-text hover"
                      (click)="getClientes()"
                      >
                      <i class="fas fa-search"></i>
                    </button>
                  </span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </advanced-filter>
    <custom-table *ngIf="!noClientes" class="text-center">
      <ng-template #thead let-thead>
        <tr>
          <th>Cód Cliente </th>
          <th>Nome Fantasia</th>
          <th>Razão Social </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template #tbody let-tbody>
        <tr *ngFor="let cliente of clientes | slice : begin : end; let i = index">
          <td>{{ cliente.codCliente }}</td>
          <td>{{ cliente.nomeCliente }}</td>
          <td>{{ cliente.razaoSocial }}</td>
          <td>
            <button
              class="btn-icon-sm"
              tooltip="Salvar Informações"
              container="body"
              (click)="setCliente(cliente)"
            >
              <i class="far fa-save"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </custom-table>
  </div>
</ng-template>
