<div class="row">
  <div class="col-md-3 mb-4">
    <div class="border rounded bg-white shadow-sm d-flex justify-content-between w-100 p-3">
      <div class="bg-purple rounded-circle text-white icon-40 my-auto"><i class="fas fa-shopping-cart"></i></div>
      <div class="text-right" [hidden]="!ultimaCompraLoaded || ultimaCompraEmpty">
        <h5 class="font-weight-bolder mb-1">{{ ultimaCompra }}</h5>
        <div class="text-muted small font-weight-bold">ÚLTIMA COMPRA</div>
      </div>
      <div class="text-right" *ngIf="ultimaCompraEmpty">
        <h5 class="font-weight-bolder mb-1">Sin datos</h5>
        <div class="text-muted small font-weight-bold">ÚLTIMA COMPRA</div>
      </div>
      <div class="text-right my-auto" *ngIf="!ultimaCompraLoaded && !ultimaCompraEmpty">
        <div class="spinner-border text-dark"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="border rounded bg-white shadow-sm d-flex justify-content-between w-100 p-3 hover" (click)="onUltimosPrecos()">
      <div class="bg-green rounded-circle text-white icon-40 my-auto"><i class="fas fa-dollar-sign"></i></div>
      <div class="text-right" [hidden]="!ultimaCompraLoaded || ultimaCompraEmpty">
        <h5 class="font-weight-bolder mb-1">Politica de precios</h5>
        <div class="text-muted small font-weight-bold">PRATICADOS NOS ÚLTIMOS {{ ultimosPrecosDias }} DIAS</div>
      </div>
      <div class="text-right" *ngIf="ultimaCompraEmpty">
        <h5 class="font-weight-bolder mb-1">Politica de precios</h5>
        <div class="text-muted small font-weight-bold">PRATICADOS NOS ÚLTIMOS DIAS</div>
      </div>
      <div class="text-right my-auto" *ngIf="!ultimaCompraLoaded && !ultimaCompraEmpty">
        <div class="spinner-border text-dark"></div>
      </div>
    </div>
  </div>
</div>
<div class="row" [hidden]="!showUltimosPrecos">
  <div class="col mb-4">
    <div class="border rounded bg-white shadow-sm p-3">
      <div class="d-flex justify-content-between mb-3">
        <div class="mtc-title mb-0">Politica de precios en lineas</div>
        <button
          type="button"
          class="btn-icon"
          (click)="onUltimosPrecos()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <comercial-clientes-dashboard-comercial-ultimos-precos
        [codCliente]="codCliente"
        (qtdeDias)="onUltimosPrecosDias($event)">
      </comercial-clientes-dashboard-comercial-ultimos-precos>
    </div>
  </div>
</div>
