  <loader-spinner-navbar *ngIf="loaderNavbar"></loader-spinner-navbar>
  <app-header appTitle="reporte">
    <button (click)="exportToExcel()" class="btn btn-primary">
      Exportar a Excel
    </button>


    <button type="button" (click)="reporteAgenda()" class="btn btn-primary">Reporte Agenda</button>

  </app-header>
  <app-body [breadCrumbTree]="breadCrumbTree">

    <advanced-filter>
      <form [formGroup]="formFilter">
        <div class="form-row">
          <div class="form-group col-lg-3">
            <label for="fechaInicial">Fecha inicial</label>
            <input
              type="date"
              class="form-control"
              id="fechaInicial"
              formControlName="fechaInicial"
            />
          </div>
          <div class="form-group col-lg-3">
            <label for="fechaFinal">Fecha final</label>
            <input
              type="date"
              class="form-control"
              id="fechaFinal"
              formControlName="fechaFinal"
            />
          </div>
          <div class="form-group col-lg-3">
            <label for="nombreVendedor">Nombre del vendedor</label>
            <select class="form-control custom-select" id="nombreVendedor" formControlName="nombreVendedor">
              <option value="">Seleccione un vendedor</option>
              <option *ngFor="let vendedor of vendedores" [value]="vendedor.id">{{ vendedor.nome }}</option>
            </select>
          </div>

          <div class="form-group col-lg-3">
            <label for="listaSucursales">Lista de sucursales</label>
            <select class="form-control custom-select" id="listaSucursales" formControlName="listaSucursales">
              <option value="">Seleccionar escritorio</option>
              <ng-container *ngFor="let escritorio of escritorios">
                <option [value]="escritorio.codEscritorio" *ngIf="escritorio.nomeEscritorio !== ''">{{ escritorio.nomeEscritorio }}</option>
              </ng-container>
            </select>
          </div>


          <div class="form-group col-lg-3">
            <label for="titulo">Título</label>
            <select class="form-control custom-select" id="titulo" formControlName="titulo">
              <option value="">Seleccionar título</option>
              <option *ngFor="let titulo of titulos" [value]="titulo.codTitulo">{{ titulo.descricaoTitulo }}</option>
            </select>
          </div>

          <div class="form-group col-lg-3">
            <label for="estado">Estado</label>
            <select class="form-control custom-select" id="estado" formControlName="estado">
              <option value="">Seleccionar estado</option>
              <option *ngFor="let estado of estados" [value]="estado.id">{{ estado.nombre }}</option>
            </select>
          </div>


        </div>
        <div class="form-row">
          <!-- Agrega aquí más campos de filtrado avanzado si es necesario -->
        </div>
      </form>
    </advanced-filter>

    <div class="row mt-6">
      <div [ngClass]="{'col-12': !showDetailPanel, 'col-7 pr-0': showDetailPanel}">
        <custom-table [config]="tableConfig">
          <ng-template #thead let-thead>
            <tr>
              <th scope="col"></th>
              <th
                scope="col"
                class="text-center hover"
                (click)="setOrderBy('cliente')">
                <thead-sorter value="Cliente" [active]="orderBy == 'cliente'" [sort]="orderType"></thead-sorter>
              </th>
              <th
                scope="col"
                class="text-center hover"
                (click)="setOrderBy('sucursal')">
                <thead-sorter value="Sucursal" [active]="orderBy == 'sucursal'" [sort]="orderType"></thead-sorter>
              </th>
              <th
                scope="col"
                class="hover"
                (click)="setOrderBy('vendedor')">
                <thead-sorter value="Nombre del Promotor" [active]="orderBy == 'vendedor'" [sort]="orderType"></thead-sorter>
              </th>
              <th scope="col" class="hover">
                <thead-sorter value="Titulo"></thead-sorter>
              </th>
              <th scope="col" class="hover">
                <thead-sorter value="Estado"></thead-sorter>
              </th>
            </tr>
          </ng-template>
          <ng-template #tbody let-tbody>
            <ng-container >
              <tr *ngFor="let cliente of getPaginateData()">
                <td [ngClass]="classStatusBorder(cliente.Estado)" class="text-center hover"></td>
                <td class="text-center hover">{{ cliente.cliente }}</td>
                <td class="hover">{{ cliente.sucursal }}</td>
                <td class="hover">{{ cliente.vendedor }}</td>
                <td class="hover">{{ cliente.motivo }}</td>
                <td class="hover">{{ cliente.Estado }}</td>
                <td>
                  <span tooltip="Datos de Cliente" placement="left" container="body">
                    <button type="button" class="btn-icon-sm" (click)="viewDetails(cliente.id_cliente)">
                      <i class="fas fa-user"></i>
                    </button>
                  </span>
                </td>
              </tr>
              <tr *ngIf="resuldata.length === 0">
                <td colspan="6" class="text-center">Sin datos registrados </td>
              </tr>
            </ng-container>
          </ng-template>
        </custom-table>
        <div class="d-flex justify-content-center mt-3" >
          <pagination
            [maxSize]="maxSize"
            [(totalItems)]="totalItems"
            (pageChanged)="onPageChanged($event)"
            [(itemsPerPage)]="itemsPerPage"
            [boundaryLinks]="true"
            [(ngModel)]="currentPage"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;">
          </pagination>
        </div>
      </div>
      <div class="col-md-5" [hidden]="!showDetailPanel">
        <div class="sticky-top" style="max-height: 400px; overflow-y: auto;">
          <detail-panel>
            <div class="border-right border-left border-bottom px-3 pt-3">
              <div *ngIf="dadosCadastraisLoaded && !dadosCadastraisEmpty">
                <custom-table [config]="tableConfig">
                  <ng-template #thead let-thead>
                    <tr>
                      <th scope="col"></th>
                      <th
                        scope="col"
                        class="text-center hover"
                        (click)="setOrderByclinte('cliente')">
                        <thead-sorter value="Cliente" [active]="orderBy == 'cliente'" [sort]="orderType"></thead-sorter>
                      </th>
                      <th
                        scope="col"
                        class="text-center hover"
                        (click)="setOrderByclinte('sucursal')">
                        <thead-sorter value="Sucursal" [active]="orderBy == 'sucursal'" [sort]="orderType"></thead-sorter>
                      </th>
                      <th scope="col" class="hover">
                        <thead-sorter value="Nombre de Vendedor"></thead-sorter>
                      </th>
                      <th scope="col" class="hover">
                        <thead-sorter value="Titulo"></thead-sorter>
                      </th>
                      <th scope="col" class="hover">
                        <thead-sorter value="Estado"></thead-sorter>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template #tbody let-tbody>
                    <ng-container>
                      <tr *ngFor="let cliente of resultcliente">
                        <td [ngClass]="classStatusBorder(cliente.Estado)" class="text-center hover"></td>
                        <td class="text-center hover">{{ cliente.cliente }}</td>
                        <td class="hover">{{ cliente.sucursal }}</td>
                        <td class="hover">{{ cliente.vendedor }}</td>
                        <td class="hover">{{ cliente.motivo }}</td>
                        <td class="hover">{{ cliente.estado }}</td>
                      </tr>
                      <tr *ngIf="resuldata.length === 0">
                        <td colspan="6" class="text-center">Sin datos registrados</td>
                      </tr>
                    </ng-container>
                  </ng-template>
                </custom-table>
              </div>
            </div>
          </detail-panel>
        </div>
      </div>
    </div>
  </app-body>
