<loader-spinner-full-screen
  *ngIf="loaderFullScreen"
></loader-spinner-full-screen>
<loader-spinner-navbar [hidden]="!loaderNavbar"></loader-spinner-navbar>
<app-header [appTitle]="appTitle">
  <button *ngIf="dados.length > 0" type="button" (click)="exportarExcel()">
    Exportar a Excel
  </button>

  <button type="button" (click)="nuevo()" [disabled]="swOfertaVencida">
    Adicionar
  </button>
  <button
    type="button"
    (click)="onFilter()"
    [disabled]="disableButton || !form.valid"
  >
    Filtrar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loaderFullScreen">
  <div #scrollToFilter>
    <advanced-filter>
      <form [formGroup]="form" autocomplete="off">
        <div class="form-row">
          <!--  <div class="form-group col-lg-3">
            <label for="tipoData">Buscar por</label>
            <select class="form-control custom-select" id="tipoData" formControlName="tipoData">
              <option value="1">Fecha de publicacion</option>
            </select>
          </div> -->
          <div class="form-group col-lg-2">
            <label for="dataInicial">Fecha Creación</label>
            <input
              class="form-control"
              id="dataInicial1"
              type="date"
              formControlName="dataInicial1"
            />
          </div>

          <div class="form-group col-lg-2">
            <label for="dataFinal">Fecha validez</label>
            <input
              class="form-control"
              id="dataInicial2"
              type="date"
              labelForId="dataInicial2"
              formControlName="dataInicial2"
            />
          </div>

          <div class="form-group col-lg-3">
            <label for="status"> ESTADO </label>
            <ng-select
              [searchable]="true"
              [clearable]="true"
              [items]="situacoes"
              [virtualScroll]="true"
              labelForId="status"
              bindLabel="nombre"
              bindValue="id"
              placeholder="Selecione..."
              formControlName="status"
            >
            </ng-select>
          </div>

          <div class="form-group col-lg-2">
            <label for="nrPedido">Núm. pedido</label>
            <input
              type="text"
              id="id_oferta"
              placeholder="Digite..."
              class="form-control"
              formControlName="nrPedido"
              (keydown.enter)="onFilter()"
            />
          </div>
          <div class="form-group col-lg-2">
            <label for="codSAP">Cod. SAP</label>
            <input
              type="text"
              id="codigo_oferta"
              placeholder="Digite..."
              class="form-control"
              formControlName="codigo_oferta"
              (keydown.enter)="onFilter()"
            />
          </div>

          <div class="form-group col-lg-3">
            <label for="codVendedor">Vendedor</label>
            <ng-select
              [items]="vendedores"
              [searchable]="true"
              [clearable]="true"
              labelForId="ID"
              bindValue="ID"
              bindLabel="nombre"
              formControlName="codVendedor"
              placeholder="Seleccione un vendedor"
              notFoundText="No se encontraron resultados"
              [(ngModel)]="this.selectedVendedor"
              [attr.disabled]="selectedVendedor ? true : null"
              [attr.readonly]="selectedVendedor ? 'readonly' : null"
            >
            </ng-select>
          </div>

          <div class="form-group col-lg-4">
            <label for="cliente">Clientes</label>
            <ng-select
              [items]="clientes"
              [searchable]="true"
              [clearable]="true"
              labelForId="id_cliente"
              bindValue="id_cliente"
              bindLabel="nombre"
              formControlName="cliente"
              placeholder="Selecciona un cliente"
              notFoundText="No se encontraron resultados"
              >http://localhost:4200/#/comercial/ciclo-vendas/23/cotacoes-pedidos
            </ng-select>
          </div>

          <div class="form-group">
            <label for="registros"> Registros </label>
            <ng-select
              [searchable]="true"
              [clearable]="true"
              [items]="reg"
              [virtualScroll]="true"
              labelForId="registros"
              bindLabel="ds"
              bindValue="cd"
              placeholder="Selecione..."
              formControlName="registros"
              [ngClass]="
                onFieldError('registros') + ' ' + onFieldRequired('registros')
              "
            >
            </ng-select>
            <invalid-form-control
              [show]="onFieldInvalid('registros')"
              message="Los registros son obligatorios"
            >
            </invalid-form-control>
          </div>
        </div>
        <div class="form-row">
          <div *ngIf="filtroCotacoes" class="form-group col-lg-1">
            <label for="statusCliente">Status Cliente</label>
            <select
              class="form-control custom-select"
              id="statusCliente"
              formControlName="statusCliente"
            >
              <option>TODOS</option>
              <option value="Ativo">CERRADO</option>
              <option value="Inativo">BORRADOR</option>
            </select>
          </div>
        </div>
      </form>
    </advanced-filter>
  </div>

  <ul class="horizontal-list">
    <li *ngFor="let item of leyendas" class="text-muted" st>
      <i class="fas fa-paper-plane" style="color:{{ item.hex }};"></i>
      {{ item.text }}
    </li>
  </ul>

  <div class="row">
    <div class="col-12">
      <custom-table
        class="table-responsive"
        [config]="tableConfig"
        [hidden]="!noResult"
      >
        <ng-template #thead let-thead>
          <tr class="text-center">
            <th
              scope="col"
              class="text-center"
              (click)="setOrderBy('codigo_oferta')"
            >
              <thead-sorter
                value="Cod.SAP"
                [active]="orderBy == 'codigo_oferta'"
                [sort]="orderType"
              >
              </thead-sorter>
            </th>
            <th
              scope="col"
              class="text-center"
              (click)="setOrderBy('fecha_inicial')"
            >
              <thead-sorter
                value="Fecha CREACIÓN"
                [active]="orderBy == 'fecha_inicial'"
                [sort]="orderType"
              >
              </thead-sorter>
            </th>
            <th scope="col" class="text-center">
              <thead-sorter
                value="Fecha VALIDEZ"
                [active]="orderBy == 'fecha_final'"
                [sort]="orderType"
                (click)="setOrderBy('fecha_final')"
              >
              </thead-sorter>
            </th>
            <th scope="col">
              <thead-sorter
                value="Cliente"
                [active]="orderBy == 'id_cliente'"
                [sort]="orderType"
                (click)="setOrderBy('id_cliente')"
              >
              </thead-sorter>
            </th>
            <th scope="col">
              <thead-sorter
                value="Vendedor"
                [active]="orderBy == 'id_vendedor'"
                [sort]="orderType"
                (click)="setOrderBy('id_vendedor')"
              >
              </thead-sorter>
            </th>
            <th scope="col">
              <thead-sorter
                value="Modo de entrega"
                [active]="orderBy == 'id_modo_entrega'"
                [sort]="orderType"
                (click)="setOrderBy('id_modo_entrega')"
              >
              </thead-sorter>
            </th>
            <th scope="col">
              <thead-sorter
                value="Situacion"
                [active]="orderBy == 'estado_oferta'"
                [sort]="orderType"
                (click)="setOrderBy('estado_oferta')"
              >
              </thead-sorter>
            </th>
            <th scope="col">
              <thead-sorter
                value="Estado Oferta"
                [active]="orderBy == 'tipo_estado'"
                [sort]="orderType"
                (click)="setOrderBy('tipo_estado')"
              >
              </thead-sorter>
            </th>
            <th scope="col">Acciones</th>
          </tr>
        </ng-template>

        <ng-template #tbody let-tbody *ngIf="dados">
          <tr
            *ngFor="let pedido of dados | slice : begin : end; let i = index"
            [tooltip]="pedido.tipo_estado == 14 ? '' : ''"
            class="hover"
          >
            <td
              class="hover text-dark text-center"
              *ngIf="pedido.codigo_oferta !== null; else segCodigo"
              style="border-left-color: #32a852; font-weight: bold"
            >
              {{ pedido.codigo_oferta }}
            </td>
            <ng-template #segCodigo>
              <td
                class="hover-danger text-dark text-center"
                *ngIf="pedido.codigo_oferta === null"
                style="border-left-color: #c40f06; font-weight: bold"
              >
                Sin codigo SAP
              </td>
            </ng-template>
            <td class="text-center hover">
              {{ pedido.fecha_inicial | date : 'dd/MM/yyyy' }}
            </td>
            <td class="text-center hover">
              {{ pedido.fecha_final | date : 'dd/MM/yyyy' }}
            </td>
            <td class="text-center hover">
              {{ pedido.prim_nome | uppercase }}
            </td>
            <td class="text-center hover">{{ pedido.nombre | uppercase }}</td>

            <td class="text-center hover">
              {{ pedido.nombre_modo_entrega }}
            </td>

            <td class="text-center hover">
              <i
                *ngIf="pedido.tipo_estado !== 14"
                class="text-danger"
                [tooltip]="'Cerrado por: ' + pedido.descripcionofe"
                >CERRADO</i
              >
              <i *ngIf="pedido.tipo_estado === 14" class="text-primary"
                >ABIERTO</i
              >
            </td>

            <td class="text-center hover">{{ pedido.descripcion_cierre }}</td>
            <td class="text-center hover">
              <div class="row">
                <!-- EDITAR -->
                <div class="col text-center" style="padding: 0%">
                  <a
                    style="padding: 0%"
                    class=""
                    [tooltip]="'Editar Oferta'"
                    (click)="onEdit2(pedido.id_oferta)"
                    ><i class="fas fa-pencil-alt mr-2 icono" style="margin-right: 2px !important; color:black!important;"></i>
                   
                    <span class="sr-only">Refreshing...</span>
                  </a>
                </div>
                <!-- PDF -->
                <div class="col-md text-center" style="padding: 0%">
                  <a
                    style="padding: 0%; color: rgb(6, 68, 14)"
                    class=""
                    routerLink="/pdf"
                    [tooltip]="'PDF'"
                    (click)="onImprimir(pedido.id_oferta)"
                    ><i class="far fa-file-pdf text-primary icono"></i
                    ><span class="text-uppercase"> </span
                  ></a>
                </div>
                <!-- VISTA -->
                <div class="col-md text-center" style="padding: 0%;">
                  <a
                    class=""
                    style="padding: 0%"
                    routerLink="/vista"
                    [tooltip]="'VISTA'"
                    (click)="onVista(pedido.id_oferta)"
                  >
                    <i class="far fa-eye icono" style="color:#3e0752 !important;"></i>
                    <!-- <span class="text-uppercase"></span> -->
                  </a>
                </div>
                <!-- ESTADO -->
                <div class="col-md text-center" style="padding: 0%">
                  <a
                    style="padding: 0%"
                    class=""
                    [tooltip]="'Sin Codigo de SAP'"
                    *ngIf="
                      pedido.codigo_oferta === null &&
                        pedido.tipo_estado === 14 &&
                        pedido.estado_oferta === 1;
                      else otroBoton
                    "
                    routerLink="/enviar_sap"
                    (click)="onEnviarSap(pedido.id_oferta)"
                  >
                    <i class="far fa-paper-plane text-danger icono"></i>
                    <span class="text-uppercase"></span>
                  </a>

                  <ng-template #otroBoton>
                    <a
                      style="padding: 0%"
                      class=""
                      [tooltip]="'Pendiente'"
                      *ngIf="
                        pedido.estado_oferta === 10 &&
                          pedido.tipo_estado === 14;
                        else tercerBoton
                      "
                      disabled
                    >
                      <i
                        class="fas fa-paper-plane text-warning icono"
                        disabled
                      ></i
                      ><span class="text-uppercase"></span>
                    </a>
                  </ng-template>

                  <ng-template #tercerBoton>
                    <a
                      style="padding: 0%"
                      class=""
                      [tooltip]="'Enviado a SAP'"
                      *ngIf="pedido.codigo_oferta !== null"
                      disabled
                    >
                      <i
                        class="fas fa-paper-plane icono text-success"
                        disabled
                      ></i
                      ><span class="text-uppercase"></span>
                    </a>
                  </ng-template>
                </div>
                <!-- ACTUALIZAR -->
                <div class="col text-center" style="padding: 0%">
                  <a
                    style="padding: 0%"
                    class=""
                    [tooltip]="'Vigencia de la Oferta'"
                    (click)="onEstadoOferta(pedido.codigo_oferta)"
                    ><i
                      class="fas fa-sync-alt mr-2 icono text-dark"
                      id="verificador"
                    ></i>
                    <span class="sr-only">Refreshing...</span>
                  </a>
                </div>
              </div>
            </td>
            <!--
              <td class="hover" (click)="viewRegister(i, pedido)" [hidden]="showDetailPanel">{{ pedido.nomeEmpresa | uppercase }}</td>
              <td class="hover" (click)="viewRegister(i, pedido)" [hidden]="showDetailPanel">{{ pedido.nomeVendedor | uppercase }}</td> -->
          </tr>
        </ng-template>
      </custom-table>
      <div class="d-flex flex-column align-items-center mt-3">
        <div class="d-flex justify-content-center">
          <pagination
            [maxSize]="10"
            [totalItems]="totalItems"
            [(itemsPerPage)]="itemsPerPage"
            (pageChanged)="onPageChanged($event)"
            [boundaryLinks]="true"
            [(ngModel)]="currentPage"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;"
          >
          </pagination>
        </div>
        <div class="mb-2">
          Total {{ itemsPerPage * (currentPage - 1) + 1 }} a
          {{
            currentPage * itemsPerPage > totalItems
              ? totalItems
              : currentPage * itemsPerPage
          }}
          de {{ totalItems }} ofertas
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="dadosEmpty && !dadosLoaded"
    class="text-center d-flex justify-content-center align-items-center"
    style="height: 80%"
  >
    <empty-result message="Ninguna información encontrada"></empty-result>
  </div>

  <ng-template #alertaOferta>
    <comercial-ciclo-vendas-cotacoes-lista-modal-alerta-oferta
      [ofertasPendientes]="arrayOfertas"
    >
    </comercial-ciclo-vendas-cotacoes-lista-modal-alerta-oferta>
  </ng-template>
</app-body>
