<div class="row">
  <div class="col-md-4 mb-4 mb-md-0">
    <div class="border rounded bg-white shadow-sm d-flex justify-content-between w-100 p-3">
      <div class="bg-gray rounded-circle text-white icon-40 my-auto"><i class="fas fa-chart-pie"></i></div>
      <div class="text-right" [hidden]="!registroOcorrenciasLoaded || totalEmpty">
        <h5
          class="font-weight-bolder mb-1"
          counto
          [step]="30"
          [countTo]="total"
          [countFrom]="0"
          [duration]="3"
          (countoChange)="countoTotal = $event">
          {{ countoTotal | number:'1.0-0' }}
        </h5>
        <div class="text-muted small font-weight-bold">TOTAL DE OCORRÊNCIAS</div>
      </div>
      <div class="text-right" *ngIf="totalEmpty">
        <h5 class="font-weight-bolder mb-1">0</h5>
        <div class="text-muted small font-weight-bold">TOTAL DE OCORRÊNCIAS</div>
      </div>
      <div class="text-right my-auto" *ngIf="!registroOcorrenciasLoaded && !totalEmpty">
        <div class="spinner-border text-dark"></div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4 mb-md-0">
    <div class="border rounded bg-white shadow-sm d-flex justify-content-between w-100 p-3">
      <div class="bg-orange rounded-circle text-white icon-40 my-auto"><i class="fas fa-exclamation"></i></div>
      <div class="text-right" [hidden]="!registroOcorrenciasLoaded || sinalizacaoEmpty">
        <h5
          class="font-weight-bolder mb-1"
          counto
          [step]="30"
          [countTo]="sinalizacao"
          [countFrom]="0"
          [duration]="3"
          (countoChange)="countoSinalizacao = $event">
          {{ countoSinalizacao | number:'1.0-0' }}
        </h5>
        <div class="text-muted small font-weight-bold">SINALIZAÇÃO</div>
      </div>
      <div class="text-right" *ngIf="sinalizacaoEmpty">
        <div class="number">0</div>
        <div class="text-muted small font-weight-bold">SINALIZAÇÃO</div>
      </div>
      <div class="text-right my-auto" *ngIf="!registroOcorrenciasLoaded && !sinalizacaoEmpty">
        <div class="spinner-border text-dark"></div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="border rounded bg-white shadow-sm d-flex justify-content-between w-100 p-3">
      <div class="bg-red rounded-circle text-white icon-40 my-auto"><i class="fas fa-bullhorn"></i></div>
      <div class="text-right" [hidden]="!registroOcorrenciasLoaded || reclamacaoEmpty">
        <h5
          class="font-weight-bolder mb-1"
          counto
          [step]="30"
          [countTo]="reclamacao"
          [countFrom]="0"
          [duration]="3"
          (countoChange)="countoReclamacao = $event">
          {{ countoReclamacao | number:'1.0-0' }}
        </h5>
        <div class="text-muted small font-weight-bold">RECLAMAÇÃO</div>
      </div>
      <div class="text-right" *ngIf="reclamacaoEmpty">
        <div class="number">0</div>
        <div class="text-muted small font-weight-bold">RECLAMAÇÃO</div>
      </div>
      <div class="text-right my-auto" *ngIf="!registroOcorrenciasLoaded && !reclamacaoEmpty">
        <div class="spinner-border text-dark"></div>
      </div>
    </div>
  </div>
</div>
