<loader-spinner-full-screen *ngIf="loaderFullScreen"></loader-spinner-full-screen>
<div class="modal-content" *ngIf="dataCotacao" [hidden]="loaderFullScreen">
  <form [formGroup]="checkoutForm" autocomplete="off" #autorizaciones (ngSubmit)="onSubmit(checkoutForm.value)">
  <div class="modal-header" id="actions">
    <h4 class="mtc-title mb-0 my-auto">Cotización #{{ dataCotacao.id_oferta }} / Realizada con éxito</h4>
    <button class="btn btn-success" type="submit">Finalizar</button>
  </div>
  <div class="modal-body py-5">
    <div class="row">
      <div class="col">
        <div class="mtc-title">Resumen de Pedido</div>
        <div class="my-auto">
          <span class="mtc-title mb-0 mr-2">Cotización realizada para:</span>
          <span> {{ dataCotacao.nombre_cliente }} </span>
        </div>

        <custom-table [config]="tableConfig">
          <ng-template #thead let-thead>
            <tr>
              <th scope="col" width="10%" class="text-center">Código</th>
              <th scope="col" width="34%">Nombre</th>
              <th scope="col" width="12%" class="text-center">Peso Kg.</th>
              <th scope="col" width="12%" class="text-center">Cantidad.</th>
              <th scope="col" width="12%" class="text-center">Descuento.</th>
              <th scope="col" width="12%" class="text-center">Descuento Permitido.</th>
              <th scope="col" width="12%" class="text-center">USD.</th>
              <th scope="col" width="20%">Almacen</th>
            </tr>
          </ng-template>
          <ng-template #tbody let-tbody>
            <tr *ngFor="let material of dataCotacao.carrinho; let i = index">
              <td width="10%" class="text-center">{{ material.codItemPedidoCliente | uppercase }}</td>
              <td width="34%" class="text-truncate">{{ material.nomeMaterial | uppercase }} </td>
              <td width="12%" class="text-center">{{ material.quantidade | number:'1.3-3' }} </td>
              <td width="12%" class="text-center"><span class="mr-2"> {{ material.qtdeItem }} </span>
                <i
                  *ngIf="material.variacaoPreco !== 0"
                  [ngClass]="classVariacaoPreco(material.variacaoPreco)"
                  [tooltip]="formatVariacaoPreco(material.variacaoPreco)">
                </i>
              </td>
              <td width="12%" class="text-center" [ngStyle]="{'color': material.percentualDesc > material.descuento_permitido ? 'red' : 'green'}">{{ material.percentualDesc| number:'1.2-2'  }} </td>
              <td width="12%" class="text-center">{{ material.descuento_permitido| number:'1.2-2'  }} </td>
              <td width="12%" class="text-center">{{ material.valorTotal| number:'1.2-2'  }} </td>
              <td width="20%" class="text-truncate">{{ material.codDeposito | uppercase }}  </td>
            </tr>
            <tr>
              <td width="10%"></td>
              <td width="34%" class="text-right">TOTAL</td>
              <td width="12%" class="text-center"> {{ calcularTotais('quantidade') | number:'1.3-3' }} KG</td>
              <td width="12%" class="text-center"></td>
              <td width="12%" class="text-center"></td>
              <td width="12%" class="text-center"></td>
              <td width="12%" class="text-center">{{ calcularTotais('valor') | number:'1.3-3' }} USD.</td>
              <td width="20%"></td>
            </tr>
          </ng-template>
        </custom-table>
      </div>
    </div>
      <div class="row">
        <div class="col-md-6 callout callout-danger" >
          <span class="mtc-title" id="titulo_observacio">Observación del Ejecutivo de venta:</span>
          <br>
         <input type="text" name="observacion" formControlName="observacion" id="observacion" class="form-control" disabled="verificador()">
        </div>
      </div>
  </div>
</form>
</div>



