<loader-spinner-navbar *ngIf="loadingNavBar"></loader-spinner-navbar>
<loader-spinner-full-screen *ngIf="loading"></loader-spinner-full-screen>
<app-header appTitle="Checklist">
  <button
  type="button"
  (click)="onExport()"
  [disabled]="loadingNavBar || noResult">
  Exportar
</button>
  <button
    type="button"
    (click)="onReset()">
    Limpar
  </button>
  <button
    type="button"
    [routerLink]="['../novo']">
    Adicionar
  </button>
  <button
    type="button"
    (click)="onFilter()">
    Filtrar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loading">
  <div class="row" #scrollToFilter>
    <div class="col">
      <advanced-filter>
        <form [formGroup]="form" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-md-5 pl-0">
              <label for="filterChecklist">Checklist</label>
              <ng-select
                [searchable]="true"
                [clearable]="true"
                [items]="filterChecklist"
                [virtualScroll]="true"
                placeholder="Selecione..."
                [loading]="loadingChecklist"
                labelForId="ID_LOGI_YMS_CHEC"
                bindLabel="NM_CHEC"
                bindValue="ID_LOGI_YMS_CHEC"
                id="ID_LOGI_YMS_CHEC"
                formControlName="ID_LOGI_YMS_CHEC">
              </ng-select>
            </div>
            <div class="form-group col-md-2 pl-0">
              <label for="IN_STAT">Situação</label>
              <ng-select
              [searchable]="true"
              [clearable]="false"
              [items]="tipos"
              [virtualScroll]="true"
              labelForId="tipo"
              bindLabel="nome"
              bindValue="cod"
              id="tipo"
              (change)="onFilter()"
              formControlName="IN_STAT"
              (keydown.enter)="onFilter()"
              placeholder="Selecione..."
            >
            </ng-select>
            </div>
            <div class="form-group col-md-1 p-0">
              <label>Registros</label>
              <select 
                class="form-control custom-select"
                formControlName="TT_REGI_PAGI"
                (keydown.enter)="onFilter()"
                (change)="setPageRegistros($event.target.value)"  
              >
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="250">250</option>
                <option value="500">500</option>
              </select>
            </div>
          </div>
        </form>
      </advanced-filter>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <subtitles
        [data]="subtitles"
        [show]="!noResult">
      </subtitles>
    </div>
  </div>
  <div class="d-flex" [hidden] = "loading || noResult">
    <div class="p-0" [ngClass]="{'col': !showDetailPanel, 'col-6': showDetailPanel}">
      <div class="w-100">
        <custom-table  [config]="tableConfig" class="text-center" *ngIf="!noResult">
          <ng-template #thead let-thead>
            <tr>
              <th scope="col" >ID</th>
              <th scope="col" >Descrição</th>
              <th scope="col" style="width:120px"[hidden]="showDetailPanel"></th>
            </tr>
          </ng-template>
          <ng-template #tbody let-tbody>
            <tr *ngFor="let check of checklist"  [class.table-active]="check?.ID_LOGI_YMS_CHEC == checklistSelecionado?.ID_LOGI_ENMA_FHNC_OCPR && showDetailPanel">
              <td  [ngClass]="check.IN_STAT == '1' ? 'border-success' : 'border-danger'">
              {{check.ID_LOGI_YMS_CHEC }}
              </td>
              <td >{{ check.NM_PARE | uppercase}}</td>
              <td class="align-middle" [hidden]="showDetailPanel">
                <span class="mr-3" [tooltip]="check.IN_STAT == 1 ? 'Inativar' : 'Ativar'" placement="left" container="body">
                  <button type="button" class="btn-icon-sm" (click)="changeType(check)">
                    <i [ngClass]="check.IN_STAT == '1' ? 'fas fa-toggle-on' : 'fas fa-toggle-off'"></i>
                  </button>
                </span>
                <span class="mr-3" tooltip="Editar" placement="left" container="body">
                  <button type="button" class="btn-icon-sm" [routerLink]="['./../', check.ID_LOGI_YMS_CHEC]">
                    <i class="fas fa-edit"></i>
                  </button>
                </span>
                <span class="mr-3"  tooltip="Detalhes" placement="left" container="body" >
                  <button type="button" class="btn-icon-sm" (click)="onDetails(check)">
                    <i class="fas fa-search"></i>                  
                  </button>
                </span>
              </td>
            </tr>
          </ng-template>
        </custom-table><br>
      </div>
      <div *ngIf="totalItems > itemsPerPage">
        Exibindo {{ itemsPerPage*(currentPage - 1) + 1 }} a {{ currentPage*(itemsPerPage) > totalItems ? totalItems : currentPage*(itemsPerPage) }} de {{ totalItems }}
        <pagination
          [maxSize]="10"
          [totalItems]="totalItems"
          (pageChanged)="onPageChanged($event)"
          [(itemsPerPage)]="itemsPerPage"
          [boundaryLinks]="true"
          [(ngModel)]="currentPage"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      </div>
    </div>
    <div class="col-6 pr-0" [hidden]="!showDetailPanel">
      <detail-panel panelTitle="Histórico de alteração">
        <custom-table>
          <ng-template #thead let-thead>
            <tr>
              <th scope="col" class="text-center">Data</th>
              <th scope="col">Usuário</th>
            </tr>
          </ng-template>
          <ng-template #tbody let-tbody>
            <tr>
              <td class="text-center" *ngIf="checklistSelecionado?.DT_INCL != null && checklistSelecionado?.DT_ATUA == null ">{{ checklistSelecionado?.DT_INCL | date: 'dd/MM/yyyy HH:mm' }}</td>
              <td class="text-center" *ngIf="checklistSelecionado?.DT_INCL != null && checklistSelecionado?.DT_ATUA != null ">{{ checklistSelecionado?.DT_ATUA | date: 'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ checklistSelecionado?.NM_USUA | uppercase }}</td>
            </tr>
          </ng-template>
        </custom-table>
      </detail-panel>
    </div>
  </div>
  <div [hidden]="loading || !noResult" class="text-center d-flex justify-content-center align-items-center" style="height: 80%">
    <empty-result message="Nenhuma informação encontrada"></empty-result>
  </div>
</app-body>