<app-header appTitle="Detalhes do compromisso">
  <button
    type="button"
    (click)="onEdit(detalhes)">
    Editar
  </button>
  <button
    type="button"
    (click)="onReschedule(detalhes)">
    Reagendar
  </button>
  <button
    type="button"
    (click)="onDelete(detalhes)">
    Excluir
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form-row">
        <div class="form-group col">
          <label>Título</label>
          <div>{{ detalhes.title }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Cliente</label>
          <div *ngIf="!detalhes.client">NÃO INFORMADO</div>
          <div *ngIf="detalhes.client">{{ detalhes.client }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Forma contato</label>
          <div *ngIf="!detalhes.formContactDesc">NÃO INFORMADO</div>
          <div *ngIf="detalhes.formContactDesc">{{ detalhes.formContactDesc }}</div>
        </div>
        <div class="form-group col-sm-6">
          <label>Origem contato</label>
          <div *ngIf="!detalhes.typeContactDesc">NÃO INFORMADO</div>
          <div *ngIf="detalhes.typeContactDesc">{{ detalhes.typeContactDesc }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Data</label>
          <div>{{ detalhes.fullDate | uppercase }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Observação</label>
          <div *ngIf="!detalhes.description">NÃO INFORMADO</div>
          <div *ngIf="detalhes.description" [innerHTML]="detalhes.description | uppercase"></div>
        </div>
      </div>
    </div>
  </div>
</app-body>
