<loader-spinner-navbar *ngIf="loaderNavbar"></loader-spinner-navbar>
<app-header appTitle="Cross-Sell de materiais">
  <button
    type="button"
    [routerLink]="['../novo']">
    Adicionar
  </button>
  <button
    type="button"
    (click)="onFilter()">
    Filtrar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree">
  <div class="row" #scrollToFilter>
    <div class="col">
      <advanced-filter>
        <form [formGroup]="form" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="material">
                <span class="mr-1">Material</span>
                <ng-template #tooltipLabelMaterialTemplate>
                  <p class="text-nowrap mb-0">Código</p>
                  <p class="text-nowrap mb-0">de material</p>
                </ng-template>
                <i class="far fa-question-circle" [tooltip]="tooltipLabelMaterialTemplate" container="body"></i>
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="material"
                (keydown.enter)="onFilter()">
            </div>
            <div class="form-group col-lg-3">
              <label for="codSituacao">Situación</label>
              <select
                class="form-control custom-select"
                id="codSituacao"
                formControlName="codSituacao">
                <option value="">Todos</option>
                <option value="0">Inactivo</option>
                <option value="1">Activo</option>
              </select>
            </div>
            <div class="form-group col-lg-3">
              <label for="registros">Registros</label>
              <select
                class="form-control"
                id="registros"
                formControlName="registros">
                <option>25</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
                <option>300</option>
              </select>
            </div>
          </div>
        </form>
      </advanced-filter>
    </div>
  </div>
  <div class="row">
    <div [ngClass]="{'col': !showDetailPanel, 'col-5 pr-0': showDetailPanel}">
      <custom-table [config]="tableConfig" *ngIf="dados.length > 0 && !dadosEmpty">
        <ng-template #thead let-thead>
          <tr>
            <th scope="col" class="text-center hover">
              <thead-sorter
                value="Código "
                [active]="orderBy == 'codMaterial'"
                [sort]="orderType"
                (click)="setOrderBy('codMaterial')">
              </thead-sorter>
            </th>
            <th scope="col" class="hover">
              <thead-sorter
                value="Material"
                [active]="orderBy == 'nomeMaterial'"
                [sort]="orderType"
                (click)="setOrderBy('nomeMaterial')">
              </thead-sorter>
            </th>
            <th scope="col" [hidden]="showDetailPanel">Registro de usuario</th>
            <th scope="col"></th>
          </tr>
        </ng-template>
        <ng-template #tbody let-tbody>
          <tr *ngFor="let crossSell of dados; let i = index;" [class.table-active]="crossSell.codMaterial == crossSellSelecionada.codMaterial && showDetailPanel">
            <td
              class="text-center hover"
              [ngClass]="classStatusBorder(crossSell)"
              (click)="onDetails(crossSell)">
              {{ crossSell.codMaterial }}
            </td>
            <td
              class="hover"
              (click)="onDetails(crossSell)">
              {{ crossSell.nomeMaterial | uppercase }}
            </td>
            <td
              class="hover"
              (click)="onDetails(crossSell)"
              [hidden]="showDetailPanel">
              <span *ngIf="crossSell.nomeUsuario === null">NO INFORMADO</span>
              <span *ngIf="crossSell.nomeUsuario !== null">
                {{ crossSell.nomeUsuario | uppercase }}
              </span>
            </td>
            <td class="text-right">
              <span *ngIf="crossSell.codSituacao == 0" class="mr-3" tooltip="Ativar" placement="left" container="body">
                <button type="button" class="btn-icon-sm" (click)="onActivate(i, crossSell)">
                  <i class="fas fa-toggle-off"></i>
                </button>
              </span>
              <span *ngIf="crossSell.codSituacao == 1" class="mr-3" tooltip="Inativar" placement="left" container="body">
                <button type="button" class="btn-icon-sm" (click)="onInactivate(i, crossSell)">
                  <i class="fas fa-toggle-on"></i>
                </button>
              </span>
              <span class="mr-3" tooltip="Editar" placement="left" container="body">
                <button type="button" class="btn-icon-sm" (click)="onEdit(crossSell)">
                  <i class="fas fa-edit"></i>
                </button>
              </span>
            </td>
          </tr>
        </ng-template>
      </custom-table>
      <empty-result message="Nenhuma informação encontrada" *ngIf="dadosEmpty && !dadosLoaded"></empty-result>
      <div class="d-flex justify-content-center mt-3" *ngIf="totalItems > itemsPerPage && !loaderNavbar">
        <pagination
          [maxSize]="maxSize"
          [(totalItems)]="totalItems"
          (pageChanged)="onPageChanged($event)"
          [(itemsPerPage)]="itemsPerPage"
          [boundaryLinks]="true"
          [(ngModel)]="currentPage"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      </div>
    </div>
    <div class="col-7" [hidden]="!showDetailPanel">
      <detail-panel [panelTitle]="detailPanelTitle">
        <custom-table [config]="tableConfigMateriais" *ngIf="materiais.length > 0">
          <ng-template #thead let-thead>
            <tr>
              <th scope="col" class="text-center">Código</th>
              <th scope="col">Material</th>
            </tr>
          </ng-template>
          <ng-template #tbody let-tbody>
            <tr *ngFor="let material of materiais">
              <td class="text-center">{{ material.codMaterial }}</td>
              <td>{{ material.nomeMaterial | uppercase }}</td>
            </tr>
          </ng-template>
        </custom-table>
      </detail-panel>
    </div>
  </div>
</app-body>
