<loader-spinner-full-screen *ngIf="loading"></loader-spinner-full-screen>
<loader-spinner-navbar [hidden]="!loadingNavBar"></loader-spinner-navbar>
<app-header [appTitle]="appTitle">
  <button 
    [disabled]="loadingNavBar === true"
    [routerLink]="['../../']"
    >
    Finalizar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree">
  <div class="row">
    <div class="col-lg-6">
      <form [formGroup]="form" autocomplete="off">
        <div class="mtc-title">Dados da Setor</div>
        <div class="form-row">
          <div class="form-group col pl-0">
            <label for="setores">Setor</label>
            <ng-select
              [searchable]="true"
              [clearable]="true"
              [items]="setores"
              [virtualScroll]="true"
              placeholder="Selecione..."
              [loading]="loadingSetores"
              labelForId="setores"
              bindLabel="NM_SETO"
              bindValue="UUID_LOGI_YMS_SETO"
              id="setores"
              formControlName="UUID_LOGI_YMS_SETO"
              >
            </ng-select>
          </div>
        </div>
      </form>
      <div class="row mb-4">
        <div class="col mb-3">
          <hr>
        </div>
      </div>
      <div [hidden]="loadingMateriais">
        <div class="row mb-2 mt-4">
          <div class="col mt-auto">
            <div class="mtc-title mb-0">Materiais associados a Setor</div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-end">
              <button
                type="button"
                class="btn btn-sm btn-outline-danger"
                (click)="onRemoverAssociacao()">
                <i class="fas fa-trash"></i>
                <span>Limpar</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!materiaisAssociadosLoading && materiaisAssociados.length > 0">
          <div class="col">
            <custom-table [config]="tableConfigMateriaisAssociados">
              <ng-template #thead let-thead>
                <tr>
                  <th
                    scope="col"
                    class="text-center"
                    style="width: 5%">
                    <btn-icon
                      [icon]="toggle?.materiaisAssociados ? 'fas fa-check-square' : 'far fa-square'"
                      size="small"
                      (click)="onToggleAll('materiaisAssociados')">
                    </btn-icon>
                  </th>
                  <th scope="col" width="20%">ID</th>
                  <th scope="col" width="70%">Material</th>
                  <th scope="col" width="5%"></th>
                </tr>
              </ng-template>
              <ng-template #tbody let-tbody>
                <tr *ngFor="let item of materiaisAssociados" >
                  <td class="text-center" style="width: 5%">
                    <btn-icon
                      [icon]="item.checked == 1 ? 'fas fa-check-square' : 'far fa-square'"
                      size="small"
                      (click)="item.checked = !item.checked">
                    </btn-icon>
                  </td>
                  <td width="20%">{{ item.ID_REFE_ERP }}</td>
                  <td width="70%">
                   {{ item.NM_MATE | uppercase }}
                  </td>
                  <td class="text-center" width="5%" height="26px">
                    <btn-icon
                      icon="fas fa-trash"
                      size="small"
                      (click)="onRemoverAssociacao(item)"
                      *ngIf="!item.loading"  
                    >
                    </btn-icon>
                    <div class="text-primary small" *ngIf="item.loading">
                      <i class="fas fa-spinner fa-spin"></i>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </custom-table>
          </div>
        </div>
        <div class="row" *ngIf="!loadingMateriais && materiaisAssociados.length === 0">
          <div class="col">
            <message
              icon="fas fa-exchange-alt"
              text="Nenhuma associação encontrada">
            </message>
          </div>
        </div>
        <div class="row" *ngIf="loadingMateriais">
          <div class="col">
            <message
              icon="fas fa-cog fa-spin"
              text="Estamos pesquisando os materiais para você...">
            </message>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 border-left">
      <div class="row mb-2">
        <div class="col mt-auto">
          <div class="mtc-title mb-0">Pesquisa de Materiais</div>
        </div>
        <div class="col">
          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary"
              (click)="getMateriais()"
              [disabled]=" formMateriais.valid == false">
              <i class="fas fa-search"></i>
              <span 
              [tooltip]="formMateriais.valid == false ? 'Digite um termo de pesquisa':''"
              container="body"
              placement ="left">Pesquisar</span>
            </button>
          </div>
        </div>
      </div>
      <advanced-filter>
        <form [formGroup]="formMateriais" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-3">
              <label for="cdItem">BUSCAR POR</label>
              <select
                class="form-control custom-select"
                formControlName="buscarPor"
              >
                <option value="ID_REFE_ERP">ID ERP</option>
                <option value="NM_MATE" selected> Nome Material</option>
                <option value="NM_CLAS">Classe</option>
                <option value="NM_LINH">Linha</option>
              </select>
            </div>

            <div class="form-group col-9">
              <label>TERMO DE PESQUISA</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Digite..."
                  formControlName="pesquisa"
                  (keydown.enter)="getMateriais()"
                >
              </div>
            </div>
          </div>
        </form>
      </advanced-filter>
      <div *ngIf="materiais.length > 0 && !materiaisLoading">
        <div class="row mb-2">
          <div class="col mt-auto">
            <div class="mtc-title mb-0">Seleção de Material</div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-end">
              <button
                type="button"
                class="btn btn-sm btn-outline-primary"
                (click)="onAssociarMateriais()"
                [disabled]="searching === true || form.valid === false">
                <i class="fas fa-exchange-alt"></i>
                <span
                  [tooltip]="form.valid == false ? 'Selecione uma Setor':''"
                  container="body"
                  placement ="left">Associar
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <custom-table [config]="tableConfigMateriais">
              <ng-template #thead let-thead>
                <tr>
                  <th
                    scope="col"
                    class="text-center"
                    style="width: 5%">
                    <btn-icon
                      [icon]="toggle?.materiais ? 'fas fa-check-square' : 'far fa-square'"
                      size="small"
                      (click)="onToggleAll('materiais')">
                    </btn-icon>
                  </th>
                  <th scope="col" style="width: 90%">Materiais</th>
                  <th style="width: 5%"></th>
                </tr>
              </ng-template>
              <ng-template #tbody let-tbody>
                <tr *ngFor="let item of materiais">
                  <td class="text-center" style="width: 5%">
                    <btn-icon
                      [icon]="item.checked == 1 ? 'fas fa-check-square' : 'far fa-square'"
                      size="small"
                      (click)="item.checked = !item.checked">
                    </btn-icon>
                  </td>
                  <td
                    class="hover"
                    style="width: 90%"
                    (click)="item.checked = !item.checked">
                    {{ item.ID_REFE_ERP }} - {{ item.NM_MATE | uppercase }}
                  </td>
                  <td style="width: 5%; height: 26px">
                    <div class="text-primary small" *ngIf="item.loading">
                      <i class="fas fa-spinner fa-spin"></i>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </custom-table>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="materiaisLoading">
        <div class="col">
          <message
            icon="fas fa-cog fa-spin"
            text="Estamos pesquisando os materiais para você...">
          </message>
        </div>
      </div>
      <div>
        <div class="row" *ngIf="(materiais.length == 0) && !materiaisLoading">
          <div class="col">
            <message
              icon="fas fa-box-open"
              text="Nenhuma informação encontrada">
            </message>
          </div>
        </div>
        <!-- <div class="row" *ngIf="materiaisLista.length === 0 && !firstSearch">
          <div class="col">
            <message
              icon="fas fa-search"
              text="Preecha os campos acima para pesquisar materiais">
            </message>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</app-body>

