<loader-spinner-navbar *ngIf="loadingNavBar"></loader-spinner-navbar>
<loader-spinner-full-screen *ngIf="loading"></loader-spinner-full-screen>
<app-header appTitle="MATERIAIS POR SETOR">
  <button
  type="button"
  (click)="onExport()"
  [disabled]="loadingNavBar || noResult">
  Exportar
</button>
  <button
    type="button"
    (click)="onReset()">
    Limpar
  </button>
  <button
    type="button"
    [routerLink]="['../novo']">
    Adicionar
  </button>
  <button
    type="button"
    (click)="onFilter()">
    Filtrar
  </button>
</app-header>
<app-body [breadCrumbTree]="breadCrumbTree" [show]="!loading">
  <div class="row" #scrollToFilter>
    <div class="col">
      <advanced-filter>
        <form [formGroup]="form" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-md-5 pl-0">
              <label for="filterSetores">Setor</label>
              <ng-select
                [searchable]="true"
                [clearable]="true"
                [items]="filterSetores"
                [virtualScroll]="true"
                placeholder="Selecione..."
                [loading]="loadingSetores"
                labelForId="UUID_LOGI_YMS_SETO"
                bindLabel="NM_SETO"
                bindValue="UUID_LOGI_YMS_SETO"
                id="UUID_LOGI_YMS_SETO"
                formControlName="UUID_LOGI_YMS_SETO">
              </ng-select>
            </div>
            <div class="form-group col-md-2 pl-0">
              <label for="IN_STAT">Situação</label>
              <ng-select
              [searchable]="true"
              [clearable]="false"
              [items]="tipos"
              [virtualScroll]="true"
              labelForId="tipo"
              bindLabel="nome"
              bindValue="cod"
              id="tipo"
              (change)="onFilter()"
              formControlName="IN_STAT"
              (keydown.enter)="onFilter()"
              placeholder="Selecione..."
            >
            </ng-select>
            </div>
            <div class="form-group col-md-1 p-0">
              <label>Registros</label>
              <select 
                class="form-control custom-select"
                formControlName="TT_REGI_PAGI"
                (keydown.enter)="onFilter()"
                (change)="setPageRegistros($event.target.value)"  
              >
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="250">250</option>
                <option value="500">500</option>
              </select>
            </div>
          </div>
        </form>
      </advanced-filter>
    </div>
  </div>
  <div class="d-flex" [hidden] = "loading || noResult">
    <div class="p-0" [ngClass]="{'col': !showDetailPanel, 'col-6': showDetailPanel}">
      <div class="w-100">
        <custom-table  [config]="tableConfig" class="text-center" *ngIf="!noResult">
          <ng-template #thead let-thead>
            <tr>
              <th scope="col" >ID</th>
              <th scope="col" >Setor</th>
              <th scope="col" >Tipo de Setor</th>
              <th scope="col" style="width:30px"[hidden]="showDetailPanel"></th>
              <th scope="col" style="width:30px"></th>
            </tr>
          </ng-template>
          <ng-template #tbody let-tbody>
            <tr *ngFor="let setor of setores"  [class.table-active]="setor?.UUID_LOGI_YMS_SETO == associacaoSelecionada?.UUID_LOGI_YMS_SETO && showDetailPanel">
              <td>
              {{setor.UUID_LOGI_YMS_SETO }}
              </td>
              <td >{{ setor.NM_SETO | uppercase}}</td>
              <td >{{ setor.NM_SETO_TIPO | uppercase}}</td>
              <td class="align-middle"  [hidden]="showDetailPanel">
                <span tooltip="Editar" placement="left" container="body">
                  <button type="button" class="btn-icon-sm" [routerLink]="['./../', setor.UUID_LOGI_YMS_SETO]">
                    <i class="fas fa-edit"></i>
                  </button>
                </span>
              </td>
              <td class="align-middle">
                <span class="mr-3"  tooltip="Detalhes" placement="left" container="body" >
                  <button type="button" class="btn-icon-sm" (click)="onDetails(setor)">
                    <i class="fas fa-search"></i>                  
                  </button>
                </span>
              </td>
            </tr>
          </ng-template>
        </custom-table><br>
      </div>
      <div *ngIf="totalItems > itemsPerPage">
        Total {{ itemsPerPage*(currentPage - 1) + 1 }} a {{ currentPage*(itemsPerPage) > totalItems ? totalItems : currentPage*(itemsPerPage) }} de {{ totalItems }}
        <pagination
          [maxSize]="10"
          [totalItems]="totalItems"
          (pageChanged)="onPageChanged($event)"
          [(itemsPerPage)]="itemsPerPage"
          [boundaryLinks]="true"
          [(ngModel)]="currentPage"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      </div>
    </div>
    <div class="col-6 pr-0" [hidden]="!showDetailPanel">
      <detail-panel>
        <tabset>
          <tab heading="Dados da Area">
            <div class="border-right border-left border-bottom px-3 pt-3">
              <div>
                <div class="form-row mt-3">
                  <div class="form-group col-lg-5">
                    <label>ID do Setor</label>
                    <div>{{ associacaoSelecionada?.UUID_LOGI_YMS_SETO }}</div>
                  </div>
                  <div class="form-group col-lg-7">
                    <label>Descrição do Setor</label>
                    <div>{{ associacaoSelecionada?.NM_SETO | uppercase}}</div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab  heading="Materiais Associados">
            <div class="border-right border-left border-bottom px-3 pt-3">
              <div class="mb-3">
                <custom-table  [config]="tableConfigAssocMateriais" *ngIf="!loadingAssociacaoMateriais && !noAssocMateriais">
                  <ng-template #thead let-thead>
                    <tr>
                      <th scope="col"  width="20%">ID ERP</th>
                      <th scope="col"  width="80%">Material</th>
                    </tr>
                  </ng-template>
                  <ng-template #tbody let-tbody>
                    <tr *ngFor="let material of associacaoMateriais">
                      <td  width="20%">{{ material?.UUID_MATE }}</td>
                      <td  width="80%">{{ material?.NM_MATE_ASSO | uppercase }}</td>
                    </tr>
                  </ng-template>
                </custom-table>
                <message
                  *ngIf="loadingAssociacaoMateriais"
                  icon="fas fa-cog fa-spin"
                  text="Estamos pesquisando os materiais para você...">
                </message>
                <div [hidden]="loadingAssociacaoMateriais || !noAssocMateriais" class="text-center d-flex justify-content-center align-items-center" style="height: 80%">
                  <empty-result message="Nenhuma informação encontrada"></empty-result>
                </div>
              </div>
            </div>
          </tab>       
        </tabset> 
      </detail-panel>
    </div>
  </div>
  <div [hidden]="loading || !noResult" class="text-center d-flex justify-content-center align-items-center" style="height: 80%">
    <empty-result message="Nenhuma informação encontrada"></empty-result>
  </div>
</app-body>